html(lang='en')
  head
  body
    | ﻿

    // [if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]
    // [if IE 7 ]><html class="ie ie7" lang="en"> <![endif]
    // [if IE 8 ]><html class="ie ie8" lang="en"> <![endif]
    // [if (gte IE 9)|!(IE)]><!
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='author' content='DSAThemes')
    meta(name='description' content='VisaPRO - Immigration and Visa Consulting Website Template')
    meta(name='keywords' content='Responsive, DSAThemes, One Page, Landing, Business, Coaching, Consulting, Creative, Immigration, Visa')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //  SITE TITLE 
    title VisaPRO - Immigration and Visa Consulting Website Template
    //  FAVICON AND TOUCH ICONS  
    link(rel='apple-touch-icon' sizes='152x152' href='images/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='120x120' href='images/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='76x76' href='images/apple-touch-icon-76x76.png')
    //  GOOGLE FONTS 
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900&display=swap' rel='stylesheet')
    //  BOOTSTRAP CSS 
    link(href='http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet')
    //  FONT ICONS 
    link(href='css/all.css')
    link(href='css/flaticon.css' rel='stylesheet')
    //  PLUGINS STYLESHEET 
    link(href='css/menu.css' rel='stylesheet')
    link#effect(href='css/dropdown-effects/fade-down.css' media='all' rel='stylesheet')
    link(href='css/tweenmax.css' rel='stylesheet')
    link(href='css/magnific-popup.css' rel='stylesheet')
    link(href='css/owl.carousel.min.css' rel='stylesheet')
    link(href='css/owl.theme.default.min.css' rel='stylesheet')
    //  TEMPLATE CSS 
    link(href='css/orange.css' rel='stylesheet')
    //  STYLE SWITCHER CSS 
    link(href='css/aqua.css' rel='alternate stylesheet' title='aqua-theme')
    link(href='css/blue.css' rel='alternate stylesheet' title='blue-theme')
    link(href='css/darkred.css' rel='alternate stylesheet' title='darkred-theme')
    link(href='css/green.css' rel='alternate stylesheet' title='green-theme')
    link(href='css/olive.css' rel='alternate stylesheet' title='olive-theme')
    link(href='css/red.css' rel='alternate stylesheet' title='red-theme')
    link(href='css/salmon.css' rel='alternate stylesheet' title='salmon-theme')
    link(href='css/teal.css' rel='alternate stylesheet' title='teal-theme')
    link(href='css/yellow.css' rel='alternate stylesheet' title='yellow-theme')
    //  RESPONSIVE CSS 
    link(href='css/responsive.css' rel='stylesheet')
    //
       PRELOADER SPINNER
      		============================================= 
    #loader-wrapper
      #loader
        .cssload-box-loading
    //
       PAGE CONTENT
      		============================================= 
    #page.page
      //
         HEADER
        			============================================= 
      header#header-2.header.white-menu
        .header-wrapper
          //  MOBILE HEADER 
          .wsmobileheader.clearfix
            a#wsnavtoggle.wsanimated-arrow
              span
            span.smllogo
              img(src='images/logo-black.png' width='200' height='50' alt='mobile-logo')
            a.callusbtn(href='tel:123456789')
              i.fas.fa-phone
          //  HEADER STRIP 
          .headtoppart.bg-white.clearfix
            .headerwp.clearfix
              //  Infotmation 
              .headertopleft
                .header-info.clearfix
                  span.txt-400
                    i.fas.fa-map-marker-alt
                    | 121 King St, Melbourne, Victoria 3000
              //  Contacts 
              .headertopright.header-contacts
                a.callusbtn.txt-400(href='tel:123456789')
                  i.fas.fa-phone
                  | +61-2 3456 7890,
                a.callusbtn.b-right.txt-400(href='tel:123456789')  +61-2 7890 3456
                a.txt-400(href='/cdn-cgi/l/email-protection#93eafce6e1f7fcfef2fafdd3fef2faffbdf0fcfe')
                  i.far.fa-envelope-open
                  span.__cf_email__(data-cfemail='563e333a3a391632393b373f387835393b') [email protected]
          //  END HEADER STRIP 
          //  NAVIGATION MENU 
          .wsmainfull.menu.clearfix
            .wsmainwp.clearfix
              //  LOGO IMAGE 
              //  For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 90 pixels) 
              .desktoplogo
                a.logo-black(href='demo-1')
                  img(src='images/logo-black.png' width='180' height='45' alt='header-logo')
              .desktoplogo
                a.logo-white(href='demo-1')
                  img(src='images/logo-white.png' width='180' height='45' alt='header-logo')
              //  MAIN MENU 
              nav.wsmenu.clearfix.blue-header
                ul.wsmenu-list
                  //  DROPDOWN MENU 
                  li(aria-haspopup='true')
                    a(href='#')
                      | Home 
                      span.wsarrow
                    ul.sub-menu
                      li(aria-haspopup='true')
                        a(href='demo-1') Homepage-1
                      li(aria-haspopup='true')
                        a(href='demo-2') Homepage-2
                      li(aria-haspopup='true')
                        a(href='demo-3') Homepage-3
                      li(aria-haspopup='true')
                        a(href='demo-4') Homepage-4
                      li(aria-haspopup='true')
                        a(href='demo-5') Homepage-5
                      li(aria-haspopup='true')
                        a(href='demo-6') Homepage-6
                      li(aria-haspopup='true')
                        a(href='demo-7') Homepage-7
                      li(aria-haspopup='true')
                        a(href='demo-8') Homepage-8
                      li(aria-haspopup='true')
                        a(href='demo-9') Homepage-9
                  //  END DROPDOWN MENU 
                  //  PAGES 
                  li(aria-haspopup='true')
                    a(href='#')
                      | Pages 
                      span.wsarrow
                    .wsmegamenu.clearfix
                      .container
                        .row
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title Standard Pages:
                            li
                              a(href='about') About Us Page
                            li
                              a(href='courses-list') Courses List Page
                            li
                              a(href='course-details') Course Details Page
                            li
                              a(href='partners') Partners & Colleges
                            li
                              a(href='faqs') FAQs Page
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title Special Pages:
                            li
                              a(href='country-details') Countries List Page
                            li
                              a(href='country-details') Country Details Page
                            li
                              a(href='visa-list-1') Visa List Page #1
                            li
                              a(href='visa-list-2') Visa List Page #2
                            li
                              a(href='visa-details') Visa Details Page
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title Auxiliary Pages:
                            li
                              a(href='blog-listing') Blog Listing Page
                            li
                              a(href='single-post') Single Blog Post
                            li
                              a(href='contacts-1') Contact Style #1
                            li
                              a(href='contacts-2') Contact Style #2
                            li
                              a(href='contacts-3') Contact Style #3
                        //  End row 
                      //  End container 
                    //  End wsmegamenu 
                  //  END PAGES 
                  //  MEGAMENU 
                  li(aria-haspopup='true')
                    a(href='#')
                      | Mega Menu 
                      span.wsarrow
                    .wsmegamenu.clearfix
                      .container
                        .row
                          //  MEGAMENU QUICK LINKS 
                          .col-md-12.col-lg-3
                            //  Title 
                            h3.title What We Offer:
                            ul.link-list
                              li
                                a(href='#') Student Visa Assessment
                              li
                                a(href='#') Working Visa Assessment
                              li
                                a(href='#') Business Visa Assessment
                              li
                                a(href='#') PR Visa Assessment
                              li
                                a(href='#') Visa Eligibility Assessment
                              li
                                a(href='#') Family Visa Assessment
                              li
                                a(href='#') Immigration Consultation
                          //  END MEGAMENU QUICK LINKS 
                          //  MEGAMENU FEATURED NEWS 
                          .col-md-12.col-lg-5
                            //  Title 
                            h3.title Featured News:
                            //  Image 
                            .fluid-width-video-wrapper.mb-15
                              img(src='images/blog/featured-news.jpg' alt='featured-news')
                            //  Text 
                            h5.h5-md
                              a(href='#') We make the visa process faster
                            p.wsmwnutxt.
                              Porta semper lacus cursus, feugiat primis ultrice in ligula risus auctor tempus feugiat dolor impedit magna...
                              
                          //  END MEGAMENU FEATURED NEWS 
                          //  MEGAMENU LATEST NEWS 
                          .col-md-12.col-lg-4
                            //  Title 
                            h3.title Latest News:
                            //  Latest News 
                            ul.latest-news
                              //  Post #1 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-1.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='single-post') Etiam sapien risus ante auctor tempus accumsan an empor ...
                                  p 43 Comments
                              //  Post #2 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-2.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='single-post') Blandit tempor a sapien ipsum, porta risus auctor justo ...
                                  p 38 Comments
                              //  Post #3 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-3.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='single-post') Cursus risus an auctor risus laoreet turpis auctor varius ...
                                  p 29 Comments
                          //  END MEGAMENU LATEST NEWS 
                        //  End row 
                      //  End container 
                    //  End wsmegamenu 
                  //  END MEGAMENU 
                  //  SIMPLE NAVIGATION LINK 
                  li.nl-simple(aria-haspopup='true')
                    a(href='#') Simple Link
                  //  LAST NAVIGATION LINK 
                  li.nl-simple(aria-haspopup='true')
                    a.header-btn.btn-primary.tra-black-hover.last-link(href='#') Get Consultation
              //  END MAIN MENU 
          //  END NAVIGATION MENU 
        //  End header-wrapper 
      //  END HEADER 
      //
         INNER PAGE WRAPPER
        			============================================= 
      .inner-page-wrapper
        //
           ABOUT PAGE HERO
          				============================================= 
        section#about-page.page-hero-section.division
          .container
            .row
              //  PAGE HERO TEXT 
              .col-md-7
                .hero-txt.white-color
                  h2.h2-xs About VisaPRO
              //  END PAGE HERO TEXT 
            //  End row 
          //  End container 
        //  END ABOUT PAGE HERO 
        //
           BREADCRUMB
          				============================================= 
        #breadcrumb.bg-darkblue.division
          .container
            .row
              .col
                nav(aria-label='breadcrumb')
                  ol.breadcrumb.white-color
                    li.breadcrumb-item
                      a(href='demo-1') [ Home ]
                    li.breadcrumb-item.active(aria-current='page') About VisaPRO
            //  End row 
          //  End container 
        //  END BREADCRUMB 
        //
           ABOUT-2
          				============================================= 
        section#about-2.wide-60.about-section.division
          .container
            .row.d-flex.align-items-center
              //  ABOUT IMAGE 
              .col-md-6
                .about-img.text-center.mb-40
                  //  Image 
                  img.img-fluid(src='images/image-03.png' alt='about-image')
                  //  Video Link 
                  .video-square
                    .video-link.icon-lg.primary-color
                      a.video-popup2(href='https://www.youtube.com/watch?v=7e90gBu4pas')
                        span.flaticon-159-play-button
              //  ABOUT TEXT	
              .col-md-6
                .about-2-txt.pc-20.mb-40
                  //  Section ID 
                  span.section-id.noto-font-700.id-color About Agency
                  //  Title 
                  h3.h3-lg We make the visa process faster
                  //  INFO BOX #1 
                  .box-list
                    .box-list-icon
                      i.fas.fa-genderless
                    p.
                      An magnis nulla dolor sapien augue erat iaculis purus tempor magna ipsum vitae purus primis pretium ligula rutrum luctus blandit porta justo integer. Feugiat a primis ultrice ligula
                      
                  //  INFO BOX #2 
                  .box-list
                    .box-list-icon
                      i.fas.fa-genderless
                    p.
                      Nemo ipsam egestas volute turpis dolores and aliquam quaerat sodales sapien undo pretium purus ligula tempus ipsum undo auctor a mauris lectus ipsum blandit
                      
                  //  INFO BOX #3 
                  .box-list
                    .box-list-icon
                      i.fas.fa-genderless
                    p.
                      Quaerat sodales sapien undo euismod purus and blandit laoreet augue an augue egestas. Augue iaculis purus and augue tempor congue magna egestas magna ligula
                      
              //  END ABOUT TEXT	
            //  End row 
          //  End container 
        //  END ABOUT-2 
        //
           ABOUT-5
          				============================================= 
        section#about-5.bg-lightgrey.wide-60.about-section.division
          .container
            //  SECTION TITLE 
            .row
              .col-md-12.section-title
                //  Title 
                h3.h3-lg Find a consultant by:
                //  Text 
                p.p-md.
                  Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                  
            .row
              //  ABOUT TEXT	
              .col-lg-5
                .row
                  .col-sm-6
                    .about-5-txt.mb-40
                      //  Title 
                      h5.h5-xl Country:
                      //  List 
                      ul.abox-list
                        li
                          a(href='#') Canada
                        li
                          a(href='#') Australia
                        li
                          a(href='#') United Kingdom
                        li
                          a(href='#') USA
                        li
                          a(href='#') Germany
                        li
                          a(href='#') Netherlands
                        li.more-info-link.deepblue-color
                          a(href='#') View All
                  .col-sm-6
                    .about-5-txt.mb-40
                      //  Title 
                      h5.h5-xl Pratice Area:
                      //  List 
                      ul.abox-list
                        li
                          a(href='#') Student Visa
                        li
                          a(href='#') Working Visa
                        li
                          a(href='#') Business visa
                        li
                          a(href='#') PR Visa
                        li
                          a(href='#') Tourist & Visitor Visa
                        li
                          a(href='#') Immigration Consult
                        li.more-info-link.deepblue-color
                          a(href='#') View All
              //  END ABOUT TEXT	
              //  ABOUT IMAGE 
              .col-lg-7
                .about-5-img.text-center.mb-40
                  img.img-fluid(src='images/world-map.png' alt='about-image')
            //  End row 
          //  End container 
        //  END ABOUT-5 
        //
           STATISTIC-1
          				============================================= 
        #statistic-1.bg-image.wide-60.statistic-section.division
          .container.white-color
            .row
              //  STATISTIC BLOCK #1 
              .col-sm-6.col-md-3
                .statistic-block.icon-sm
                  //  Icon 
                  span.flaticon-316-mortarboard
                  //  Text 
                  h5
                    span.count-element 820
                    | +
                  p Students
              //  STATISTIC BLOCK #2 
              .col-sm-6.col-md-3
                .statistic-block.icon-sm
                  //  Icon 
                  span.flaticon-431-bank
                  //  Text 
                  h5
                    span.count-element 127
                  p Universities
              //  STATISTIC BLOCK #3 
              .col-sm-6.col-md-3
                .statistic-block.icon-sm
                  //  Icon 
                  span.flaticon-141-invoice
                  //  Text 
                  h5
                    span.count-element 1636
                  p Study Visa
              //  STATISTIC BLOCK #4 
              .col-sm-6.col-md-3
                .statistic-block.icon-sm
                  //  Icon 
                  span.flaticon-033-user-2
                  //  Text 
                  h5
                    span.count-element 43
                  p Advisors
            //  End row 
          //  End container 
        //  END STATISTIC-1 
        //
           TABS-2
          				============================================= 
        section#tabs-2.wide-60.tabs-section.division
          .container
            .row
              //  TABS NAVIGATION 
              .col-md-12
                .tabs-nav.clearfix
                  ul.tabs-2.primary-tabs
                    //  TAB-1 LINK 
                    li.tab-link.displayed(data-tab='tab-11')
                      span Goverment Approved
                    //  TAB-2 LINK 
                    li.tab-link(data-tab='tab-12')
                      span No Hidden Costs
                    //  TAB-3 LINK 
                    li.tab-link(data-tab='tab-13')
                      span Fast, Easy & Secure
              //  END TABS NAVIGATION 
              //  TABS CONTENT 
              .col-md-12
                .tabs-content
                  //  TAB-1 CONTENT 
                  #tab-11.tab-content.displayed
                    .row.d-flex.align-items-center
                      //  TAB-1 IMAGE 
                      .col-md-6.mb-40
                        .tab-img.text-center
                          img.img-fluid(src='images/image-01.png' alt='tab-image')
                      //  TAB-1 TEXT 
                      .col-md-6
                        .txt-block.pc-20.mb-40
                          //  Title 
                          h3.h3-lg We make the visa process faster
                          //  Text 
                          p.
                            Semper lacus cursus porta, feugiat primis ligula risus auctor and rhoncus in ultrice ligula purus ipsum primis in cubilia augue vitae laoreet augue in cubilia augue egestas an ipsum turpis
                            
                          //  Small Title 
                          h5.h5-md Cubilia augue vitae laoreet
                          //  Text Box #1 
                          .box-list
                            .box-list-icon
                              i.fas.fa-genderless
                            p.
                              Fringilla risus nec, luctus mauris orci auctor purus euismod at pretium purus pretium ligula rutrum viverra tortor sapien sodales congue magna undo pretium purus pretium an magnis nulla
                              
                          //  Text Box #2 
                          .box-list
                            .box-list-icon
                              i.fas.fa-genderless
                            p.
                              Quaerat sodales sapien undo euismod risus auctor egestas augue mauri undo viverra tortor sapien sodales sapien and vitae donec dolor sapien augue erat iaculis euismod
                              
                    //  End row 
                  //  END TAB-1 CONTENT 
                  //  TAB-2 CONTENT 
                  #tab-12.tab-content
                    .row.d-flex.align-items-center
                      //  TAB-2 IMAGE 
                      .col-md-6
                        .tab-img.text-center.mb-40
                          img.img-fluid(src='images/image-03.png' alt='tab-image')
                      //  TAB-2 TEXT 
                      .col-md-6
                        .txt-block.pc-20.mb-40
                          //  Title 
                          h3.h3-lg Thousands of people choose our services
                          //  Text 
                          p.
                            Semper lacus cursus porta, feugiat primis ligula risus auctor and rhoncus in ultrice ligula purus ipsum primis in cubilia augue vitae laoreet augue in cubilia augue egestas an ipsum turpis magna nihil impedit ligula risus. Mauris donec ociis et magnis sapien etiam
                            
                          //  Text 
                          p.
                            An enim nullam tempor sapien gravida donec enim blandit ipsum at porta justo integer velna vitae auctor integer congue magna pretium purus pretium. An magnis nulla dolor sapien augue erat iaculis
                            
                          //  Button 
                          a.btn.btn-tra-grey.primary-hover.btn-arrow(href='#')
                            span
                              | Discover More 
                              i.fas.fa-arrow-right
                    //  End row 
                  //  END TAB-2 CONTENT 
                  //  TAB-3 CONTENT 
                  #tab-13.tab-content
                    .row.d-flex.align-items-center
                      //  TAB-3 IMAGE 
                      .col-md-6
                        .tab-img.text-center.mb-40
                          img.img-fluid(src='images/image-02.png' alt='tab-image')
                      //  TAB-3 TEXT 
                      .col-md-6
                        .txt-block.pc-20.mb-40
                          //  Title 
                          h3.h3-lg Get guarantee success with our advisors
                          //  Text Box #1 
                          .box-list
                            .box-list-icon
                              i.fas.fa-genderless
                            p.
                              Semper lacus cursus porta, feugiat primis ligula risus auctor and rhoncus in ultrice ligula purus ipsum primis in cubilia augue vitae laoreet augue in cubilia augue egestas an ipsum turpis
                              
                          //  Text Box #2 
                          .box-list
                            .box-list-icon
                              i.fas.fa-genderless
                            p.
                              Fringilla risus nec, luctus mauris orci auctor purus euismod at pretium purus pretium ligula rutrum viverra tortor sapien sodales congue magna undo pretium purus pretium an magnis nulla
                              
                          //  Text Box #3 
                          .box-list
                            .box-list-icon
                              i.fas.fa-genderless
                            p.
                              Quaerat sodales sapien undo euismod risus auctor egestas augue mauri undo viverra tortor sapien sodales sapien and vitae donec dolor sapien augue erat iaculis euismod
                              
                    //  End row 
                  //  END TAB-3 CONTENT 
              //  END TABS CONTENT 
            //  End row 
          //  End container 
        //  END TABS-2 
        //
           TESTIMONIALS-1
          				============================================= 
        section#reviews-1.bg-tra-city.bg-lightgrey.wide-100.reviews-section.division
          .container
            //  SECTION TITLE 
            .row
              .col-md-12.section-title.center
                //  Title 
                h2.h2-xs What Our Clients Say
                //  Text 
                p.p-md.
                  Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                  
            //  END SECTION TITLE 
            //  TESTIMONIALS CONTENT 
            .row
              .col-md-12
                .owl-carousel.owl-theme.reviews-holder
                  //  TESTIMONIAL #1 
                  .review-1
                    //  Testimonial Text 
                    p.
                      Sagittis congue etiam sapien at velna accumsan suscipit egestas at lobortis magna, a porttitor sodales an aenean mauris tempor aenean cubilia blandit porta justo integer velna vitae auctor integer a congue magna sapien gravida donec ultrice ligula risus
                      
                    //  Testimonial Author 
                    .author-data.clearfix
                      //  Author Avatar 
                      .testimonial-avatar
                        img(src='images/review-author-1.jpg' alt='testimonial-avatar')
                      //  Author Data 
                      .review-author
                        h5.h5-xs Robert
                        span (UK Business Visa)
                    //  End Testimonial Author 
                  //  TESTIMONIAL #2 
                  .review-1
                    //  Testimonial Text 
                    p.
                      Sapien sem accumsan vitae at purus diam integer congue magna sodales. Magna vitae and aenean mauris tempor augue in cubilia laoreet magna suscipit magna ipsum vitae purus ipsum primis cubilia laoreet and augue ultrice ligula egestas magna suscipit lectus gestas at magna viverra dolor neque gravida
                      
                    //  Testimonial Author 
                    .author-data.clearfix
                      //  Author Avatar 
                      .testimonial-avatar
                        img(src='images/review-author-2.jpg' alt='testimonial-avatar')
                      //  Author Data 
                      .review-author
                        h5.h5-xs Evelyn W.
                        span (Canada Studients Visa)
                    //  End Testimonial Author 
                  //  TESTIMONIAL #3 
                  .review-1
                    //  Testimonial Text 
                    p.
                      Etiam sapien gravida and donec sagittis congue. An augue cubilia laoreet magna suscipit egestas magna ipsum and vitae purus ipsum primis undo cubilia laoreet augue ultrice ligula and egestas suscipit magna lectus gestas magna as viverra dolor neque est gravida
                      
                    //  Testimonial Author 
                    .author-data.clearfix
                      //  Author Avatar 
                      .testimonial-avatar
                        img(src='images/review-author-3.jpg' alt='testimonial-avatar')
                      //  Author Data 
                      .review-author
                        h5.h5-xs Leslie Serpas
                        span (Singapore PR Visa)
                    //  End Testimonial Author 
                  //  TESTIMONIAL #4 
                  .review-1
                    //  Testimonial Text 
                    p.
                      An augue in cubilia laoreet undo magna suscipit egestas magna ipsum egestas vitae purus ipsum primis cubilia laoreet augue ultrice ligula egestas and magna suscipit lectus gestas magna a viverra dolor neque est gravida
                      
                    //  Testimonial Author 
                    .author-data.clearfix
                      //  Author Avatar 
                      .testimonial-avatar
                        img(src='images/review-author-4.jpg' alt='testimonial-avatar')
                      //  Author Data 
                      .review-author
                        h5.h5-xs Dan Hodges
                        span (USA Studients Visa)
                    //  End Testimonial Author 
                  //  TESTIMONIAL #5 
                  .review-1
                    //  Testimonial Text 
                    p.
                      An orci nullam tempor sapien, gravida donec enim ipsum a porta. An augue in cubilia laoreet magna suscipit egestas magna ipsum vitae purus ipsum primis in cubilia laoreet augue ultrice at ligula egestas magna suscipit lectus gestas magna viverra dolor neque est gravida justo integer and velna auctor
                      
                    //  Testimonial Author 
                    .author-data.clearfix
                      //  Author Avatar 
                      .testimonial-avatar
                        img(src='images/review-author-5.jpg' alt='testimonial-avatar')
                      //  Author Data 
                      .review-author
                        h5.h5-xs Amelie Peterson
                        span (France Working Visa)
                    //  End Testimonial Author 
                  //  TESTIMONIAL #6 
                  .review-1
                    //  Testimonial Text 
                    p.
                      An augue cubilia laoreet magna suscipit egestas magna ipsum vitae purus undo ipsum primis in cubilia laoreet augue ultrice ligula egestas magna at suscipit lectus gestas magna viverra dolor neque est gravida. Mauris donec ociis magnis sapien etiam sapien sem sagittis
                      
                    //  Testimonial Author 
                    .author-data.clearfix
                      //  Author Avatar 
                      .testimonial-avatar
                        img(src='images/review-author-6.jpg' alt='testimonial-avatar')
                      //  Author Data 
                      .review-author
                        h5.h5-xs Scott Boxer
                        span (Germany Travel Visa)
                    //  End Testimonial Author 
                  //  TESTIMONIAL #7 
                  .review-1
                    //  Testimonial Text 
                    p.
                      At sagittis congue augue egestas undo magna ipsum vitae purus ipsum primis in cubilia laoreet augue ociis at nullam tempor sapien gravida porta integer at odio velna auctor. An augue in cubilia laoreet magna suscipit egestas magna ipsum vitae purus ipsum primis cubilia laoreet augue ultrice ligula egestas
                      
                    //  Testimonial Author 
                    .author-data.clearfix
                      //  Author Avatar 
                      .testimonial-avatar
                        img(src='images/review-author-7.jpg' alt='testimonial-avatar')
                      //  Author Data 
                      .review-author
                        h5.h5-xs Evelyn
                        span (Austrlia PR Visa)
                    //  End Testimonial Author 
            //  END TESTIMONIALS CONTENT 
          //  End container 
        //  END TESTIMONIALS-1 
        //
           BRANDS-2
          				============================================= 
        #brands-2.wide-70.brands-section.division
          .container
            //  TEXT 
            .row
              .col-md-12.text-center.mb-10
                h5.h5-md.grey-color We partner with companies of all sizes, all around the world
            //  BRANDS HOLDER 
            .row.brands-holder
              //  BRAND LOGO IMAGE 
              .col-sm-6.col-md-3
                .brand-logo
                  img.img-fluid(src='images/brand-1.png' alt='brand-logo')
              //  BRAND LOGO IMAGE 
              .col-sm-6.col-md-3
                .brand-logo
                  img.img-fluid(src='images/brand-2.png' alt='brand-logo')
              //  BRAND LOGO IMAGE 
              .col-sm-6.col-md-3
                .brand-logo
                  img.img-fluid(src='images/brand-3.png' alt='brand-logo')
              //  BRAND LOGO IMAGE 
              .col-sm-6.col-md-3
                .brand-logo
                  img.img-fluid(src='images/brand-4.png' alt='brand-logo')
              //  BRAND LOGO IMAGE 
              .col-sm-6.col-md-3
                .brand-logo
                  img.img-fluid(src='images/brand-5.png' alt='brand-logo')
              //  BRAND LOGO IMAGE 
              .col-sm-6.col-md-3
                .brand-logo
                  img.img-fluid(src='images/brand-6.png' alt='brand-logo')
              //  BRAND LOGO IMAGE 
              .col-sm-6.col-md-3
                .brand-logo
                  img.img-fluid(src='images/brand-7.png' alt='brand-logo')
              //  BRAND LOGO IMAGE 
              .col-sm-6.col-md-3
                .brand-logo
                  img.img-fluid(src='images/brand-8.png' alt='brand-logo')
            //  END BRANDS HOLDER 
          //  End container 
        //  END BRANDS-2 
        //
           FOOTER-3
          				============================================= 
        footer#footer-3.bg-blue-map.wide-40.footer.division
          .container.white-color
            //  FOOTER CONTENT 
            .row
              //  FOOTER CONTACTS 
              .col-md-4.col-lg-3.col-xl-3
                .footer-box.mb-40
                  //  Title 
                  h5.h5-md Head Office
                  //  Address 
                  p 121 King Street, Melbourne,
                  p Victoria 3000 Australia
                  //  Phone 
                  p.mt-20 Phone: +12 9 8765 4321
                  //  Email 
                  p.foo-email
                    | Email: 
                    a(href='/cdn-cgi/l/email-protection#a0d9cfd5d2c4cfcdc1c9cee0cdc1c9cc8ec3cfcd')
                      span.__cf_email__(data-cfemail='3e565b5252517e5a5b5351105d5153') [email protected]
                  //  Phone 
                  p Office Time: 9AM - 6PM
              //  FOOTER LINKS 
              .col-md-4.col-lg-3.col-xl-3
                .footer-links.mb-40
                  //  Title 
                  h5.h5-md Countries
                  //  Footer Links 
                  ul.foo-links.clearfix
                    li
                      a(href='#') Canada
                    li
                      a(href='#') Australia
                    li
                      a(href='#') United Kingdom
                    li
                      a(href='#') USA
                    li
                      a(href='#') Germany
                    li
                      a(href='#') Netherlands
              //  FOOTER LINKS 
              .col-md-4.col-lg-3.col-xl-3
                .footer-links.mb-40
                  //  Title 
                  h5.h5-md Visas
                  //  Footer Links 
                  ul.foo-links.clearfix
                    li
                      a(href='#') Students Visa
                    li
                      a(href='#') Travel Visa
                    li
                      a(href='#') PR Visa
                    li
                      a(href='#') Business Visa
                    li
                      a(href='#') Work Visa
                    li
                      a(href='#') Family Visa
              //  FOOTER NEWSLETTER FORM 
              .col-lg-3.col-xl-3
                .footer-form.mb-20
                  //  Title 
                  h5.h5-md Stay Always In Touch
                  //  Newsletter Form Input 
                  form.newsletter-form
                    .input-group
                      input.form-control#s-email(type='email' placeholder='Your email address' required)
                      span.input-group-btn
                        button.btn.btn-primary.tra-white-hover(type='submit') Subscribe
                    //  Newsletter Form Notification 
                    label.form-notification(for='s-email')
            //  END FOOTER CONTENT 
            //  BOTTOM FOOTER 
            .bottom-footer
              .row.d-flex.align-items-center
                //  FOOTER LOGO 
                .col-md-4.col-lg-3
                  //  Footer Logo 
                  //  For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 400 x 100 pixels) 
                  img(src='images/logo-white.png' width='200' height='50' alt='footer-logo')
                //  FOOTER SOCIALS LINKS 
                .col-md-8.col-lg-9.text-right
                  p.footer-copyright
                    | © Copyright 
                    span VisaPRO 2019
                    | . All Rights 
                    a(href='http://www.bootstrapmb.com/' title='bootstrapmb') Reserved
                  p.p-sm
                    a(href='#') Privacy Policy
                  p.p-sm
                    a(href='#') Terms & Conditions
                  p.p-sm
                    a(href='#') Cookies
            //  END BOTTOM FOOTER 
          //  End container 
        //  END FOOTER-3 
      //  END INNER PAGE WRAPPER 
    //  END PAGE CONTENT 
    //
       EXTERNAL SCRIPTS
      		============================================= 
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/modernizr.custom.js')
    script(src='js/jquery.easing.js')
    script(src='js/jquery.appear.js')
    script(src='js/jquery.stellar.min.js')
    script(src='js/menu.js')
    script(src='js/materialize.js')
    script(src='js/jquery.scrollto.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/jquery.magnific-popup.min.js')
    script(src='js/hero-request-form.js')
    script(src='js/hero-register-form.js')
    script(src='js/request-form.js')
    script(src='js/contact-form.js')
    script(src='js/comment-form.js')
    script(src='js/jquery.ajaxchimp.min.js')
    script(src='js/jquery.validate.min.js')
    //  Custom Script 
    script(src='js/custom.js')
    //  HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. 
    //
       [if lt IE 9]>
      			<script src="js/html5shiv.js" type="text/javascript"></script>
      			<script src="js/respond.min.js" type="text/javascript"></script>
      		<![endif] 
    //
    //-    STYLE SWITCHER
    //-   		============================================= 
    //- #stlChanger
    //-   .blockChanger.bgChanger
    //-     a.chBut.icon-xs(href='#')
    //-       span.flaticon-292-gear
    //-     .chBody
    //-       .stBlock.text-center(style='margin: 30px 20px 20px 16px;')
    //-         p Color Scheme
    //-         .stBgs
    //-           a(href='javascript:chooseStyle(\'aqua-theme\', 60)')
    //-             img(src='images/color-scheme/aqua.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'salmon-theme\', 60)')
    //-             img(src='images/color-scheme/salmon.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'blue-theme\', 60)')
    //-             img(src='images/color-scheme/blue.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'red-theme\', 60)')
    //-             img(src='images/color-scheme/red.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'olive-theme\', 60)')
    //-             img(src='images/color-scheme/olive.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'darkred-theme\', 60)')
    //-             img(src='images/color-scheme/darkred.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'teal-theme\', 60)')
    //-             img(src='images/color-scheme/teal.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'yellow-theme\', 60)')
    //-             img(src='images/color-scheme/yellow.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'green-theme\', 60)')
    //-             img(src='images/color-scheme/green.png' width='50' height='50' alt)
    //-       .stBlock.text-center(style='margin: 0px 32px 25px 20px;')
    //-         a.btn.btn-primary.black-hover(href='javascript:chooseStyle(\'none\', 60)') Reset color
    //-       .stBlock.text-center(style='margin:30px 20px 30px 16px')
    //-         p Choose Layout
    //-         a.s_1(href='demo-1')
    //-           img(src='images/color-scheme/l-01.jpg' width='175' height='140' alt='layout-image')
    //-         a.s_1(href='demo-2')
    //-           img(src='images/color-scheme/l-02.jpg' width='175' height='130' alt='layout-image')
    //-         a.s_1(href='demo-3')
    //-           img(src='images/color-scheme/l-03.jpg' width='175' height='110' alt='layout-image')
    //-         a.s_1(href='demo-4')
    //-           img(src='images/color-scheme/l-04.jpg' width='175' height='130' alt='layout-image')
    //-         a.s_1(href='demo-5')
    //-           img(src='images/color-scheme/l-05.jpg' width='175' height='110' alt='layout-image')
    //-         a.s_1(href='demo-6')
    //-           img(src='images/color-scheme/l-06.jpg' width='175' height='150' alt='layout-image')
    //-         a.s_1(href='demo-7')
    //-           img(src='images/color-scheme/l-07.jpg' width='175' height='165' alt='layout-image')
    //-         a.s_1(href='demo-8')
    //-           img(src='images/color-scheme/l-08.jpg' width='175' height='100' alt='layout-image')
    //-         a.s_1(href='demo-9')
    //-           img(src='images/color-scheme/l-09.jpg' width='175' height='135' alt='layout-image')
    //- //  END SWITCHER 
    script(src='js/changer.js')
    script(defer src='js/styleswitch.js')
