html(lang='en')
  head
  body
    | ﻿

    // [if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]
    // [if IE 7 ]><html class="ie ie7" lang="en"> <![endif]
    // [if IE 8 ]><html class="ie ie8" lang="en"> <![endif]
    // [if (gte IE 9)|!(IE)]><!
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='author' content='DSAThemes')
    meta(name='description' content='VisaPRO - Immigration and Visa Consulting Website Template')
    meta(name='keywords' content='Responsive, DSAThemes, One Page, Landing, Business, Coaching, Consulting, Creative, Immigration, Visa')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //  SITE TITLE 
    title VisaPRO - Immigration and Visa Consulting Website Template
    //  FAVICON AND TOUCH ICONS  
    link(rel='apple-touch-icon' sizes='152x152' href='images/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='120x120' href='images/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='76x76' href='images/apple-touch-icon-76x76.png')
    //  GOOGLE FONTS 
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900&display=swap' rel='stylesheet')
    //  BOOTSTRAP CSS 
    link(href='http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet')
    //  FONT ICONS 
    link(href='css/all.css')
    link(href='css/flaticon.css' rel='stylesheet')
    //  PLUGINS STYLESHEET 
    link(href='css/menu.css' rel='stylesheet')
    link#effect(href='css/dropdown-effects/fade-down.css' media='all' rel='stylesheet')
    link(href='css/tweenmax.css' rel='stylesheet')
    link(href='css/magnific-popup.css' rel='stylesheet')
    link(href='css/owl.carousel.min.css' rel='stylesheet')
    link(href='css/owl.theme.default.min.css' rel='stylesheet')
    //  TEMPLATE CSS 
    link(href='css/orange.css' rel='stylesheet')
    //  STYLE SWITCHER CSS 
    link(href='css/aqua.css' rel='alternate stylesheet' title='aqua-theme')
    link(href='css/blue.css' rel='alternate stylesheet' title='blue-theme')
    link(href='css/darkred.css' rel='alternate stylesheet' title='darkred-theme')
    link(href='css/green.css' rel='alternate stylesheet' title='green-theme')
    link(href='css/olive.css' rel='alternate stylesheet' title='olive-theme')
    link(href='css/red.css' rel='alternate stylesheet' title='red-theme')
    link(href='css/salmon.css' rel='alternate stylesheet' title='salmon-theme')
    link(href='css/teal.css' rel='alternate stylesheet' title='teal-theme')
    link(href='css/yellow.css' rel='alternate stylesheet' title='yellow-theme')
    //  RESPONSIVE CSS 
    link(href='css/responsive.css' rel='stylesheet')
    //
       PRELOADER SPINNER
      		============================================= 
    #loader-wrapper
      #loader
        .cssload-box-loading
    //
       PAGE CONTENT
      		============================================= 
    #page.page
      //
         HEADER
        			============================================= 
      header#header-2.header.white-menu
        .header-wrapper
          //  MOBILE HEADER 
          .wsmobileheader.clearfix
            a#wsnavtoggle.wsanimated-arrow
              span
            span.smllogo
              img(src='images/logo-black.png' width='200' height='50' alt='mobile-logo')
            a.callusbtn(href='tel:123456789')
              i.fas.fa-phone
          //  HEADER STRIP 
          .headtoppart.bg-white.clearfix
            .headerwp.clearfix
              //  Infotmation 
              .headertopleft
                .header-info.clearfix
                  span.txt-400
                    i.fas.fa-map-marker-alt
                    | 121 King St, Melbourne, Victoria 3000
              //  Contacts 
              .headertopright.header-contacts
                a.callusbtn.txt-400(href='tel:123456789')
                  i.fas.fa-phone
                  | +61-2 3456 7890,
                a.callusbtn.b-right.txt-400(href='tel:123456789')  +61-2 7890 3456
                a.txt-400(href='/cdn-cgi/l/email-protection#e990869c9b8d8684888087a984888085c78a8684')
                  i.far.fa-envelope-open
                  span.__cf_email__(data-cfemail='89e1ece5e5e6c9ede6e4e8e0e7a7eae6e4') [email protected]
          //  END HEADER STRIP 
          //  NAVIGATION MENU 
          .wsmainfull.menu.clearfix
            .wsmainwp.clearfix
              //  LOGO IMAGE 
              //  For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 90 pixels) 
              .desktoplogo
                a.logo-black(href='demo-1')
                  img(src='images/logo-black.png' width='180' height='45' alt='header-logo')
              .desktoplogo
                a.logo-white(href='demo-1')
                  img(src='images/logo-white.png' width='180' height='45' alt='header-logo')
              //  MAIN MENU 
              nav.wsmenu.clearfix.blue-header
                ul.wsmenu-list
                  //  DROPDOWN MENU 
                  li(aria-haspopup='true')
                    a(href='#')
                      | 主頁 
                      span.wsarrow
                    ul.sub-menu
                      li(aria-haspopup='true')
                        a(href='demo-1') Homepage-1
                      li(aria-haspopup='true')
                        a(href='demo-2') Homepage-2
                      li(aria-haspopup='true')
                        a(href='demo-3') Homepage-3
                      li(aria-haspopup='true')
                        a(href='demo-4') Homepage-4
                      li(aria-haspopup='true')
                        a(href='demo-5') Homepage-5
                      li(aria-haspopup='true')
                        a(href='demo-6') Homepage-6
                      li(aria-haspopup='true')
                        a(href='demo-7') Homepage-7
                      li(aria-haspopup='true')
                        a(href='demo-8') Homepage-8
                      li(aria-haspopup='true')
                        a(href='demo-9') Homepage-9
                  //  END DROPDOWN MENU 
                  //  PAGES 
                  li(aria-haspopup='true')
                    a(href='#')
                      | Pages 
                      span.wsarrow
                    .wsmegamenu.clearfix
                      .container
                        .row
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title Standard Pages:
                            li
                              a(href='about') About Us Page
                            li
                              a(href='courses-list') Courses List Page
                            li
                              a(href='course-details') Course Details Page
                            li
                              a(href='partners') Partners & Colleges
                            li
                              a(href='faqs') FAQs Page
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title Special Pages:
                            li
                              a(href='country-details') Countries List Page
                            li
                              a(href='country-details') Country Details Page
                            li
                              a(href='visa-list-1') Visa List Page #1
                            li
                              a(href='visa-list-2') Visa List Page #2
                            li
                              a(href='visa-details') Visa Details Page
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title Auxiliary Pages:
                            li
                              a(href='blog-listing') Blog Listing Page
                            li
                              a(href='single-post') Single Blog Post
                            li
                              a(href='contacts-1') Contact Style #1
                            li
                              a(href='contacts-2') Contact Style #2
                            li
                              a(href='contacts-3') Contact Style #3
                        //  End row 
                      //  End container 
                    //  End wsmegamenu 
                  //  END PAGES 
                  //  MEGAMENU 
                  li(aria-haspopup='true')
                    a(href='#')
                      | Mega Menu 
                      span.wsarrow
                    .wsmegamenu.clearfix
                      .container
                        .row
                          //  MEGAMENU QUICK LINKS 
                          .col-md-12.col-lg-3
                            //  Title 
                            h3.title What We Offer:
                            ul.link-list
                              li
                                a(href='#') 澳洲投資移民簽證 Assessment
                              li
                                a(href='#') Working Visa Assessment
                              li
                                a(href='#') Business Visa Assessment
                              li
                                a(href='#') PR Visa Assessment
                              li
                                a(href='#') Visa Eligibility Assessment
                              li
                                a(href='#') Family Visa Assessment
                              li
                                a(href='#') Immigration Consultation
                          //  END MEGAMENU QUICK LINKS 
                          //  MEGAMENU FEATURED NEWS 
                          .col-md-12.col-lg-5
                            //  Title 
                            h3.title Featured News:
                            //  Image 
                            .fluid-width-video-wrapper.mb-15
                              img(src='images/blog/featured-news.jpg' alt='featured-news')
                            //  Text 
                            h5.h5-md
                              a(href='#') We make the visa process faster
                            p.wsmwnutxt.
                              Porta semper lacus cursus, feugiat primis ultrice in ligula risus auctor tempus feugiat dolor impedit magna...
                              
                          //  END MEGAMENU FEATURED NEWS 
                          //  MEGAMENU LATEST NEWS 
                          .col-md-12.col-lg-4
                            //  Title 
                            h3.title Latest News:
                            //  Latest News 
                            ul.latest-news
                              //  Post #1 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-1.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='single-post') Etiam sapien risus ante auctor tempus accumsan an empor ...
                                  p 43 Comments
                              //  Post #2 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-2.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='single-post') Blandit tempor a sapien ipsum, porta risus auctor justo ...
                                  p 38 Comments
                              //  Post #3 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-3.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='single-post') Cursus risus an auctor risus laoreet turpis auctor varius ...
                                  p 29 Comments
                          //  END MEGAMENU LATEST NEWS 
                        //  End row 
                      //  End container 
                    //  End wsmegamenu 
                  //  END MEGAMENU 
                  //  SIMPLE NAVIGATION LINK 
                  li.nl-simple(aria-haspopup='true')
                    a(href='#') Simple Link
                  //  LAST NAVIGATION LINK 
                  li.nl-simple(aria-haspopup='true')
                    a.header-btn.btn-primary.tra-black-hover.last-link(href='#') Get Consultation
              //  END MAIN MENU 
          //  END NAVIGATION MENU 
        //  End header-wrapper 
      //  END HEADER 
      //
         GOOGLE MAP
        			============================================= 
      #gmap.gmap
      //
         BREADCRUMB
        			============================================= 
      #breadcrumb.bg-darkblue.division
        .container
          .row
            .col
              nav(aria-label='breadcrumb')
                ol.breadcrumb.white-color
                  li.breadcrumb-item
                    a(href='demo-1') [ Home ]
                  li.breadcrumb-item.active(aria-current='page') 聯係我們
          //  End row 
        //  End container 
      //  END BREADCRUMB 
      //
         CONTACTS-1
        			============================================= 
      section#contacts-1.wide-60.contacts-section.division
        .container
          .row
            //  LOCATION 
            .col-sm-6.col-lg-3
              .contact-box.icon-xs
                .contact-box-icon
                  span.flaticon-240-placeholder
                h5.h5-sm.deepblue-color Our Location
                p.grey-color 121 King Street, Melbourne,
                p.grey-color Victoria 3000 Australia
            //  PHONES 
            .col-sm-6.col-lg-3
              .contact-box.icon-xs
                .contact-box-icon
                  span.flaticon-172-telephone-1
                h5.h5-sm.deepblue-color Let's Talk
                p.grey-color Phone : +12 3 3456 7890
                p.grey-color Fax : +12 9 8765 4321
            //  EMAIL 
            .col-sm-6.col-lg-3
              .contact-box.icon-xs
                .contact-box-icon
                  span.flaticon-235-mail
                h5.h5-sm.deepblue-color Drop a Line
                p.grey-color
                  a(href='/cdn-cgi/l/email-protection#0871677d7a6c67656961664865696164266b6765')
                    span.__cf_email__(data-cfemail='325a575e5e5d72565d5f535b5c1c515d5f') [email protected]
                p.grey-color
                  a(href='/cdn-cgi/l/email-protection#fe9d9f8c9b9b8cbe939f9792d09d9193')
                    span.__cf_email__(data-cfemail='93f0f2e1f6f6e1d3f7fcfef2fafdbdf0fcfe') [email protected]
            //  WORKING HOURS 
            .col-sm-6.col-lg-3
              .contact-box.icon-xs
                .contact-box-icon
                  span.flaticon-358-wall-clock-1
                h5.h5-sm.deepblue-color Working Hours
                p.grey-color Mon - Fri: 8:30am - 7:30pm
                p.grey-color Sat: 8:30am - 3:30pm
          //  End row 
        //  End container 
      //  END CONTACTS-1 
      //
         CONTACTS-3
        			============================================= 
      section#contacts-3.bg-lightgrey.bg-tra-city.wide-80.contacts-section.division
        .container
          //  SECTION TITLE 
          .row
            .col-md-12.section-title.center
              //  Title 
              h2.h2-xs Have Questions? Get in Touch
              //  Text 
              p.p-md.
                Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                
          //  END SECTION TITLE 
          //  CONTACT FORM 
          .row
            .col-lg-10.offset-lg-1
              .form-holder
                form.row.contact-form(name='contactForm')
                  //  Contact Form Input 
                  #input-name.col-lg-6
                    input.form-control.name(type='text' name='name' placeholder='Enter Your Name*' required)
                  //  Contact Form Input 
                  #input-email.col-lg-6
                    input.form-control.email(type='text' name='email' placeholder='Enter Your Email*' required)
                  //  Contact Form Select 
                  #input-subject.col-lg-12.input-subject
                    select#inlineFormCustomSelect2.custom-select.subject(name='subject' required)
                      option(value) Your Question About..
                      option Student Visa
                      option Travel visa
                      option Working Visa
                      option Business Visa
                      option Visitor Visa
                      option Other...
                  //  Contact Form Mesaage 
                  #input-message.col-lg-12.input-message
                    textarea.form-control.message(name='message' rows='6' placeholder='Your Message ...' required)
                  //  Contact Form Button 
                  .col-lg-12.mt-15.form-btn.text-right
                    button.btn.btn-primary.tra-black-hover.submit(type='submit') Send Your Message
                  //  Contact Form Message 
                  .col-lg-12.contact-form-msg.text-center
                    .sending-msg
                      span.loading
          //  END CONTACT FORM 
        //  End container 
      //  END CONTACTS-3 
      //
         FOOTER-3
        			============================================= 
      footer#footer-3.bg-blue-map.wide-40.footer.division
        .container.white-color
          //  FOOTER CONTENT 
          .row
            //  FOOTER CONTACTS 
            .col-md-4.col-lg-3.col-xl-3
              .footer-box.mb-40
                //  Title 
                h5.h5-md Head Office
                //  Address 
                p 121 King Street, Melbourne,
                p Victoria 3000 Australia
                //  Phone 
                p.mt-20 Phone: +12 9 8765 4321
                //  Email 
                p.foo-email
                  | Email: 
                  a(href='/cdn-cgi/l/email-protection#532a3c2621373c3e323a3d133e323a3f7d303c3e')
                    span.__cf_email__(data-cfemail='640c0108080b240001090b4a070b09') [email protected]
                //  Phone 
                p Office Time: 9AM - 6PM
            //  FOOTER LINKS 
            .col-md-4.col-lg-3.col-xl-3
              .footer-links.mb-40
                //  Title 
                h5.h5-md Countries
                //  Footer Links 
                ul.foo-links.clearfix
                  li
                    a(href='#') 台灣
                  li
                    a(href='#') 澳大利亞
                  li
                    a(href='#') UK
                  li
                    a(href='#') USA
                  li
                    a(href='#') Germany
                  li
                    a(href='#') Netherlands
            //  FOOTER LINKS 
            .col-md-4.col-lg-3.col-xl-3
              .footer-links.mb-40
                //  Title 
                h5.h5-md Visas
                //  Footer Links 
                ul.foo-links.clearfix
                  li
                    a(href='#') Students Visa
                  li
                    a(href='#') Travel Visa
                  li
                    a(href='#') PR Visa
                  li
                    a(href='#') Business Visa
                  li
                    a(href='#') Work Visa
                  li
                    a(href='#') Family Visa
            //  FOOTER NEWSLETTER FORM 
            .col-lg-3.col-xl-3
              .footer-form.mb-20
                //  Title 
                h5.h5-md Stay Always In Touch
                //  Newsletter Form Input 
                form.newsletter-form
                  .input-group
                    input.form-control#s-email(type='email' placeholder='Your email address' required)
                    span.input-group-btn
                      button.btn.btn-primary.tra-white-hover(type='submit') Subscribe
                  //  Newsletter Form Notification 
                  label.form-notification(for='s-email')
          //  END FOOTER CONTENT 
          //  BOTTOM FOOTER 
          .bottom-footer
            .row.d-flex.align-items-center
              //  FOOTER LOGO 
              .col-md-4.col-lg-3
                //  Footer Logo 
                //  For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 400 x 100 pixels) 
                img(src='images/logo-white.png' width='200' height='50' alt='footer-logo')
              //  FOOTER SOCIALS LINKS 
              .col-md-8.col-lg-9.text-right
                p.footer-copyright
                  | © Copyright 
                  span VisaPRO 2019
                  | . All Rights 
                  a(href='http://www.bootstrapmb.com/' title='bootstrapmb') Reserved
                p.p-sm
                  a(href='#') Privacy Policy
                p.p-sm
                  a(href='#') Terms & Conditions
                p.p-sm
                  a(href='#') Cookies
          //  END BOTTOM FOOTER 
        //  End container 
      //  END FOOTER-3 
    //  END PAGE CONTENT 
    //
       EXTERNAL SCRIPTS
      		============================================= 
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/modernizr.custom.js')
    script(src='js/jquery.easing.js')
    script(src='js/jquery.appear.js')
    script(src='js/jquery.stellar.min.js')
    script(src='js/menu.js')
    script(src='js/materialize.js')
    script(src='js/jquery.scrollto.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/jquery.magnific-popup.min.js')
    script(src='js/hero-request-form.js')
    script(src='js/hero-register-form.js')
    script(src='js/request-form.js')
    script(src='js/contact-form.js')
    script(src='js/comment-form.js')
    script(src='js/jquery.ajaxchimp.min.js')
    script(src='js/jquery.validate.min.js')
    //  Custom Script 
    script(src='js/custom.js')
    //  HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. 
    //
       [if lt IE 9]>
      			<script src="js/html5shiv.js" type="text/javascript"></script>
      			<script src="js/respond.min.js" type="text/javascript"></script>
      		<![endif] 
    //  Google Map 
    script(src='js/google-map.js')
    //  To use this code on your website, get a free API key from Google. Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp 
    script(src='http://ditu.google.cn/maps/api/js?key=AIzaSyC3VridlI2w6LmX_55OQQ4airseVZo-uVI&callback=initMap' async defer)
    //
       STYLE SWITCHER
      		============================================= 
    #stlChanger
      .blockChanger.bgChanger
        a.chBut.icon-xs(href='#')
          span.flaticon-292-gear
        .chBody
          .stBlock.text-center(style='margin: 30px 20px 20px 16px;')
            p Color Scheme
            .stBgs
              a(href='javascript:chooseStyle(\'aqua-theme\', 60)')
                img(src='images/color-scheme/aqua.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'salmon-theme\', 60)')
                img(src='images/color-scheme/salmon.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'blue-theme\', 60)')
                img(src='images/color-scheme/blue.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'red-theme\', 60)')
                img(src='images/color-scheme/red.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'olive-theme\', 60)')
                img(src='images/color-scheme/olive.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'darkred-theme\', 60)')
                img(src='images/color-scheme/darkred.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'teal-theme\', 60)')
                img(src='images/color-scheme/teal.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'yellow-theme\', 60)')
                img(src='images/color-scheme/yellow.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'green-theme\', 60)')
                img(src='images/color-scheme/green.png' width='50' height='50' alt)
          .stBlock.text-center(style='margin: 0px 32px 25px 20px;')
            a.btn.btn-primary.black-hover(href='javascript:chooseStyle(\'none\', 60)') Reset color
          .stBlock.text-center(style='margin:30px 20px 30px 16px')
            p Choose Layout
            a.s_1(href='demo-1')
              img(src='images/color-scheme/l-01.jpg' width='175' height='140' alt='layout-image')
            a.s_1(href='demo-2')
              img(src='images/color-scheme/l-02.jpg' width='175' height='130' alt='layout-image')
            a.s_1(href='demo-3')
              img(src='images/color-scheme/l-03.jpg' width='175' height='110' alt='layout-image')
            a.s_1(href='demo-4')
              img(src='images/color-scheme/l-04.jpg' width='175' height='130' alt='layout-image')
            a.s_1(href='demo-5')
              img(src='images/color-scheme/l-05.jpg' width='175' height='110' alt='layout-image')
            a.s_1(href='demo-6')
              img(src='images/color-scheme/l-06.jpg' width='175' height='150' alt='layout-image')
            a.s_1(href='demo-7')
              img(src='images/color-scheme/l-07.jpg' width='175' height='165' alt='layout-image')
            a.s_1(href='demo-8')
              img(src='images/color-scheme/l-08.jpg' width='175' height='100' alt='layout-image')
            a.s_1(href='demo-9')
              img(src='images/color-scheme/l-09.jpg' width='175' height='135' alt='layout-image')
    //  END SWITCHER 
    script(src='js/changer.js')
    script(defer src='js/styleswitch.js')
