html(lang='en')
  head
  body
    | ﻿

    // [if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]
    // [if IE 7 ]><html class="ie ie7" lang="en"> <![endif]
    // [if IE 8 ]><html class="ie ie8" lang="en"> <![endif]
    // [if (gte IE 9)|!(IE)]><!
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='author' content='DSAThemes')
    meta(name='description' content='VisaPRO - Immigration and Visa Consulting Website Template')
    meta(name='keywords' content='Responsive, DSAThemes, One Page, Landing, Business, Coaching, Consulting, Creative, Immigration, Visa')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //  SITE TITLE 
    title VisaPRO - Immigration and Visa Consulting Website Template
    //  FAVICON AND TOUCH ICONS  
    link(rel='apple-touch-icon' sizes='152x152' href='images/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='120x120' href='images/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='76x76' href='images/apple-touch-icon-76x76.png')
    //  GOOGLE FONTS 
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900&display=swap' rel='stylesheet')
    //  BOOTSTRAP CSS 
    link(href='http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet')
    //  FONT ICONS 
    link(href='css/all.css')
    link(href='css/flaticon.css' rel='stylesheet')
    //  PLUGINS STYLESHEET 
    link(href='css/menu.css' rel='stylesheet')
    link#effect(href='css/dropdown-effects/fade-down.css' media='all' rel='stylesheet')
    link(href='css/tweenmax.css' rel='stylesheet')
    link(href='css/magnific-popup.css' rel='stylesheet')
    link(href='css/owl.carousel.min.css' rel='stylesheet')
    link(href='css/owl.theme.default.min.css' rel='stylesheet')
    //  TEMPLATE CSS 
    link(href='css/orange.css' rel='stylesheet')
    //  STYLE SWITCHER CSS 
    link(href='css/aqua.css' rel='alternate stylesheet' title='aqua-theme')
    link(href='css/blue.css' rel='alternate stylesheet' title='blue-theme')
    link(href='css/darkred.css' rel='alternate stylesheet' title='darkred-theme')
    link(href='css/green.css' rel='alternate stylesheet' title='green-theme')
    link(href='css/olive.css' rel='alternate stylesheet' title='olive-theme')
    link(href='css/red.css' rel='alternate stylesheet' title='red-theme')
    link(href='css/salmon.css' rel='alternate stylesheet' title='salmon-theme')
    link(href='css/teal.css' rel='alternate stylesheet' title='teal-theme')
    link(href='css/yellow.css' rel='alternate stylesheet' title='yellow-theme')
    //  RESPONSIVE CSS 
    link(href='css/responsive.css' rel='stylesheet')
    //
       PRELOADER SPINNER
      		============================================= 
    #loader-wrapper
      #loader
        .cssload-box-loading
    //
       PAGE CONTENT
      		============================================= 
    #page.page
      //
         HEADER
        			============================================= 
      header#header-2.header.white-menu
        .header-wrapper
          //  MOBILE HEADER 
          .wsmobileheader.clearfix
            a#wsnavtoggle.wsanimated-arrow
              span
            span.smllogo
              img(src='images/logo-black.png' width='200' height='50' alt='mobile-logo')
            a.callusbtn(href='tel:123456789')
              i.fas.fa-phone
          //  HEADER STRIP 
          .headtoppart.bg-white.clearfix
            .headerwp.clearfix
              //  Infotmation 
              .headertopleft
                .header-info.clearfix
                  span.txt-400
                    i.fas.fa-map-marker-alt
                    | 121 King St, Melbourne, Victoria 3000
              //  Contacts 
              .headertopright.header-contacts
                a.callusbtn.txt-400(href='tel:123456789')
                  i.fas.fa-phone
                  | +61-2 3456 7890,
                a.callusbtn.b-right.txt-400(href='tel:123456789')  +61-2 7890 3456
                a.txt-400(href='/cdn-cgi/l/email-protection#bac3d5cfc8ded5d7dbd3d4fad7dbd3d694d9d5d7')
                  i.far.fa-envelope-open
                  span.__cf_email__(data-cfemail='7c14191010133c1813111d1512521f1311') [email protected]
          //  END HEADER STRIP 
          //  NAVIGATION MENU 
          .wsmainfull.menu.clearfix
            .wsmainwp.clearfix
              //  LOGO IMAGE 
              //  For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 90 pixels) 
              .desktoplogo
                a.logo-black(href='demo-1')
                  img(src='images/logo-black.png' width='180' height='45' alt='header-logo')
              .desktoplogo
                a.logo-white(href='demo-1')
                  img(src='images/logo-white.png' width='180' height='45' alt='header-logo')
              //  MAIN MENU 
              nav.wsmenu.clearfix.blue-header
                ul.wsmenu-list
                  //  DROPDOWN MENU 
                  li(aria-haspopup='true')
                    a(href='#')
                      | Home 
                      span.wsarrow
                    ul.sub-menu
                      li(aria-haspopup='true')
                        a(href='demo-1') Homepage-1
                      li(aria-haspopup='true')
                        a(href='demo-2') Homepage-2
                      li(aria-haspopup='true')
                        a(href='demo-3') Homepage-3
                      li(aria-haspopup='true')
                        a(href='demo-4') Homepage-4
                      li(aria-haspopup='true')
                        a(href='demo-5') Homepage-5
                      li(aria-haspopup='true')
                        a(href='demo-6') Homepage-6
                      li(aria-haspopup='true')
                        a(href='demo-7') Homepage-7
                      li(aria-haspopup='true')
                        a(href='demo-8') Homepage-8
                      li(aria-haspopup='true')
                        a(href='demo-9') Homepage-9
                  //  END DROPDOWN MENU 
                  //  PAGES 
                  li(aria-haspopup='true')
                    a(href='#')
                      | Pages 
                      span.wsarrow
                    .wsmegamenu.clearfix
                      .container
                        .row
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title Standard Pages:
                            li
                              a(href='about') About Us Page
                            li
                              a(href='courses-list') Courses List Page
                            li
                              a(href='course-details') Course Details Page
                            li
                              a(href='partners') Partners & Colleges
                            li
                              a(href='faqs') FAQs Page
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title Special Pages:
                            li
                              a(href='country-details') Countries List Page
                            li
                              a(href='country-details') Country Details Page
                            li
                              a(href='visa-list-1') Visa List Page #1
                            li
                              a(href='visa-list-2') Visa List Page #2
                            li
                              a(href='visa-details') Visa Details Page
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title Auxiliary Pages:
                            li
                              a(href='blog-listing') Blog Listing Page
                            li
                              a(href='single-post') Single Blog Post
                            li
                              a(href='contacts-1') Contact Style #1
                            li
                              a(href='contacts-2') Contact Style #2
                            li
                              a(href='contacts-3') Contact Style #3
                        //  End row 
                      //  End container 
                    //  End wsmegamenu 
                  //  END PAGES 
                  //  MEGAMENU 
                  li(aria-haspopup='true')
                    a(href='#')
                      | Mega Menu 
                      span.wsarrow
                    .wsmegamenu.clearfix
                      .container
                        .row
                          //  MEGAMENU QUICK LINKS 
                          .col-md-12.col-lg-3
                            //  Title 
                            h3.title What We Offer:
                            ul.link-list
                              li
                                a(href='#') Student Visa Assessment
                              li
                                a(href='#') Working Visa Assessment
                              li
                                a(href='#') Business Visa Assessment
                              li
                                a(href='#') PR Visa Assessment
                              li
                                a(href='#') Visa Eligibility Assessment
                              li
                                a(href='#') Family Visa Assessment
                              li
                                a(href='#') Immigration Consultation
                          //  END MEGAMENU QUICK LINKS 
                          //  MEGAMENU FEATURED NEWS 
                          .col-md-12.col-lg-5
                            //  Title 
                            h3.title Featured News:
                            //  Image 
                            .fluid-width-video-wrapper.mb-15
                              img(src='images/blog/featured-news.jpg' alt='featured-news')
                            //  Text 
                            h5.h5-md
                              a(href='#') We make the visa process faster
                            p.wsmwnutxt.
                              Porta semper lacus cursus, feugiat primis ultrice in ligula risus auctor tempus feugiat dolor impedit magna...
                              
                          //  END MEGAMENU FEATURED NEWS 
                          //  MEGAMENU LATEST NEWS 
                          .col-md-12.col-lg-4
                            //  Title 
                            h3.title Latest News:
                            //  Latest News 
                            ul.latest-news
                              //  Post #1 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-1.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='single-post') Etiam sapien risus ante auctor tempus accumsan an empor ...
                                  p 43 Comments
                              //  Post #2 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-2.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='single-post') Blandit tempor a sapien ipsum, porta risus auctor justo ...
                                  p 38 Comments
                              //  Post #3 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-3.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='single-post') Cursus risus an auctor risus laoreet turpis auctor varius ...
                                  p 29 Comments
                          //  END MEGAMENU LATEST NEWS 
                        //  End row 
                      //  End container 
                    //  End wsmegamenu 
                  //  END MEGAMENU 
                  //  SIMPLE NAVIGATION LINK 
                  li.nl-simple(aria-haspopup='true')
                    a(href='#') Simple Link
                  //  LAST NAVIGATION LINK 
                  li.nl-simple(aria-haspopup='true')
                    a.header-btn.btn-primary.tra-black-hover.last-link(href='#') Get Consultation
              //  END MAIN MENU 
          //  END NAVIGATION MENU 
        //  End header-wrapper 
      //  END HEADER 
      //
         INNER PAGE WRAPPER
        			============================================= 
      .inner-page-wrapper
        //
           COUNTRY DETAIL PAGE HERO
          				============================================= 
        section#australia-page.page-hero-section.division
          .container
            .row
              //  PAGE HERO TEXT 
              .col-md-7
                .hero-txt.white-color
                  h2.h2-xs Australia
              //  END PAGE HERO TEXT 
            //  End row 
          //  End container 
        //  END COUNTRY DETAIL PAGE HERO 
        //
           BREADCRUMB
          				============================================= 
        #breadcrumb.bg-darkblue.division
          .container
            .row
              .col
                nav(aria-label='breadcrumb')
                  ol.breadcrumb.white-color
                    li.breadcrumb-item
                      a(href='demo-1') [ Home ]
                    li.breadcrumb-item
                      a(href='country-list') Country List
                    li.breadcrumb-item.active(aria-current='page') Australia
            //  End row 
          //  End container 
        //  END BREADCRUMB 
        //
           ABOUT-9
          				============================================= 
        section#about-9.wide-60.about-section.division
          .container
            .row
              //  ABOUT TEXT 
              .col-lg-8
                .about-9-txt.mb-40.pr-15
                  //  Image 
                  .about-9-img.mb-40
                    img.img-fluid(src='images/image-10.jpg' alt='about-image')
                  //  Title 
                  h3.h3-md Study. Work. Live in Australia
                  //  Text 
                  p.
                    Aliqum mullam blandit tempor sapien gravida donec ipsum, at porta justo. Velna vitae and congue auctor magna nihil impedit ligula risus. Mauris donec ociis et magnis sapien etiam sapien sagittis congue tempor gravida donec enim ipsum porta justo integer at odio velna placerat purus, aliquet elementum massa mollis risus lectus porta rutrum magna dignissim, porttitor hendrerit
                    
                  //  List 
                  ul.txt-list
                    li
                      span Full name:
                      |  Commonwealth of Australia
                    li
                      span Population:
                      |  21.5 million (UN, 2009)
                    li
                      span Capital:
                      |  Canberra
                    li
                      span Largest city:
                      |  Sydney
                    li
                      span Area:
                      |  7.7 million sq km (2.9 million sq miles)
                    li
                      span Major language:
                      |  English
                    li
                      span Major religion:
                      |  Christianity
                  //  Small Title 
                  h5.h5-md.mt-25 Big Cities:
                  p Adelaide, Brisbane (1.6 million) Darwin, Hobart, Melbourne, Sydney, Perth
                  //  Small Title 
                  h5.h5-md.mt-25 Climate:
                  //  Text 
                  p.
                    Maecenas gravida porttitor nunc vehicula magna luctus tempor. Quisque laoreet turpis at augue, viverra a augue eget, dictum tempor diam. Pulvinar consectetur vehicula imperdiet varius viverra. Pellentesque ac massa lorem. Fusce eu cursus non nulla vitae massa dictum tempor diam.
                    
                  //  Medium Title 
                  h4.h4-xs.mt-30 Additional Information:
                  //  Text 
                  p.
                    Aliqum mullam blandit tempor sapien gravida donec ipsum, at porta justo. Velna vitae and congue auctor magna nihil impedit ligula risus. Mauris donec ociis et magnis sapien etiam sapien sagittis congue tempor gravida donec enim ipsum porta justo integer at odio velna placerat purus, aliquet elementum massa mollis risus lectus porta rutrum magna dignissim, porttitor hendrerit
                    
                  //  Text 
                  p.
                    An orci nullam tempor sapien, gravida donec enim ipsum a porta. An augue undo cubilia laoreet magna suscipit egestas magna ipsum vitae purus ipsum primis in cubilia laoreet augue ultrice at ligula egestas magna suscipit lectus gestas magna viverra dolor neque est gravida justo
                    
                  //  Small Title 
                  h5.h5-md.mt-25 Institutes:
                  .row
                    //  List 
                    .col-lg-6
                      ul.txt-list.list-column
                        li Einstein College of Australia
                        li Adelaide College Of Technology
                        li Central Queensland University
                        li Edith Cowan University
                        li Trison Business College
                        li Australian Nationwide College
                    //  List 
                    .col-lg-6
                      ul.txt-list
                        li Cambridge College International
                        li Brisbane College of Australia
                        li Perth Institute of business & Tech
                        li New England Institute
                        li Northern Sydney Institute
                        li Western Sydney Institute
                  //  Small Title 
                  h5.h5-md.mt-25 Benefits:
                  //  Text 
                  p.
                    Curabitur ac dapibus libero. Quisque eu tristique neque. Blandit tristique justo ut aliquam. Aliquam vitae molestie nunc. Quisque sapien justo, aliquet non molestie venenatis at purus cursus feugiat primis an ultrice dolor undo congue placerat donec enim ipsum porta justo integer at odio
                    
                  //  List 
                  ul.txt-list
                    li Tempor magna ipsum vitae purus primis pretium
                    li Pretium ligula rutrum luctus blandit porta justo
                    li Feugiat a primis ultrice ligula risus auctor rhoncus purus ipsum primis
              //  END ABOUT TEXT 
              //  SIDEBAR 
              aside#sidebar.col-lg-4
                //  SIDEBAR FORM 
                #request-form.mb-40
                  form.row.request-form.bg-darkblue(name='requestForm')
                    //  Request Form Text 
                    .col-md-12.white-color
                      h5.h5-lg Free Consultation
                    //  Request Form Input 
                    #input-name.col-md-12
                      input.form-control.name(type='text' name='name' placeholder='Enter Your Name*' required)
                    //  Request Form Input 
                    #input-email.col-md-12
                      input.form-control.email(type='text' name='email' placeholder='Enter Your Email*' required)
                    //  Request Form Input 
                    #input-phone.col-md-12
                      input.form-control.phone(type='tel' name='phone' placeholder='Enter Your Phone Number*' required)
                    //  Request Form Select 
                    #input-visa.col-md-12.input-visa
                      select#inlineFormCustomSelect1.custom-select.visa(name='visa' required)
                        option(value) Select Visa
                        option Student Visa
                        option Travel visa
                        option Working Visa
                        option Business Visa
                        option Visitor Visa
                        option PR Visa
                    //  Request Form Select 
                    #input-country.col-md-12.input-country
                      select#inlineFormCustomSelect2.custom-select.country(name='country' required)
                        option(value) Visa For
                        option Australia
                        option Canada
                        option United Kingdom
                        option USA
                        option Singapore
                        option Netherlands
                    //  Request Form Button 
                    .col-md-12.form-btn
                      button.btn.btn-primary.tra-black-hover.submit(type='submit') Send Request
                    //  Request Form Message 
                    .col-md-12.request-form-msg.text-center
                      .sending-msg
                        span.loading
                //  END SIDEBAR FORM 
                //  SIDEBAR CATEGORIES 
                .blog-categories.sidebar-div.mb-50
                  //  Title 
                  h5.h5-lg Visa Categories:
                  //  List 
                  ul.blog-category-list.clearfix
                    li
                      a.txt-400(href='#')
                        i.fas.fa-genderless
                        |  Study Visa in Australia
                    li
                      a.txt-400(href='#')
                        i.fas.fa-genderless
                        |  Skilled Woker Visa
                    li
                      a.txt-400(href='#')
                        i.fas.fa-genderless
                        |  Work Permit Visa
                    li
                      a.txt-400(href='#')
                        i.fas.fa-genderless
                        |  PR and Migrate Visa
                    li
                      a.txt-400(href='#')
                        i.fas.fa-genderless
                        |  Business Visa
                //  SIDEBAR COUNTRIES 
                .sidebar-countries.sidebar-div.mb-50
                  //  Title 
                  h5.h5-lg Countries:
                  //  List 
                  ul.sidebar-country-list.clearfix
                    li
                      a(href='country-detail')
                        img.img-fluid(src='images/sidebar-canada.jpg' alt='sidebar-image')
                        | Canada
                    li
                      a(href='country-detail')
                        img.img-fluid(src='images/sidebar-uk.jpg' alt='sidebar-image')
                        | United Kingdom
                    li
                      a(href='country-detail')
                        img.img-fluid(src='images/sidebar-usa.jpg' alt='sidebar-image')
                        | United States of America
              //  END SIDEBAR 
            //  End row 
          //  End container 
        //  END ABOUT-9 
        //  HORIZONTAL GREY LINE 
        .section-divider
          .container
            .row
              .grey-border
        //
           SERVICES-4
          				============================================= 
        section#services-4.wide-60.services-section.division
          .container
            //  SECTION TITLE 
            .row
              .col-md-12.section-title.center
                //  Title 
                h3.h3-lg Australian Visas Categories:
                //  Text 
                p.p-md.
                  Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                  
            .row
              //  SERVICE BOX #1 
              .col-md-6.col-lg-4
                .sbox-4.icon-sm
                  a(href='#')
                    //  Icon 
                    .sbox-4-icon.deepblue-color
                      span.flaticon-431-bank
                    //  Text 
                    .sbox-4-txt
                      h5.h5-md Education Visa
                      p Porta semper lacus cursus a feugiat primis an ultrice dolor undo congue placerat
              //  SERVICE BOX #2 
              .col-md-6.col-lg-4
                .sbox-4.icon-sm
                  a(href='#')
                    //  Icon 
                    .sbox-4-icon.deepblue-color
                      span.flaticon-033-user-2
                    //  Text 
                    .sbox-4-txt
                      h5.h5-md Job Seeker Visa
                      p Porta semper lacus cursus a feugiat primis an ultrice dolor undo congue placerat
              //  SERVICE BOX #3 
              .col-md-6.col-lg-4
                .sbox-4.icon-sm
                  a(href='#')
                    //  Icon 
                    .sbox-4-icon.deepblue-color
                      span.flaticon-397-briefcase
                    //  Text 
                    .sbox-4-txt
                      h5.h5-md Business Visa
                      p Porta semper lacus cursus a feugiat primis an ultrice dolor undo congue placerat
              //  SERVICE BOX #4 
              .col-md-6.col-lg-4
                .sbox-4.icon-sm
                  a(href='#')
                    //  Icon 
                    .sbox-4-icon.deepblue-color
                      span.flaticon-102-sign
                    //  Text 
                    .sbox-4-txt
                      h5.h5-md PR Visa
                      p Porta semper lacus cursus a feugiat primis an ultrice dolor undo congue placerat
              //  SERVICE BOX #5 
              .col-md-6.col-lg-4
                .sbox-4.icon-sm
                  a(href='#')
                    //  Icon 
                    .sbox-4-icon.deepblue-color
                      span.flaticon-285-internet-2
                    //  Text 
                    .sbox-4-txt
                      h5.h5-md Tourist & Visitor Visa
                      p Porta semper lacus cursus a feugiat primis an ultrice dolor undo congue placerat
              //  SERVICE BOX #6 
              .col-md-6.col-lg-4
                .sbox-4.icon-sm
                  a(href='#')
                    //  Icon 
                    .sbox-4-icon
                      span.flaticon-265-question
                    //  Text 
                    .sbox-4-txt
                      h5.h5-md Immigration Consult
                      p Porta semper lacus cursus a feugiat primis an ultrice dolor undo congue placerat
            //  End row 
          //  End container 
        //  END SERVICES-4 
        //
           FOOTER-3
          				============================================= 
        footer#footer-3.bg-blue-map.wide-40.footer.division
          .container.white-color
            //  FOOTER CONTENT 
            .row
              //  FOOTER CONTACTS 
              .col-md-4.col-lg-3.col-xl-3
                .footer-box.mb-40
                  //  Title 
                  h5.h5-md Head Office
                  //  Address 
                  p 121 King Street, Melbourne,
                  p Victoria 3000 Australia
                  //  Phone 
                  p.mt-20 Phone: +12 9 8765 4321
                  //  Email 
                  p.foo-email
                    | Email: 
                    a(href='/cdn-cgi/l/email-protection#730a1c0601171c1e121a1d331e121a1f5d101c1e')
                      span.__cf_email__(data-cfemail='127a777e7e7d5276777f7d3c717d7f') [email protected]
                  //  Phone 
                  p Office Time: 9AM - 6PM
              //  FOOTER LINKS 
              .col-md-4.col-lg-3.col-xl-3
                .footer-links.mb-40
                  //  Title 
                  h5.h5-md Countries
                  //  Footer Links 
                  ul.foo-links.clearfix
                    li
                      a(href='#') Canada
                    li
                      a(href='#') Australia
                    li
                      a(href='#') United Kingdom
                    li
                      a(href='#') USA
                    li
                      a(href='#') Germany
                    li
                      a(href='#') Netherlands
              //  FOOTER LINKS 
              .col-md-4.col-lg-3.col-xl-3
                .footer-links.mb-40
                  //  Title 
                  h5.h5-md Visas
                  //  Footer Links 
                  ul.foo-links.clearfix
                    li
                      a(href='#') Students Visa
                    li
                      a(href='#') Travel Visa
                    li
                      a(href='#') PR Visa
                    li
                      a(href='#') Business Visa
                    li
                      a(href='#') Work Visa
                    li
                      a(href='#') Family Visa
              //  FOOTER NEWSLETTER FORM 
              .col-lg-3.col-xl-3
                .footer-form.mb-20
                  //  Title 
                  h5.h5-md Stay Always In Touch
                  //  Newsletter Form Input 
                  form.newsletter-form
                    .input-group
                      input.form-control#s-email(type='email' placeholder='Your email address' required)
                      span.input-group-btn
                        button.btn.btn-primary.tra-white-hover(type='submit') Subscribe
                    //  Newsletter Form Notification 
                    label.form-notification(for='s-email')
            //  END FOOTER CONTENT 
            //  BOTTOM FOOTER 
            .bottom-footer
              .row.d-flex.align-items-center
                //  FOOTER LOGO 
                .col-md-4.col-lg-3
                  //  Footer Logo 
                  //  For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 400 x 100 pixels) 
                  img(src='images/logo-white.png' width='200' height='50' alt='footer-logo')
                //  FOOTER SOCIALS LINKS 
                .col-md-8.col-lg-9.text-right
                  p.footer-copyright
                    | © Copyright 
                    span VisaPRO 2019
                    | . All Rights 
                    a(href='http://www.bootstrapmb.com/' title='bootstrapmb') Reserved
                  p.p-sm
                    a(href='#') Privacy Policy
                  p.p-sm
                    a(href='#') Terms & Conditions
                  p.p-sm
                    a(href='#') Cookies
            //  END BOTTOM FOOTER 
          //  End container 
        //  END FOOTER-3 
      //  END INNER PAGE WRAPPER 
    //  END PAGE CONTENT 
    //
       EXTERNAL SCRIPTS
      		============================================= 
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/modernizr.custom.js')
    script(src='js/jquery.easing.js')
    script(src='js/jquery.appear.js')
    script(src='js/jquery.stellar.min.js')
    script(src='js/menu.js')
    script(src='js/materialize.js')
    script(src='js/jquery.scrollto.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/jquery.magnific-popup.min.js')
    script(src='js/hero-request-form.js')
    script(src='js/hero-register-form.js')
    script(src='js/request-form.js')
    script(src='js/contact-form.js')
    script(src='js/comment-form.js')
    script(src='js/jquery.ajaxchimp.min.js')
    script(src='js/jquery.validate.min.js')
    //  Custom Script 
    script(src='js/custom.js')
    //  HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. 
    //
       [if lt IE 9]>
      			<script src="js/html5shiv.js" type="text/javascript"></script>
      			<script src="js/respond.min.js" type="text/javascript"></script>
      		<![endif] 
    //
       STYLE SWITCHER
      		============================================= 
    #stlChanger
      .blockChanger.bgChanger
        a.chBut.icon-xs(href='#')
          span.flaticon-292-gear
        .chBody
          .stBlock.text-center(style='margin: 30px 20px 20px 16px;')
            p Color Scheme
            .stBgs
              a(href='javascript:chooseStyle(\'aqua-theme\', 60)')
                img(src='images/color-scheme/aqua.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'salmon-theme\', 60)')
                img(src='images/color-scheme/salmon.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'blue-theme\', 60)')
                img(src='images/color-scheme/blue.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'red-theme\', 60)')
                img(src='images/color-scheme/red.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'olive-theme\', 60)')
                img(src='images/color-scheme/olive.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'darkred-theme\', 60)')
                img(src='images/color-scheme/darkred.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'teal-theme\', 60)')
                img(src='images/color-scheme/teal.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'yellow-theme\', 60)')
                img(src='images/color-scheme/yellow.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'green-theme\', 60)')
                img(src='images/color-scheme/green.png' width='50' height='50' alt)
          .stBlock.text-center(style='margin: 0px 32px 25px 20px;')
            a.btn.btn-primary.black-hover(href='javascript:chooseStyle(\'none\', 60)') Reset color
          .stBlock.text-center(style='margin:30px 20px 30px 16px')
            p Choose Layout
            a.s_1(href='demo-1')
              img(src='images/color-scheme/l-01.jpg' width='175' height='140' alt='layout-image')
            a.s_1(href='demo-2')
              img(src='images/color-scheme/l-02.jpg' width='175' height='130' alt='layout-image')
            a.s_1(href='demo-3')
              img(src='images/color-scheme/l-03.jpg' width='175' height='110' alt='layout-image')
            a.s_1(href='demo-4')
              img(src='images/color-scheme/l-04.jpg' width='175' height='130' alt='layout-image')
            a.s_1(href='demo-5')
              img(src='images/color-scheme/l-05.jpg' width='175' height='110' alt='layout-image')
            a.s_1(href='demo-6')
              img(src='images/color-scheme/l-06.jpg' width='175' height='150' alt='layout-image')
            a.s_1(href='demo-7')
              img(src='images/color-scheme/l-07.jpg' width='175' height='165' alt='layout-image')
            a.s_1(href='demo-8')
              img(src='images/color-scheme/l-08.jpg' width='175' height='100' alt='layout-image')
            a.s_1(href='demo-9')
              img(src='images/color-scheme/l-09.jpg' width='175' height='135' alt='layout-image')
    //  END SWITCHER 
    script(src='js/changer.js')
    script(defer src='js/styleswitch.js')
