html(lang='en')
  head
  body
    | ﻿

    // [if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]
    // [if IE 7 ]><html class="ie ie7" lang="en"> <![endif]
    // [if IE 8 ]><html class="ie ie8" lang="en"> <![endif]
    // [if (gte IE 9)|!(IE)]><!
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='author' content='DSAThemes')
    meta(name='description' content='VisaPRO - Immigration and Visa Consulting Website Template')
    meta(name='keywords' content='Responsive, DSAThemes, One Page, Landing, Business, Coaching, Consulting, Creative, Immigration, Visa')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //  SITE TITLE 
    title VisaPRO - Immigration and Visa Consulting Website Template
    //  FAVICON AND TOUCH ICONS  
    link(rel='apple-touch-icon' sizes='152x152' href='images/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='120x120' href='images/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='76x76' href='images/apple-touch-icon-76x76.png')
    //  GOOGLE FONTS 
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900&display=swap' rel='stylesheet')
    //  BOOTSTRAP CSS 
    link(href='http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet')
    //  FONT ICONS 
    link(href='css/all.css')
    link(href='css/flaticon.css' rel='stylesheet')
    //  PLUGINS STYLESHEET 
    link(href='css/menu.css' rel='stylesheet')
    link#effect(href='css/dropdown-effects/fade-down.css' media='all' rel='stylesheet')
    link(href='css/tweenmax.css' rel='stylesheet')
    link(href='css/magnific-popup.css' rel='stylesheet')
    link(href='css/owl.carousel.min.css' rel='stylesheet')
    link(href='css/owl.theme.default.min.css' rel='stylesheet')
    //  TEMPLATE CSS 
    link(href='css/orange.css' rel='stylesheet')
    //  STYLE SWITCHER CSS 
    link(href='css/aqua.css' rel='alternate stylesheet' title='aqua-theme')
    link(href='css/blue.css' rel='alternate stylesheet' title='blue-theme')
    link(href='css/darkred.css' rel='alternate stylesheet' title='darkred-theme')
    link(href='css/green.css' rel='alternate stylesheet' title='green-theme')
    link(href='css/olive.css' rel='alternate stylesheet' title='olive-theme')
    link(href='css/red.css' rel='alternate stylesheet' title='red-theme')
    link(href='css/salmon.css' rel='alternate stylesheet' title='salmon-theme')
    link(href='css/teal.css' rel='alternate stylesheet' title='teal-theme')
    link(href='css/yellow.css' rel='alternate stylesheet' title='yellow-theme')
    //  RESPONSIVE CSS 
    link(href='css/responsive.css' rel='stylesheet')
    //
       PRELOADER SPINNER
      		============================================= 
    #loader-wrapper
      #loader
        .cssload-box-loading
    //
       PAGE CONTENT
      		============================================= 
    #page.page
      //
         HEADER
        			============================================= 
      header#header-1.header.white-menu
        .header-wrapper
          //  MOBILE HEADER 
          .wsmobileheader.clearfix
            a#wsnavtoggle.wsanimated-arrow
              span
            span.smllogo
              img(src='images/logo-black.png' width='200' height='50' alt='mobile-logo')
            a.callusbtn(href='tel:123456789')
              i.fas.fa-phone
          //  NAVIGATION MENU 
          .wsmainfull.menu.clearfix
            .wsmainwp.clearfix
              //  LOGO IMAGE 
              //  For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 90 pixels) 
              .desktoplogo
                a.logo-black(href='#hero-5')
                  img(src='images/logo-black.png' width='180' height='45' alt='header-logo')
              .desktoplogo
                a.logo-white(href='#hero-5')
                  img(src='images/logo-white.png' width='180' height='45' alt='header-logo')
              //  MAIN MENU 
              nav.wsmenu.clearfix.blue-header
                ul.wsmenu-list
                  //  DROPDOWN MENU 
                  li(aria-haspopup='true')
                    a(href='#')
                      | 主頁 
                      span.wsarrow
                    ul.sub-menu
                      li(aria-haspopup='true')
                        a(href='/') Homepage-1
                      li(aria-haspopup='true')
                        a(href='demo-2') Homepage-2
                      li(aria-haspopup='true')
                        a(href='demo-3') Homepage-3
                      li(aria-haspopup='true')
                        a(href='demo-4') Homepage-4
                      li(aria-haspopup='true')
                        a(href='demo-6') Homepage-6
                      li(aria-haspopup='true')
                        a(href='demo-7') Homepage-7
                      li(aria-haspopup='true')
                        a(href='demo-8') Homepage-8
                      li(aria-haspopup='true')
                        a(href='demo-9') Homepage-9
                  //  END DROPDOWN MENU 
                  //  PAGES 
                  li(aria-haspopup='true')
                    a(href='#')
                      | Pages 
                      span.wsarrow
                    .wsmegamenu.clearfix
                      .container
                        .row
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title Standard Pages:
                            li
                              a(href='about') About Us Page
                            li
                              a(href='courses-list') Courses List Page
                            li
                              a(href='course-details') Course Details Page
                            li
                              a(href='partners') Partners & Colleges
                            li
                              a(href='faqs') FAQs Page
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title Special Pages:
                            li
                              a(href='country-details') Countries List Page
                            li
                              a(href='country-details') Country Details Page
                            li
                              a(href='visa-list-1') Visa List Page #1
                            li
                              a(href='visa-list-2') Visa List Page #2
                            li
                              a(href='visa-details') Visa Details Page
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title Auxiliary Pages:
                            li
                              a(href='blog-listing') Blog Listing Page
                            li
                              a(href='single-post') Single Blog Post
                            li
                              a(href='contacts-1') Contact Style #1
                            li
                              a(href='contacts-2') Contact Style #2
                            li
                              a(href='contacts-3') Contact Style #3
                        //  End row 
                      //  End container 
                    //  End wsmegamenu 
                  //  END PAGES 
                  //  MEGAMENU 
                  li(aria-haspopup='true')
                    a(href='#')
                      | Mega Menu 
                      span.wsarrow
                    .wsmegamenu.clearfix
                      .container
                        .row
                          //  MEGAMENU QUICK LINKS 
                          .col-md-12.col-lg-3
                            //  Title 
                            h3.title What We Offer:
                            ul.link-list
                              li
                                a(href='#') 澳洲投資移民簽證 Assessment
                              li
                                a(href='#') Working Visa Assessment
                              li
                                a(href='#') Business Visa Assessment
                              li
                                a(href='#') PR Visa Assessment
                              li
                                a(href='#') Visa Eligibility Assessment
                              li
                                a(href='#') Family Visa Assessment
                              li
                                a(href='#') Immigration Consultation
                          //  END MEGAMENU QUICK LINKS 
                          //  MEGAMENU FEATURED NEWS 
                          .col-md-12.col-lg-5
                            //  Title 
                            h3.title Featured News:
                            //  Image 
                            .fluid-width-video-wrapper.mb-15
                              img(src='images/blog/featured-news.jpg' alt='featured-news')
                            //  Text 
                            h5.h5-md
                              a(href='single-post') We make the visa process faster
                            p.wsmwnutxt.
                              Porta semper lacus cursus, feugiat primis ultrice in ligula risus auctor tempus feugiat dolor impedit magna...
                              
                          //  END MEGAMENU FEATURED NEWS 
                          //  MEGAMENU LATEST NEWS 
                          .col-md-12.col-lg-4
                            //  Title 
                            h3.title Latest News:
                            //  Latest News 
                            ul.latest-news
                              //  Post #1 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-1.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='single-post') Etiam sapien risus ante auctor tempus accumsan an empor ...
                                  p 43 Comments
                              //  Post #2 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-2.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='single-post') Blandit tempor a sapien ipsum, porta risus auctor justo ...
                                  p 38 Comments
                              //  Post #3 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-3.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='single-post') Cursus risus an auctor risus laoreet turpis auctor varius ...
                                  p 29 Comments
                          //  END MEGAMENU LATEST NEWS 
                        //  End row 
                      //  End container 
                    //  End wsmegamenu 
                  //  END MEGAMENU 
                  //  SIMPLE NAVIGATION LINK 
                  li.nl-simple(aria-haspopup='true')
                    a(href='#') Simple Link
                  //  LAST NAVIGATION LINK 
                  li.nl-simple(aria-haspopup='true')
                    a.header-btn.btn-primary.tra-black-hover.last-link(href='tel:123456789')
                      i.fas.fa-mobile-alt.last-link
                      |  (800)-569-7890

              //  END MAIN MENU 
          //  END NAVIGATION MENU 
        //  End header-wrapper 
      //  END HEADER 
      //
         HERO-5
        			============================================= 
      section#hero-5.bg-scroll.hero-section.division
        .container
          .row
            .col-lg-12
              //  HERO TEXT 
              .hero-5-txt.text-center.white-color
                h4.h4-xs Start Planning Your New Dream
                h2 Travel and Immigrate with VisaPRO
                //  Text 
                p.p-md.
                  Nemo ipsam egestas volute turpis dolores aliquam quaerat sodales sapien undo pretium purus ligula tempus ipsum undo auctor mauris Quaerat sodales a sapien undo euismod
                  
              //  END HERO TEXT 
              //  HERO FORM 
              #hero-form.mb-40
                form.row.hero-register-form(name='heroRegisterForm')
                  //  Register Form Input 
                  #input-name.col-lg-3
                    p Name *
                    input.form-control.name(type='text' name='name' placeholder='Enter Your Name*' required)
                  //  Register Form Input 
                  #input-email.col-lg-3
                    p Email *
                    input.form-control.email(type='text' name='email' placeholder='Enter Your Email*' required)
                  //  Register Form Select 
                  #input-visa.col-lg-3.input-visa
                    p Select Visa Type *
                    select#inlineFormCustomSelect2.custom-select.visa(name='visa' required)
                      option(value) Visa Type
                      option Travel Visa
                      option Business Visa
                      option Student Visa
                      option Working Visa
                      option PR Visa
                      option Family Visa
                  //  Register Form Button 
                  .col-lg-3.form-btn
                    button.btn.btn-primary.tra-white-hover.submit(type='submit') 請聯係我!
                  //  Register Form Message 
                  .col-lg-12.hero-form-msg.text-center
                    .sending-msg
                      span.loading
              //  END HERO FORM 
              //  HERO LINKS 
              .hero-links.icon-xs.text-center.white-color.clearfix
                h5.h5-sm
                  span.flaticon-375-checked
                  |  Goverment Approved
                h5.h5-sm
                  span.flaticon-375-checked
                  |  No Hidden Costs
                h5.h5-sm
                  span.flaticon-375-checked
                  |  Secure Online Form
            //  End col-x 
          //  End row 
        //  End container 
      //  END HERO-5 
      //
         SERVICES-7
        			============================================= 
      section#services-7.wide-60.services-section.division
        .container
          //  SECTION TITLE 
          .row
            .col-md-12.section-title.center
              //  Title 
              h2.h2-xs.darkblue-color Make Dreams Into Reality
              //  Text 
              p.p-md.
                Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                
          //  SERVICE BOXES 
          .row
            //  SERVICE BOX #1 
            .col-md-6.col-lg-3
              .sbox-7
                //  Image 
                .hover-overlay
                  img.img-fluid(src='images/study-600x800.jpg' alt='service-image')
                  .item-overlay
                  //  Box Link 
                  .sbox-7-link
                    //  Title
                    h5.h5-md Student Visa
                    //  Text 
                    p.
                      Cursus porta feugiat primis in ultrice ligula risus auctor and tempus dolor feugiat, felis a lacinia risus
                      
                    // Link 
                    a.btn.btn-sm.btn-primary.tra-white-hover.btn-arrow(href='visa-details')
                      span
                        | Read More 
                        i.fas.fa-arrow-right
                //  Title 
                h5.h5-md.darkblue-color Student Visa
            //  SERVICE BOX #2 
            .col-md-6.col-lg-3
              .sbox-7
                //  Image 
                .hover-overlay
                  img.img-fluid(src='images/job-600x800.jpg' alt='service-image')
                  .item-overlay
                  //  Box Link 
                  .sbox-7-link
                    //  Title
                    h5.h5-md Working Visa
                    //  Text 
                    p.
                      Cursus porta feugiat primis in ultrice ligula risus auctor and tempus dolor feugiat, felis a lacinia risus
                      
                    // Link 
                    a.btn.btn-sm.btn-primary.tra-white-hover.btn-arrow(href='visa-details')
                      span
                        | Read More 
                        i.fas.fa-arrow-right
                //  Title 
                h5.h5-md.darkblue-color Working Visa
            //  SERVICE BOX #3 
            .col-md-6.col-lg-3
              .sbox-7
                //  Image 
                .hover-overlay
                  img.img-fluid(src='images/business-600x800.jpg' alt='service-image')
                  .item-overlay
                  //  Box Link 
                  .sbox-7-link
                    //  Title
                    h5.h5-md Business Visa
                    //  Text 
                    p.
                      Cursus porta feugiat primis in ultrice ligula risus auctor and tempus dolor feugiat, felis a lacinia risus
                      
                    // Link 
                    a.btn.btn-sm.btn-primary.tra-white-hover.btn-arrow(href='visa-details')
                      span
                        | Read More 
                        i.fas.fa-arrow-right
                //  Title 
                h5.h5-md.darkblue-color Business Visa
            //  SERVICE BOX #4 
            .col-md-6.col-lg-3
              .sbox-7
                //  Image 
                .hover-overlay
                  img.img-fluid(src='images/migrate-600x800.jpg' alt='service-image')
                  .item-overlay
                  //  Box Link 
                  .sbox-7-link
                    //  Title
                    h5.h5-md Travel Visa
                    //  Text 
                    p.
                      Cursus porta feugiat primis in ultrice ligula risus auctor and tempus dolor feugiat, felis a lacinia risus
                      
                    // Link 
                    a.btn.btn-sm.btn-primary.tra-white-hover.btn-arrow(href='visa-details')
                      span
                        | Read More 
                        i.fas.fa-arrow-right
                //  Title 
                h5.h5-md.darkblue-color Travel Visa
          //  END SERVICE BOXES 
        //  End container 
      //  END SERVICES-7 
      //
         ABOUT-5
        			============================================= 
      section#about-5.bg-tra-map.bg-lightgrey.wide-60.about-section.division
        .container
          //  SECTION TITLE 
          .row
            .col-md-12.section-title
              //  Title 
              h3.h3-lg.darkblue-color Find a consultant by:
              //  Text 
              p.p-md.
                Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                
          .row
            //  ABOUT TEXT	
            .col-lg-5
              .row
                .col-sm-6
                  .about-5-txt.mb-40
                    //  Title 
                    h5.h5-xl.darkblue-color Country:
                    //  List 
                    ul.abox-list
                      li
                        a(href='#') 台灣
                      li
                        a(href='#') 澳大利亞
                      li
                        a(href='#') UK
                      li
                        a(href='#') USA
                      li
                        a(href='#') Germany
                      li
                        a(href='#') Netherlands
                      li.more-info-link.darkblue-color
                        a(href='#') View All
                .col-sm-6
                  .about-5-txt.mb-40
                    //  Title 
                    h5.h5-xl.darkblue-color Pratice Area:
                    //  List 
                    ul.abox-list
                      li
                        a(href='#') 澳洲投資移民簽證
                      li
                        a(href='#') Working Visa
                      li
                        a(href='#') Business visa
                      li
                        a(href='#') PR Visa
                      li
                        a(href='#') Tourist & Visitor Visa
                      li
                        a(href='#') Immigration Consult
                      li.more-info-link.darkblue-color
                        a(href='#') View All
            //  END ABOUT TEXT	
            //  ABOUT IMAGE 
            .col-lg-7
              .about-5-img.text-center.mb-40
                img.img-fluid(src='images/world-map.png' alt='about-image')
          //  End row 
        //  End container 
      //  END ABOUT-5 
      //
         TABS-2
        			============================================= 
      section#tabs-2.wide-60.tabs-section.division
        .container
          .row
            //  TABS NAVIGATION 
            .col-md-12
              .tabs-nav.clearfix
                ul.tabs-2.primary-tabs
                  //  TAB-1 LINK 
                  li.tab-link.displayed(data-tab='tab-11')
                    span Goverment Approved
                  //  TAB-2 LINK 
                  li.tab-link(data-tab='tab-12')
                    span No Hidden Costs
                  //  TAB-3 LINK 
                  li.tab-link(data-tab='tab-13')
                    span Fast, Easy & Secure
            //  END TABS NAVIGATION 
            //  TABS CONTENT 
            .col-md-12
              .tabs-content
                //  TAB-1 CONTENT 
                #tab-11.tab-content.displayed
                  .row.d-flex.align-items-center
                    //  TAB-1 IMAGE 
                    .col-md-6.mb-40
                      .tab-img.text-center
                        img.img-fluid(src='images/image-01.png' alt='tab-image')
                    //  TAB-1 TEXT 
                    .col-md-6
                      .txt-block.pc-20.mb-40
                        //  Title 
                        h3.h3-lg.darkblue-color We make the visa process faster
                        //  Text 
                        p.
                          Semper lacus cursus porta, feugiat primis ligula risus auctor and rhoncus in ultrice ligula purus ipsum primis in cubilia augue vitae laoreet augue in cubilia augue egestas an ipsum turpis
                          
                        //  Small Title 
                        h5.h5-md.darkblue-color Cubilia augue vitae laoreet
                        //  Text Box #1 
                        .box-list
                          .box-list-icon
                            i.fas.fa-genderless
                          p.
                            Fringilla risus nec, luctus mauris orci auctor purus euismod at pretium purus pretium ligula rutrum viverra tortor sapien sodales congue magna undo pretium purus pretium an magnis nulla
                            
                        //  Text Box #2 
                        .box-list
                          .box-list-icon
                            i.fas.fa-genderless
                          p.
                            Quaerat sodales sapien undo euismod risus auctor egestas augue mauri undo viverra tortor sapien sodales sapien and vitae donec dolor sapien augue erat iaculis euismod
                            
                  //  End row 
                //  END TAB-1 CONTENT 
                //  TAB-2 CONTENT 
                #tab-12.tab-content
                  .row.d-flex.align-items-center
                    //  TAB-2 IMAGE 
                    .col-md-6
                      .tab-img.text-center.mb-40
                        img.img-fluid(src='images/image-03.png' alt='tab-image')
                    //  TAB-2 TEXT 
                    .col-md-6
                      .txt-block.pc-20.mb-40
                        //  Title 
                        h3.h3-lg.darkblue-color Thousands of people choose our services
                        //  Text 
                        p.
                          Semper lacus cursus porta, feugiat primis ligula risus auctor and rhoncus in ultrice ligula purus ipsum primis in cubilia augue vitae laoreet augue in cubilia augue egestas an ipsum turpis magna nihil impedit ligula risus. Mauris donec ociis et magnis sapien etiam
                          
                        //  Text 
                        p.
                          An enim nullam tempor sapien gravida donec enim blandit ipsum at porta justo integer velna vitae auctor integer congue magna pretium purus pretium. An magnis nulla dolor sapien augue erat iaculis
                          
                        //  Button 
                        a.btn.btn-tra-grey.primary-hover.btn-arrow(href='#')
                          span
                            | Discover More 
                            i.fas.fa-arrow-right
                  //  End row 
                //  END TAB-2 CONTENT 
                //  TAB-3 CONTENT 
                #tab-13.tab-content
                  .row.d-flex.align-items-center
                    //  TAB-3 IMAGE 
                    .col-md-6
                      .tab-img.text-center.mb-40
                        img.img-fluid(src='images/image-02.png' alt='tab-image')
                    //  TAB-3 TEXT 
                    .col-md-6
                      .txt-block.pc-20.mb-40
                        //  Title 
                        h3.h3-lg.darkblue-color Get guarantee success with our advisors
                        //  Text Box #1 
                        .box-list
                          .box-list-icon
                            i.fas.fa-genderless
                          p.
                            Semper lacus cursus porta, feugiat primis ligula risus auctor and rhoncus in ultrice ligula purus ipsum primis in cubilia augue vitae laoreet augue in cubilia augue egestas an ipsum turpis
                            
                        //  Text Box #2 
                        .box-list
                          .box-list-icon
                            i.fas.fa-genderless
                          p.
                            Fringilla risus nec, luctus mauris orci auctor purus euismod at pretium purus pretium ligula rutrum viverra tortor sapien sodales congue magna undo pretium purus pretium an magnis nulla
                            
                        //  Text Box #3 
                        .box-list
                          .box-list-icon
                            i.fas.fa-genderless
                          p.
                            Quaerat sodales sapien undo euismod risus auctor egestas augue mauri undo viverra tortor sapien sodales sapien and vitae donec dolor sapien augue erat iaculis euismod
                            
                  //  End row 
                //  END TAB-3 CONTENT 
            //  END TABS CONTENT 
          //  End row 
        //  End container 
      //  END TABS-2 
      //
         ABOUT-8
        			============================================= 
      section#about-8.about-section.division
        .container
          .row
            //  ABOUT TEXT 
            .col-md-7.col-lg-6
              .about-8-txt.bg-darkblue.white-color
                //  Section ID 
                span.section-id.noto-font-700.id-color About Agency
                //  Title 
                h3.h3-lg Give wings to your dreams, fly to study or work abroad
                //  Text
                p.
                  An magnis nulla dolor sapien augue erat iaculis a purus tempor magna ipsum vitae purus primis pretium ligula rutrum luctus blandit porta justo integer. Feugiat primis ultrice ligula. Nemo ipsam egestas volute turpis dolores and aliquam quaerat sodales sapien undo pretium
                  
                //  Button 
                a.btn.btn-md.btn-tra-white.primary-hover.btn-arrow(href='#')
                  span
                    | Discover More 
                    i.fas.fa-arrow-right
          //  End row 
        //  End container 
      //  END ABOUT-8 
      //
         STATISTIC-2
        			============================================= 
      #statistic-2.wide-60.statistic-section.division
        .container
          //  SECTION TITLE 
          .row
            .col-md-12.section-title.center
              //  Title 
              h2.h2-xs.darkblue-color Why Choose VisaPRO?
              //  Text 
              p.p-md.
                Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                
          //  END SECTION TITLE 
          .row
            //  STATISTIC BLOCK #1 
            .col-md-6.col-lg-3
              .statistic-block.icon-sm
                //  Icon 
                span.flaticon-316-mortarboard.darkblue-color
                //  Text 
                h5.primary-color
                  span.count-element 820
                  | +
                p.p-md Students
                //  Text 
                p.
                  The magnis pretium dolor sapien augue iaculis purus as tempor magna pretium undo ipsum purus a primis undo at ligula luctus
                  
                //  Link 
                a.darkblue-color(href='#') Read Testimonials
            //  STATISTIC BLOCK #2 
            .col-md-6.col-lg-3
              .statistic-block.icon-sm
                //  Icon 
                span.flaticon-431-bank.darkblue-color
                //  Text 
                h5.primary-color
                  span.count-element 127
                p.p-md Universities
                //  Text 
                p.
                  The magnis pretium dolor sapien augue iaculis purus as tempor magna pretium undo ipsum purus a primis undo at ligula luctus
                  
                //  Link 
                a.darkblue-color(href='#') Meet Partners
            //  STATISTIC BLOCK #3 
            .col-md-6.col-lg-3
              .statistic-block.icon-sm
                //  Icon 
                span.flaticon-285-internet-2.darkblue-color
                //  Text 
                h5.primary-color
                  span.count-element 81
                p.p-md Countries
                //  Text 
                p.
                  The magnis pretium dolor sapien augue iaculis purus as tempor magna pretium undo ipsum purus a primis undo at ligula luctus
                  
                //  Link 
                a.darkblue-color(href='#') View Countries
            //  STATISTIC BLOCK #4 
            .col-md-6.col-lg-3
              .statistic-block.icon-sm
                //  Icon 
                span.flaticon-067-suitcase-1.darkblue-color
                //  Text 
                h5.primary-color
                  span.count-element 969
                p.p-md Immigrations
                //  Text 
                p.
                  The magnis pretium dolor sapien augue iaculis purus as tempor magna pretium undo ipsum purus a primis undo at ligula luctus
                  
                //  Link 
                a.darkblue-color(href='#') Read More
          //  End row 
        //  End container 
      //  END STATISTIC-2 
      //
         COUNTRIES-3
        			============================================= 
      section#countries-3.bg-tra-map.bg-lightgrey.wide-80.countries-section.division
        .container
          .row.d-flex.align-items-center
            //  COUNTRIES TEXT 
            .col-lg-5
              .countries-3-txt.mb-40
                //  Section ID 
                span.section-id.id-color Make Dreams Into Reality
                //  Title 
                h3.h3-lg.darkblue-color Choose your destination to go
                p.p-md Trusted by 1K+ clients from 20+ countries
                //  Text 
                p.
                  Semper lacus cursus porta, feugiat primis at ligula risus auctor and rhoncus in ultrice ligula purus an ipsum primis augue vitae laoreet augue undo cubilia augue egestas an ipsum vitae feugiat primis ultrice	dolor lacinia cubilia and sapien gravida donec undo pretium integer metus
                  
                //  Button 
                a.btn.btn-primary.tra-black-hover.btn-arrow(href='#')
                  span
                    | View All List
                    i.fas.fa-arrow-right
                //  Socials 
                ul.page-socials.clearfix
                  li
                    a.ico-facebook(href='#')
                      i.fab.fa-facebook-f
                  li
                    a.ico-twitter(href='#')
                      i.fab.fa-twitter
                  li
                    a.ico-google-plus(href='#')
                      i.fab.fa-google-plus-g
                  li
                    a.ico-tumblr(href='#')
                      i.fab.fa-tumblr
                  //
                    
                    									<li><a href="#" class="ico-behance"><i class="fab fa-behance"></i></a></li>	
                    									<li><a href="#" class="ico-dribbble"><i class="fab fa-dribbble"></i></a></li>									
                    									<li><a href="#" class="ico-instagram"><i class="fab fa-instagram"></i></a></li>	
                    									<li><a href="#" class="ico-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    									<li><a href="#" class="ico-pinterest"><i class="fab fa-pinterest-p"></i></a></li>								
                    									<li><a href="#" class="ico-youtube"><i class="fab fa-youtube"></i></a></li>										
                    									<li><a href="#" class="ico-vk"><i class="fab fa-vk"></i></a></li>
                    									<li><a href="#" class="ico-yelp"><i class="fab fa-yelp"></i></a></li>
                    									<li><a href="#" class="ico-yahoo"><i class="fab fa-yahoo"></i></a></li>
                    								    
            //  COUNTRIES 
            .col-lg-7
              .owl-carousel.owl-theme.coutries-carousel
                //  COUNTRY BOX 
                .cbox-3
                  a(href='#')
                    //  Image 
                    .hover-overlay
                      img.img-fluid(src='images/canada-400x560.jpg' alt='country-image')
                      .item-overlay
                    //  Title 
                    .cbox-3-content.bg-darkblue.white-color
                      .cbox-3-txt
                        img(src='images/flags/canada.png' alt='flag-icon')
                        h5.h5-xs Canada
                //  COUNTRY BOX 
                .cbox-3
                  a(href='#')
                    //  Image 
                    .hover-overlay
                      img.img-fluid(src='images/australia-400x560.jpg' alt='country-image')
                      .item-overlay
                    //  Title 
                    .cbox-3-content.bg-darkblue.white-color
                      .cbox-3-txt
                        img(src='images/flags/australia.png' alt='flag-icon')
                        h5.h5-xs Australia
                //  COUNTRY BOX 
                .cbox-3
                  a(href='#')
                    //  Image 
                    .hover-overlay
                      img.img-fluid(src='images/singapore-400x560.jpg' alt='country-image')
                      .item-overlay
                    //  Title 
                    .cbox-3-content.bg-darkblue.white-color
                      .cbox-3-txt
                        img(src='images/flags/singapore.png' alt='flag-icon')
                        h5.h5-xs Singapore
                //  COUNTRY BOX 
                .cbox-3
                  a(href='#')
                    //  Image 
                    .hover-overlay
                      img.img-fluid(src='images/usa-400x560.jpg' alt='country-image')
                      .item-overlay
                    //  Title 
                    .cbox-3-content.bg-darkblue.white-color
                      .cbox-3-txt
                        img(src='images/flags/united-states-of-america.png' alt='flag-icon')
                        h5.h5-xs USA
                //  COUNTRY BOX 
                .cbox-3
                  a(href='#')
                    //  Image 
                    .hover-overlay
                      img.img-fluid(src='images/uk-400x560.jpg' alt='country-image')
                      .item-overlay
                    //  Title 
                    .cbox-3-content.bg-darkblue.white-color
                      .cbox-3-txt
                        img(src='images/flags/united-kingdom.png' alt='flag-icon')
                        h5.h5-xs United Kingdom
                //  COUNTRY BOX 
                .cbox-3
                  a(href='#')
                    //  Image 
                    .hover-overlay
                      img.img-fluid(src='images/germany-400x560.jpg' alt='country-image')
                      .item-overlay
                    //  Title 
                    .cbox-3-content.bg-darkblue.white-color
                      .cbox-3-txt
                        img(src='images/flags/germany.png' alt='flag-icon')
                        h5.h5-xs Germany
                //  COUNTRY BOX 
                .cbox-3
                  a(href='#')
                    //  Image 
                    .hover-overlay
                      img.img-fluid(src='images/china-400x560.jpg' alt='country-image')
                      .item-overlay
                    //  Title 
                    .cbox-3-content.bg-darkblue.white-color
                      .cbox-3-txt
                        img(src='images/flags/china.png' alt='flag-icon')
                        h5.h5-xs China
              //  End tab-carousel 
            //  END COUNTRIES 
          //  End row 
        //  End container 
      //  END COUNTRIES-3 
      //
         SERVICES-4
        			============================================= 
      section#services-4.wide-70.services-section.division
        .container
          //  SECTION TITLE 
          .row
            .col-md-12.section-title.center
              //  Title 
              h2.h2-xs.darkblue-color VisaPro Immigration Services
              //  Text 
              p.p-md.
                Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                
          .row
            //  SERVICE BOX #1 
            .col-md-6.col-lg-4
              .sbox-4.icon-sm
                a(href='visa-details')
                  //  Icon 
                  .sbox-4-icon.primary-color
                    span.flaticon-431-bank
                  //  Text 
                  .sbox-4-txt
                    h5.h5-md.darkblue-color Education Visa
                    p Porta semper lacus cursus a feugiat primis an ultrice dolor undo congue placerat
            //  SERVICE BOX #2 
            .col-md-6.col-lg-4
              .sbox-4.icon-sm
                a(href='visa-details')
                  //  Icon 
                  .sbox-4-icon.primary-color
                    span.flaticon-033-user-2
                  //  Text 
                  .sbox-4-txt
                    h5.h5-md.darkblue-color Job Seeker Visa
                    p Porta semper lacus cursus a feugiat primis an ultrice dolor undo congue placerat
            //  SERVICE BOX #3 
            .col-md-6.col-lg-4
              .sbox-4.icon-sm
                a(href='visa-details')
                  //  Icon 
                  .sbox-4-icon.primary-color
                    span.flaticon-397-briefcase
                  //  Text 
                  .sbox-4-txt
                    h5.h5-md.darkblue-color Business Visa
                    p Porta semper lacus cursus a feugiat primis an ultrice dolor undo congue placerat
            //  SERVICE BOX #4 
            .col-md-6.col-lg-4
              .sbox-4.icon-sm
                a(href='visa-details')
                  //  Icon 
                  .sbox-4-icon.primary-color
                    span.flaticon-102-sign
                  //  Text 
                  .sbox-4-txt
                    h5.h5-md.darkblue-color PR Visa
                    p Porta semper lacus cursus a feugiat primis an ultrice dolor undo congue placerat
            //  SERVICE BOX #5 
            .col-md-6.col-lg-4
              .sbox-4.icon-sm
                a(href='visa-details')
                  //  Icon 
                  .sbox-4-icon.primary-color
                    span.flaticon-285-internet-2
                  //  Text 
                  .sbox-4-txt
                    h5.h5-md.darkblue-color Tourist & Visitor Visa
                    p Porta semper lacus cursus a feugiat primis an ultrice dolor undo congue placerat
            //  SERVICE BOX #6 
            .col-md-6.col-lg-4
              .sbox-4.icon-sm
                a(href='visa-details')
                  //  Icon 
                  .sbox-4-icon.primary-color
                    span.flaticon-265-question
                  //  Text 
                  .sbox-4-txt
                    h5.h5-md.darkblue-color Immigration Consult
                    p Porta semper lacus cursus a feugiat primis an ultrice dolor undo congue placerat
          //  End row 
        //  End container 
      //  END SERVICES-4 
      //
         CALL TO ACTION-1
        			============================================= 
      section#cta-1.bg-image.cta-section.division
        .container.white-color
          .row.d-flex.align-items-center
            //  CALL TO ACTION TEXT 
            .col-lg-8.col-xl-8
              .cta-txt
                //  Title  
                h3.h3-md.txt-400 Free Immigration & Visa Consultation
                //  Text 
                p.p-md.
                  Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis libero tempus, and blandit posuere ligula varius magna congue cursus porta ultrice
                  
            //  CALL TO ACTION BUTTON 
            .col-lg-4.col-xl-3.offset-xl-1
              .cta-btn.text-center
                //  Phone Number 
                p.p-md
                  | Call : 
                  span +12 9 8765 4321
                //  Button  
                a.btn.btn-md.btn-primary.tra-white-hover.btn-arrow(href='/cdn-cgi/l/email-protection#86ffe9f3f4e3ebe7efeac6ebe7efeaa8e5e9eb')
                  span
                    | Get Consultation 
                    i.fas.fa-arrow-right
          //  End row 
        //  End container 
      //  END CALL TO ACTION-1 
      //
         ABOUT-1
        			============================================= 
      section#about-1.wide-60.about-section.division
        .container
          .row.d-flex.align-items-center
            //  ABOUT TEXT	
            .col-md-6
              .about-1-txt.pc-20.mb-40
                //  Section ID 
                span.section-id.id-color About VisaPRO
                //  Title 
                h3.h3-lg.darkblue-color Get guarantee success with our advisors
                //  Text 
                p.
                  Semper lacus cursus porta, feugiat primis ligula risus auctor and rhoncus in ultrice ligula purus ipsum primis in cubilia augue vitae laoreet augue in cubilia augue egestas an ipsum turpis
                  
                //  Text 
                p.
                  Cursus risus laoreet auctor, varius augue. Nulla dolor and sapien risus nec, luctus mauris donec diam sapien neque in cubilia an ligula quaerat ipsam volute turpis sodales sapien vitae donec ipsum
                  
                //  Button 
                a.btn.btn-md.btn-tra-grey.primary-hover.btn-arrow(href='#')
                  span
                    | Discover More 
                    i.fas.fa-arrow-right
            //  END ABOUT TEXT	
            //  ABOUT IMAGE 
            .col-md-6
              .about-img.text-center.mb-40
                //  Image 
                img.img-fluid(src='images/image-03.png' alt='about-image')
                //  Video Link 
                .video-square
                  .video-link.icon-lg.primary-color
                    a.video-popup2(href='https://www.youtube.com/watch?v=7e90gBu4pas')
                      span.flaticon-159-play-button
          //  End row 
        //  End container 
      //  END ABOUT-1 
      //
         TESTIMONIALS-1
        			============================================= 
      section#reviews-1.bg-tra-city.bg-lightgrey.wide-100.reviews-section.division
        .container
          //  SECTION TITLE 
          .row
            .col-md-12.section-title.center
              //  Title 
              h2.h2-xs.darkblue-color What Our Clients Say
              //  Text 
              p.p-md.
                Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                
          //  END SECTION TITLE 
          //  TESTIMONIALS CONTENT 
          .row
            .col-md-12
              .owl-carousel.owl-theme.reviews-holder
                //  TESTIMONIAL #1 
                .review-1
                  //  Testimonial Text 
                  p.
                    Sagittis congue etiam sapien at velna accumsan suscipit egestas at lobortis magna, a porttitor sodales an aenean mauris tempor aenean cubilia blandit porta justo integer velna vitae auctor integer a congue magna sapien gravida donec ultrice ligula risus
                    
                  //  Testimonial Author 
                  .author-data.clearfix
                    //  Author Avatar 
                    .testimonial-avatar
                      img(src='images/review-author-1.jpg' alt='testimonial-avatar')
                    //  Author Data 
                    .review-author
                      h5.h5-xs.darkblue-color Robert
                      span (UK Business Visa)
                  //  End Testimonial Author 
                //  TESTIMONIAL #2 
                .review-1
                  //  Testimonial Text 
                  p.
                    Sapien sem accumsan vitae at purus diam integer congue magna sodales. Magna vitae and aenean mauris tempor augue in cubilia laoreet magna suscipit magna ipsum vitae purus ipsum primis cubilia laoreet and augue ultrice ligula egestas magna suscipit lectus gestas at magna viverra dolor neque gravida
                    
                  //  Testimonial Author 
                  .author-data.clearfix
                    //  Author Avatar 
                    .testimonial-avatar
                      img(src='images/review-author-2.jpg' alt='testimonial-avatar')
                    //  Author Data 
                    .review-author
                      h5.h5-xs.darkblue-color Evelyn W.
                      span (Canada Studients Visa)
                  //  End Testimonial Author 
                //  TESTIMONIAL #3 
                .review-1
                  //  Testimonial Text 
                  p.
                    Etiam sapien gravida and donec sagittis congue. An augue cubilia laoreet magna suscipit egestas magna ipsum and vitae purus ipsum primis undo cubilia laoreet augue ultrice ligula and egestas suscipit magna lectus gestas magna as viverra dolor neque est gravida
                    
                  //  Testimonial Author 
                  .author-data.clearfix
                    //  Author Avatar 
                    .testimonial-avatar
                      img(src='images/review-author-3.jpg' alt='testimonial-avatar')
                    //  Author Data 
                    .review-author
                      h5.h5-xs.darkblue-color Leslie Serpas
                      span (Singapore PR Visa)
                  //  End Testimonial Author 
                //  TESTIMONIAL #4 
                .review-1
                  //  Testimonial Text 
                  p.
                    An augue in cubilia laoreet undo magna suscipit egestas magna ipsum egestas vitae purus ipsum primis cubilia laoreet augue ultrice ligula egestas and magna suscipit lectus gestas magna a viverra dolor neque est gravida
                    
                  //  Testimonial Author 
                  .author-data.clearfix
                    //  Author Avatar 
                    .testimonial-avatar
                      img(src='images/review-author-4.jpg' alt='testimonial-avatar')
                    //  Author Data 
                    .review-author
                      h5.h5-xs.darkblue-color Dan Hodges
                      span (USA Studients Visa)
                  //  End Testimonial Author 
                //  TESTIMONIAL #5 
                .review-1
                  //  Testimonial Text 
                  p.
                    An orci nullam tempor sapien, gravida donec enim ipsum a porta. An augue in cubilia laoreet magna suscipit egestas magna ipsum vitae purus ipsum primis in cubilia laoreet augue ultrice at ligula egestas magna suscipit lectus gestas magna viverra dolor neque est gravida justo integer and velna auctor
                    
                  //  Testimonial Author 
                  .author-data.clearfix
                    //  Author Avatar 
                    .testimonial-avatar
                      img(src='images/review-author-5.jpg' alt='testimonial-avatar')
                    //  Author Data 
                    .review-author
                      h5.h5-xs.darkblue-color Amelie Peterson
                      span (France Working Visa)
                  //  End Testimonial Author 
                //  TESTIMONIAL #6 
                .review-1
                  //  Testimonial Text 
                  p.
                    An augue cubilia laoreet magna suscipit egestas magna ipsum vitae purus undo ipsum primis in cubilia laoreet augue ultrice ligula egestas magna at suscipit lectus gestas magna viverra dolor neque est gravida. Mauris donec ociis magnis sapien etiam sapien sem sagittis
                    
                  //  Testimonial Author 
                  .author-data.clearfix
                    //  Author Avatar 
                    .testimonial-avatar
                      img(src='images/review-author-6.jpg' alt='testimonial-avatar')
                    //  Author Data 
                    .review-author
                      h5.h5-xs.darkblue-color Scott Boxer
                      span (Germany Travel Visa)
                  //  End Testimonial Author 
                //  TESTIMONIAL #7 
                .review-1
                  //  Testimonial Text 
                  p.
                    At sagittis congue augue egestas undo magna ipsum vitae purus ipsum primis in cubilia laoreet augue ociis at nullam tempor sapien gravida porta integer at odio velna auctor. An augue in cubilia laoreet magna suscipit egestas magna ipsum vitae purus ipsum primis cubilia laoreet augue ultrice ligula egestas
                    
                  //  Testimonial Author 
                  .author-data.clearfix
                    //  Author Avatar 
                    .testimonial-avatar
                      img(src='images/review-author-7.jpg' alt='testimonial-avatar')
                    //  Author Data 
                    .review-author
                      h5.h5-xs.darkblue-color Evelyn
                      span (Austrlia PR Visa)
                  //  End Testimonial Author 
          //  END TESTIMONIALS CONTENT 
        //  End container 
      //  END TESTIMONIALS-1 
      //
         FAQs-1
        			============================================= 
      section#faqs-1.wide-100.faqs-section.division
        .container
          //  SECTION TITLE 
          .row
            .col-md-12.section-title.center
              //  Title 
              h2.h2-xs.darkblue-color Have Questions? Look Here
              //  Text 
              p.p-md.
                Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                
          //  END SECTION TITLE 
          //  QUESTIONS HOLDER 
          .row
            .col-lg-10.offset-lg-1
              #accordion(role='tablist')
                //  QUESTION #1 
                .card
                  //  Question 
                  .card-header#headingOne(role='tab')
                    h5.h5-sm.darkblue-color
                      a(data-toggle='collapse' href='#collapseOne' role='button' aria-expanded='true' aria-controls='collapseOne')
                        span 1.
                        |  Which payment methods do you accept?

                  //  Answer 
                  #collapseOne.collapse.show(role='tabpanel' aria-labelledby='headingOne' data-parent='#accordion')
                    .card-body
                      //  INFO BOX #1 
                      .box-list
                        .box-list-icon
                          i.fas.fa-genderless
                        p.
                          An magnis nulla dolor sapien augue erat iaculis purus tempor magna ipsum vitae purus primis pretium ligula rutrum luctus blandit porta justo integer. Feugiat a primis ultrice ligula risus auctor rhoncus purus ipsum primis
                          
                      //  INFO BOX #2 
                      .box-list
                        .box-list-icon
                          i.fas.fa-genderless
                        p.
                          Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien undo pretium purus ligula tempus ipsum undo auctor a mauris lectus ipsum blandit porta justo integer
                          
                //  END QUESTION #1 
                //  QUESTION #2 
                .card
                  //  Question 
                  .card-header#headingTwo(role='tab')
                    h5.h5-sm.darkblue-color
                      a.collapsed(data-toggle='collapse' href='#collapseTwo' role='button' aria-expanded='false' aria-controls='collapseTwo')
                        span 2.
                        |  What is the registration process?

                  //  Answer 
                  #collapseTwo.collapse(role='tabpanel' aria-labelledby='headingTwo' data-parent='#accordion')
                    .card-body
                      p.
                        Maecenas gravida porttitor nunc, quis vehicula magna luctus tempor. Quisque vel laoreet turpis. Urna augue, viverra a augue eget, dictum tempor diam. Sed pulvinar consectetur nibh, vel imperdiet dui varius viverra. Pellentesque ac massa lorem. Fusce eu cursus est. Fusce non nulla vitae massa placerat vulputate vel a purus
                        
                //  END QUESTION #2 
                //  QUESTION #3 
                .card
                  //  Question 
                  .card-header#headingThree(role='tab')
                    h5.h5-sm.darkblue-color
                      a.collapsed(data-toggle='collapse' href='#collapseThree' role='button' aria-expanded='false' aria-controls='collapseThree')
                        span 3.
                        |  How can I update or cancel my personal information?

                  //  Answer 
                  #collapseThree.collapse(role='tabpanel' aria-labelledby='headingThree' data-parent='#accordion')
                    .card-body
                      //  Text 
                      p.
                        Nullam rutrum eget nunc varius etiam mollis risus congue aliquam etiam sapien egestas, congue gestas posuere cubilia congue ipsum mauris lectus laoreet gestas neque vitae auctor eros dolor luctus odio placerat magna cursus
                        
                      //  INFO BOX #1 
                      .box-list
                        .box-list-icon
                          i.fas.fa-genderless
                        p.
                          An magnis nulla dolor sapien augue erat iaculis purus tempor magna ipsum vitae purus primis pretium ligula rutrum luctus blandit porta justo integer. Feugiat a primis ultrice ligula risus auctor rhoncus purus ipsum primis
                          
                      //  INFO BOX #2 
                      .box-list
                        .box-list-icon
                          i.fas.fa-genderless
                        p.
                          Quaerat sodales sapien undo euismod purus blandit laoreet augue an augue egestas. Augue iaculis purus tempor congue magna egestas magna ligula rutrum luctus risus ultrice undo luctus integer congue magna at pretium
                          
                //  END QUESTION #3 
                //  QUESTION #4 
                .card
                  //  Question 
                  .card-header#headingFour(role='tab')
                    h5.h5-sm.darkblue-color
                      a.collapsed(data-toggle='collapse' href='#collapseFour' role='button' aria-expanded='false' aria-controls='collapseFour')
                        span 4.
                        |  Does your immigration firm offer a money-back guarantee?

                  //  Answer 
                  #collapseFour.collapse(role='tabpanel' aria-labelledby='headingFour' data-parent='#accordion')
                    .card-body
                      //  Text 
                      p.
                        Curabitur ac dapibus libero. Quisque eu tristique neque. Phasellus blandit tristique justo ut aliquam. Aliquam vitae molestie nunc. Quisque sapien justo, aliquet non molestie sed purus, venenatis nec. Aliquam eget lacinia elit. Vestibulum tincidunt tincidunt massa, et porttitor
                        
                //  END QUESTION #4 
                //  QUESTION #5 
                .card
                  //  Question 
                  .card-header#headingFive(role='tab')
                    h5.h5-sm.darkblue-color
                      a.collapsed(data-toggle='collapse' href='#collapseFive' role='button' aria-expanded='false' aria-controls='collapseFive')
                        span 5.
                        |  How long does it take to get a travel visa to Singapore?

                  //  Answer 
                  #collapseFive.collapse(role='tabpanel' aria-labelledby='headingFive' data-parent='#accordion')
                    .card-body
                      //  INFO BOX #1 
                      .box-list
                        .box-list-icon
                          i.fas.fa-genderless
                        p.
                          An magnis nulla dolor sapien augue erat iaculis purus tempor magna ipsum vitae purus primis pretium ligula rutrum luctus blandit porta justo integer. Feugiat a primis ultrice ligula risus auctor rhoncus purus ipsum primis
                          
                      //  INFO BOX #2 
                      .box-list
                        .box-list-icon
                          i.fas.fa-genderless
                        p.
                          Quaerat sodales sapien undo euismod purus blandit laoreet augue an augue egestas. Augue iaculis purus tempor congue magna egestas magna ligula rutrum luctus risus ultrice undo luctus integer
                          
                //  END QUESTION #5 
              //  END ACCORDION 
            //  End col-x 
          //  END QUESTIONS HOLDER 
          //  MORE QUESTIONS BUTTON 
          .row
            .col-md-12.text-center.more-questions
              h5.h5-md
                | Still have a question? 
                a.darkblue-color(href='#') Ask your question here
        //  End container 
      //  END FAQs-1 
      //
         VIDEO-1
        			============================================= 
      #video-1.bg-fixed.video-section.division
        .container
          .row
            //  VIDEO LINK 
            .col-md-12
              .video-preview.text-center
                //  Change the link HERE!!! 
                a.video-popup1(href='https://www.youtube.com/embed/SZEflIVnhH8')
                  //  Play Icon 
                  .video-btn.icon-xl
                    .video-block-wrapper.white-color
                      span.flaticon-159-play-button
            //  END VIDEO LINK 
          //  End row 
        //  End container 
      //  END VIDEO-1 
      //
         BRANDS-2
        			============================================= 
      #brands-2.wide-70.brands-section.division
        .container
          //  TEXT 
          .row
            .col-md-12.text-center.mb-10
              h5.h5-md.grey-color We partner with companies of all sizes, all around the world
          //  BRANDS HOLDER 
          .row.brands-holder
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-1.png' alt='brand-logo')
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-2.png' alt='brand-logo')
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-3.png' alt='brand-logo')
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-4.png' alt='brand-logo')
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-5.png' alt='brand-logo')
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-6.png' alt='brand-logo')
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-7.png' alt='brand-logo')
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-8.png' alt='brand-logo')
          //  END BRANDS HOLDER 
        //  End container 
      //  END BRANDS-2 
      //
         BLOG-1
        			============================================= 
      section#blog-1.bg-lightgrey.wide-60.blog-section.division
        .container
          //  SECTION TITLE 
          .row
            .col-md-12.section-title.center
              //  Title 
              h2.h2-xs.darkblue-color Our Stories & Latest News
              //  Text 
              p.p-md.
                Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                
          //  END SECTION TITLE 
          //  BLOG POSTS HOLDER 
          .row
            //  BLOG POST #1 
            .col-md-6.col-lg-4
              .blog-post
                //  BLOG POST IMAGE 
                .blog-post-img.mb-30
                  img.img-fluid(src='images/blog/post-1-img.jpg' alt='blog-post-image')
                //  BLOG POST TEXT 
                .blog-post-txt.icon-xs
                  //  Post Data 
                  p.post-meta
                    | August 10, 2019 in 
                    span Immigration Visa
                  //  Title 
                  h5.h5-lg.darkblue-color What Visa Do I Need to Work Legally in Singapore?
                  //  Text 
                  p.
                    Aliqum mullam blandit tempor sapien gravida donec ipsum, at porta justo. Velna vitae auctor congue magna tempor sodales sapien ...
                    
                  //  Link 
                  a.darkblue-color(href='single-post') Read More
            //  END  BLOG POST #1 
            //  BLOG POST #2 
            .col-md-6.col-lg-4
              .blog-post
                //  BLOG POST IMAGE 
                .blog-post-img.mb-30
                  img.img-fluid(src='images/blog/post-2-img.jpg' alt='blog-post-image')
                //  BLOG POST TEXT 
                .blog-post-txt.icon-xs
                  //  Post Data 
                  p.post-meta
                    | August 1, 2019 in 
                    span Working Visa
                  //  Title 
                  h5.h5-lg.darkblue-color Top Reasons for Australian Working Visa Rejection
                  //  Text 
                  p.
                    Aliqum mullam blandit tempor sapien gravida donec ipsum, at porta justo. Velna vitae auctor congue magna tempor sodales sapien ...
                    
                  //  Link 
                  a.darkblue-color(href='single-post') Read More
            //  END  BLOG POST #2 
            //  BLOG POST #3 
            .col-md-6.col-lg-4
              .blog-post
                //  BLOG POST IMAGE 
                .blog-post-img.mb-30
                  img.img-fluid(src='images/blog/post-3-img.jpg' alt='blog-post-image')
                //  BLOG POST TEXT 
                .blog-post-txt.icon-xs
                  //  Post Data 
                  p.post-meta
                    | July, 2019 in 
                    span PR Visa
                  //  Post Title 
                  h5.h5-lg.darkblue-color The United Kingdom Immigration & Permanent Residency Consultants
                  //  Text 
                  p.
                    Aliqum mullam blandit tempor sapien gravida donec ipsum, at porta justo. Velna vitae auctor congue magna tempor sodales sapien ...
                    
                  //  Link 
                  a.darkblue-color(href='single-post') Read More
            //  END  BLOG POST #3 
          //  END BLOG POSTS HOLDER 
        //  End container 
      //  END BLOG-1 
      //
         CONTACTS-1
        			============================================= 
      section#contacts-1.wide-60.contacts-section.division
        .container
          //  SECTION TITLE 
          .row
            .col-md-12.section-title.center
              //  Title 
              h2.h2-xs.darkblue-color Get in Touch with VisaPRO
              //  Text 
              p.p-md.
                Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                
          //  END SECTION TITLE 
          .row
            //  LOCATION 
            .col-sm-6.col-lg-3
              .contact-box.icon-xs
                .contact-box-icon
                  span.flaticon-240-placeholder
                h5.h5-sm.darkblue-color Our Location
                p.grey-color 121 King Street, Melbourne,
                p.grey-color Victoria 3000 Australia
            //  PHONES 
            .col-sm-6.col-lg-3
              .contact-box.icon-xs
                .contact-box-icon
                  span.flaticon-172-telephone-1
                h5.h5-sm.darkblue-color Let's Talk
                p.grey-color Phone : +12 3 3456 7890
                p.grey-color Fax : +12 9 8765 4321
            //  EMAIL 
            .col-sm-6.col-lg-3
              .contact-box.icon-xs
                .contact-box-icon
                  span.flaticon-235-mail
                h5.h5-sm.darkblue-color Drop a Line
                p.grey-color
                  a(href='/cdn-cgi/l/email-protection#463f29333422292b272f28062b272f2a6825292b')
                    span.__cf_email__(data-cfemail='a8c0cdc4c4c7e8ccc7c5c9c1c686cbc7c5') [email protected]
                p.grey-color
                  a(href='/cdn-cgi/l/email-protection#cfacaebdaaaabd8fa2aea6a3e1aca0a2')
                    span.__cf_email__(data-cfemail='492a283b2c2c3b092d2624282027672a2624') [email protected]
            //  WORKING HOURS 
            .col-sm-6.col-lg-3
              .contact-box.icon-xs
                .contact-box-icon
                  span.flaticon-358-wall-clock-1
                h5.h5-sm.darkblue-color Working Hours
                p.grey-color Mon - Fri: 8:30am - 7:30pm
                p.grey-color Sat: 8:30am - 3:30pm
          //  End row 
        //  End container 
      //  END CONTACTS-1 
      //
         GOOGLE MAP
        			============================================= 
      #gmap.gmap
      //
         FOOTER-3
        			============================================= 
      footer#footer-3.bg-blue-map.wide-40.footer.division
        .container.white-color
          //  FOOTER CONTENT 
          .row
            //  FOOTER CONTACTS 
            .col-md-4.col-lg-3.col-xl-3
              .footer-box.mb-40
                //  Title 
                h5.h5-md Head Office
                //  Address 
                p 121 King Street, Melbourne,
                p Victoria 3000 Australia
                //  Phone 
                p.mt-20 Phone: +12 9 8765 4321
                //  Email 
                p.foo-email
                  | Email: 
                  a(href='/cdn-cgi/l/email-protection#3a43554f485e55575b53547a575b535614595557')
                    span.__cf_email__(data-cfemail='7018151c1c1f3014151d1f5e131f1d') [email protected]
                //  Phone 
                p Office Time: 9AM - 6PM
            //  FOOTER LINKS 
            .col-md-4.col-lg-3.col-xl-3
              .footer-links.mb-40
                //  Title 
                h5.h5-md Countries
                //  Footer Links 
                ul.foo-links.clearfix
                  li
                    a(href='#') 台灣
                  li
                    a(href='#') 澳大利亞
                  li
                    a(href='#') UK
                  li
                    a(href='#') USA
                  li
                    a(href='#') Germany
                  li
                    a(href='#') Netherlands
            //  FOOTER LINKS 
            .col-md-4.col-lg-3.col-xl-3
              .footer-links.mb-40
                //  Title 
                h5.h5-md Visas
                //  Footer Links 
                ul.foo-links.clearfix
                  li
                    a(href='#') Students Visa
                  li
                    a(href='#') Travel Visa
                  li
                    a(href='#') PR Visa
                  li
                    a(href='#') Business Visa
                  li
                    a(href='#') Work Visa
                  li
                    a(href='#') Family Visa
            //  FOOTER NEWSLETTER FORM 
            .col-lg-3.col-xl-3
              .footer-form.mb-20
                //  Title 
                h5.h5-md Stay Always In Touch
                //  Newsletter Form Input 
                form.newsletter-form
                  .input-group
                    input.form-control#s-email(type='email' placeholder='Your email address' required)
                    span.input-group-btn
                      button.btn.btn-primary.tra-white-hover(type='submit') Subscribe
                  //  Newsletter Form Notification 
                  label.form-notification(for='s-email')
          //  END FOOTER CONTENT 
          //  BOTTOM FOOTER 
          .bottom-footer
            .row.d-flex.align-items-center
              //  FOOTER LOGO 
              .col-md-4.col-lg-3
                //  Footer Logo 
                //  For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 400 x 100 pixels) 
                img(src='images/logo-white.png' width='200' height='50' alt='footer-logo')
              //  FOOTER SOCIALS LINKS 
              .col-md-8.col-lg-9.text-right
                p.footer-copyright
                  | © Copyright 
                  span VisaPRO 2019
                  | . All Rights 
                  a(href='http://www.bootstrapmb.com/' title='bootstrapmb') Reserved
                p.p-sm
                  a(href='#') Privacy Policy
                p.p-sm
                  a(href='#') Terms & Conditions
                p.p-sm
                  a(href='#') Cookies
          //  END BOTTOM FOOTER 
        //  End container 
      //  END FOOTER-3 
    //  END PAGE CONTENT 
    //
       EXTERNAL SCRIPTS
      		============================================= 
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/modernizr.custom.js')
    script(src='js/jquery.easing.js')
    script(src='js/jquery.appear.js')
    script(src='js/jquery.stellar.min.js')
    script(src='js/menu.js')
    script(src='js/materialize.js')
    script(src='js/jquery.scrollto.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/jquery.magnific-popup.min.js')
    script(src='js/hero-request-form.js')
    script(src='js/hero-register-form.js')
    script(src='js/request-form.js')
    script(src='js/contact-form.js')
    script(src='js/comment-form.js')
    script(src='js/jquery.ajaxchimp.min.js')
    script(src='js/jquery.validate.min.js')
    //  Custom Script 
    script(src='js/custom.js')
    //  HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. 
    //
       [if lt IE 9]>
      			<script src="js/html5shiv.js" type="text/javascript"></script>
      			<script src="js/respond.min.js" type="text/javascript"></script>
      		<![endif] 
    //  Google Map 
    script(src='js/google-map.js')
    //  To use this code on your website, get a free API key from Google. Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp 
    script(src='http://ditu.google.cn/maps/api/js?key=AIzaSyC3VridlI2w6LmX_55OQQ4airseVZo-uVI&callback=initMap' async defer)
    //
       STYLE SWITCHER
      		============================================= 
    #stlChanger
      .blockChanger.bgChanger
        a.chBut.icon-xs(href='#')
          span.flaticon-292-gear
        .chBody
          .stBlock.text-center(style='margin: 30px 20px 20px 16px;')
            p Color Scheme
            .stBgs
              a(href='javascript:chooseStyle(\'aqua-theme\', 60)')
                img(src='images/color-scheme/aqua.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'salmon-theme\', 60)')
                img(src='images/color-scheme/salmon.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'blue-theme\', 60)')
                img(src='images/color-scheme/blue.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'red-theme\', 60)')
                img(src='images/color-scheme/red.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'olive-theme\', 60)')
                img(src='images/color-scheme/olive.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'darkred-theme\', 60)')
                img(src='images/color-scheme/darkred.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'teal-theme\', 60)')
                img(src='images/color-scheme/teal.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'yellow-theme\', 60)')
                img(src='images/color-scheme/yellow.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'green-theme\', 60)')
                img(src='images/color-scheme/green.png' width='50' height='50' alt)
          .stBlock.text-center(style='margin: 0px 32px 25px 20px;')
            a.btn.btn-primary.black-hover(href='javascript:chooseStyle(\'none\', 60)') Reset color
          .stBlock.text-center(style='margin:30px 20px 30px 16px')
            p Choose Layout
            a.s_1(href='/')
              img(src='images/color-scheme/l-01.jpg' width='175' height='140' alt='layout-image')
            a.s_1(href='demo-2')
              img(src='images/color-scheme/l-02.jpg' width='175' height='130' alt='layout-image')
            a.s_1(href='demo-3')
              img(src='images/color-scheme/l-03.jpg' width='175' height='110' alt='layout-image')
            a.s_1(href='demo-4')
              img(src='images/color-scheme/l-04.jpg' width='175' height='130' alt='layout-image')
            a.s_1(href='demo-6')
              img(src='images/color-scheme/l-06.jpg' width='175' height='150' alt='layout-image')
            a.s_1(href='demo-7')
              img(src='images/color-scheme/l-07.jpg' width='175' height='165' alt='layout-image')
            a.s_1(href='demo-8')
              img(src='images/color-scheme/l-08.jpg' width='175' height='100' alt='layout-image')
            a.s_1(href='demo-9')
              img(src='images/color-scheme/l-09.jpg' width='175' height='135' alt='layout-image')
    //  END SWITCHER 
    script(src='js/changer.js')
    script(defer src='js/styleswitch.js')
