html(lang='en')
  head
    //- script(src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin")
    //- script. 
    //-       tinymce.init({
    //-       selector: '#wsmwnutxt'
    //-     });
    body
     script.
      (function () {
      var options = {
      whatsapp: "+85259370163", // WhatsApp number
      telegram: "+85259370163", // Telegram bot username
      email: "info@worlgo.com", // Email
      call: "+85252224769", // Call phone number
      company_logo_url: "//storage.getbutton.io/widget/4d/4d5f/4d5fa1b3e791721c32a055223749fd64/logo.jpg", // URL of company logo (png, jpg, gif)
      greeting_message: "你好，要省更多保險費，請致電我們。", // Text of greeting message
      call_to_action: "致電我們", // Call to action
      button_color: "#FF6550", // Color of button
      position: "right", // Position may be 'right' or 'left'
      order: "whatsapp,telegram,call,email", // Order of buttons
      pre_filled_message: "General", // WhatsApp pre-filled message
      ga: true, // Google Analytics enabled
      branding: false, // Show branding string
      mobile: true, // Mobile version enabled
      desktop: true, // Desktop version enabled
      greeting: true, // Greeting message enabled
      shift_vertical: 100, // Vertical position, px
      shift_horizontal: 0, // Horizontal position, px
      domain: "worlgo.com", // site domain
      key: "CqDBJN49QHyl3Ekye-O78g", // pro-widget key
      };
      var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      })();
    <!-- /GetButton.io widget -->
      //  Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-158216926-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-158216926-1');
    | ﻿

    // [if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]
    // [if IE 7 ]><html class="ie ie7" lang="en"> <![endif]
    // [if IE 8 ]><html class="ie ie8" lang="en"> <![endif]
    // [if (gte IE 9)|!(IE)]><!
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='author' content='DSAThemes')
    meta(name='description' content='Worlgo - Immigration and Visas')
    meta(name='keywords' content='Responsive, DSAThemes, One Page, Landing, Business, Coaching, Consulting, Creative, Immigration, Visa')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //  SITE TITLE 
    title Worlgo - Immigration and Visas
    //  FAVICON AND TOUCH ICONS  
    link(rel='apple-touch-icon' sizes='152x152' href='images/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='120x120' href='images/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='76x76' href='images/apple-touch-icon-76x76.png')
    //  GOOGLE FONTS 
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900&display=swap' rel='stylesheet')
    //  BOOTSTRAP CSS 
    link(href='css/bootstrap.min.css' rel='stylesheet')
    //  FONT ICONS 
    link(href='css/all.css')
    link(href='css/flaticon.css' rel='stylesheet')
    //  PLUGINS STYLESHEET 
    link(href='css/menu.css' rel='stylesheet')
    link#effect(href='css/dropdown-effects/fade-down.css' media='all' rel='stylesheet')
    link(href='css/tweenmax.css' rel='stylesheet')
    link(href='css/magnific-popup.css' rel='stylesheet')
    link(href='css/owl.carousel.min.css' rel='stylesheet')
    link(href='css/owl.theme.default.min.css' rel='stylesheet')
    //  TEMPLATE CSS 
    link(href='css/salmon.css' rel='stylesheet')
    //  STYLE SWITCHER CSS 
    link(href='css/aqua.css' rel='alternate stylesheet' title='aqua-theme')
    link(href='css/blue.css' rel='alternate stylesheet' title='blue-theme')
    link(href='css/darkred.css' rel='alternate stylesheet' title='darkred-theme')
    link(href='css/green.css' rel='alternate stylesheet' title='green-theme')
    link(href='css/olive.css' rel='alternate stylesheet' title='olive-theme')
    link(href='css/orange.css' rel='alternate stylesheet' title='orange-theme')
    link(href='css/red.css' rel='alternate stylesheet' title='red-theme')
    link(href='css/teal.css' rel='alternate stylesheet' title='teal-theme')
    link(href='css/yellow.css' rel='alternate stylesheet' title='yellow-theme')
    //  RESPONSIVE CSS 
    link(href='css/responsive.css' rel='stylesheet')
    //
       PRELOADER SPINNER
      		============================================= 
    #loader-wrapper
      #loader
        .cssload-box-loading
    //
       PAGE CONTENT
      		============================================= 
    #page.page
      //
         HEADER
        			============================================= 
      header#header-2.header.white-menu
        .header-wrapper
          //  MOBILE HEADER 
          .wsmobileheader.clearfix
            a#wsnavtoggle.wsanimated-arrow
              span
            span.smllogo
              img(src='images/Worlgo logo - brown & orange.png' width='200' height='50' alt='mobile-logo')
            a.callusbtn(href='tel:123456789')
              i.fas.fa-phone
          //  HEADER STRIP 
          .headtoppart.bg-white.clearfix
            .headerwp.clearfix
              //  Infotmation 
              .headertopleft
                .header-info.clearfix
                  span.txt-400
                    i.fas.fa-map-marker-alt
                    | 銅鑼灣蜆殼街9-23號 秀明中心 (Seabright Plaza) 8樓8A室 
              //  Contacts 
              .headertopright.header-contacts
                a.callusbtn.txt-400(href='tel:+852 5222 4769')
                  i.fas.fa-phone
                  | 
                a.callusbtn.b-right.txt-400(href='tel:+85252224769')  +852 52224769
                a.txt-400(href='/cdn-cgi/l/email-protection#82fbedf7f0e6edefe3ebecc2efe3ebeeace1edef')
                  i.far.fa-envelope-open
                  span.__cf_email__(data-cfemail='a7cfc2cbcbc8e7c3c8cac6cec989c4c8ca') info@worlgo.com
          //  END HEADER STRIP 
          //  NAVIGATION MENU 
          .wsmainfull.menu.clearfix
            .wsmainwp.clearfix
              //  LOGO IMAGE 
              //  For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 90 pixels) 
              .desktoplogo
                a.logo-black(href='/')
                  img(src='images/Worlgo logo - brown & orange.png' width='180' height='45' alt='header-logo')
              .desktoplogo
                a.logo-white(href='/')
                  img(src='images/logo-white.png' width='180' height='45' alt='header-logo')
              //  MAIN MENU 
              nav.wsmenu.clearfix.blue-header
                ul.wsmenu-list
                  //  DROPDOWN MENU 
                  li(aria-haspopup='true')
                    a(href='#')
                      | 主頁 
                  //  PAGES 
                  li(aria-haspopup='true')
                    a(href='#')
                      | 關於我們
                      span.wsarrow
                    .wsmegamenu.clearfix
                      .container
                        .row
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title 關於我們
                            li
                              a(href='https://www.facebook.com/pg/worlgohk/about/') 我們團隊
                            li
                              a(href='https://www.google.com/maps/place/Worlgo+%E7%A7%BB%E6%B0%91%E6%9C%8D%E5%8B%99/@22.2908944,114.1957387,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x28247e4d05d17973!8m2!3d22.2908944!4d114.1979274') 我們地址
                          //  MEGAMENU LINKS 
                          
                        //  End row 
                      //  End container 
                    //  End wsmegamenu 
                  //  END PAGES 
                  //  MEGAMENU 
                  li(aria-haspopup='true')
                    a(href='#')
                      |  服務
                      span.wsarrow
                    .wsmegamenu.clearfix
                      .container
                        .row
                          //  MEGAMENU QUICK LINKS 
                          .col-md-12.col-lg-3
                            //  Title 
                            h3.title 最新服務
                            ul.link-list
                              li
                                a(href='visa-details') 澳洲858 GTI 專才人才商業移民
                              li
                                a(href='visa-details-03') 188 商業/投資/SIV 500萬
                              li
                                a(href='https://www.facebook.com/pg/worlgohk/') 新西蘭投資移民
                              li
                                a(href='visa-details-01') 英國技術移民
                              li
                                a(href='faqs') 常問問題
                          //  END MEGAMENU QUICK LINKS 
                          //  MEGAMENU 推薦項目
                          .col-md-12.col-lg-5
                            //  Title 
                            h3.title 推薦項目:
                            //  Image 
                            .fluid-width-video-wrapper.mb-15
                              img(src='images/blog/summit.jpg' alt='featured-projects')
                            //  Text 
                            h5.h5-md
                              a(href='visa-details') 188E 創業民計劃
                            p.wsmwnutxt.
                              $20萬澳幣創業移民項目.
                              
                          //  END MEGAMENU 推薦項目
                          //  MEGAMENU LATEST PROJECTS
                          .col-md-12.col-lg-4
                            //  Title 
                            h3.title 最新移民途徑:
                            //  Latest Projects
                            ul.latest-news
                              //  Post #1 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-1.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='https://www.facebook.com/pg/worlgohk/') Australia 491 Skilled Visa - 2 Months Express Visa Application
                                  p 43 Comments
                              //  Post #2 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-2.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='visa-details-04') 愛爾蘭投資移民
                                  p 38 Comments
                              //  Post #3 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-3.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='https://www.facebook.com/pg/worlgohk/') Austrade 188 $5 Milllion AUD SIV Invitations Available
                                  p 29 Comments
                          //  END MEGAMENU LATEST NEWS 
                        //  End row 
                      //  End container 
                    //  End wsmegamenu 
                  //  END MEGAMENU 
                  //  SIMPLE NAVIGATION LINK 
                  li.nl-simple(aria-haspopup='true')
                    a(href='contacts-1') 聯係我們
                  //  LAST NAVIGATION LINK 
                  li.nl-simple(aria-haspopup='true')
                    a.header-btn.btn-primary.tra-black-hover.last-link(href='https://www.facebook.com/pg/worlgohk/events') 免費講座
              //  END MAIN MENU 
          //  END NAVIGATION MENU 
        //  End header-wrapper 
      //  END HEADER 
      //
         HERO-1
        			============================================= 
      section#hero-1.hero-section.division
        //  SLIDER 
        .slider
          ul.slides
            //  SLIDE #1 
            li#slide-1
              //  Background Image 
              img(src='images/slider/trust.jpg' alt='專業')
              //  Image Caption 
              .caption.d-flex.align-items-center.center-align
                .container
                  .row
                    .col-md-12
                      .caption-txt.white-color
                        //  Title 
                        h5.h5-xl 專業移民澳洲講座
                        h2 你身邊嘅 GTI Nominator 點開口問？必須留意三個點
                        //  Text 
                        p.p-md.
                            2022年01月22號 禮拜六 14:00 - 16:00 荔枝角   
                          
                        //  Button 
                        a.btn.btn-md.btn-primary.tra-white-hover.btn-arrow(href="https://www.facebook.com/worlgohk")
                          span
                            | 免費登記
                            i.fas.fa-arrow-right
                  //  End row 
                //  End container 
              //  End Image Caption 
            //  END SLIDE #1 
            //  SLIDE #2 
            li#slide-3
              //  Background Image 
              img(src='images/slider/dlee.jpg' alt='注冊移民顧問')
              //  Image Caption 
              .caption.d-flex.align-items-center.center-align
                .container
                  .row
                    .col-md-12
                      .caption-txt.white-color
                        //  Title 
                        h5.h5-xl Licensed Immigration & Visa Services
                        h2 持牌移民顧問
                        //  Text 
                        p.p-md.
                          多國注冊移民法律服務機構
                          
                        //  Button 
                        a.btn.btn-md.btn-primary.tra-white-hover.btn-arrow(href='https://damienlee1.zohobookings.com/#/customer/worlgotechnologylimited')
                          span
                            | 預約登記 
                            i.fas.fa-arrow-right
                  //  End row 
                //  End container 
              //  End Image Caption 
            //  END SLIDE #2 
            //  SLIDE #3 
            li#slide-2
              //  Background Image 
              img(src='images/slider/seminar.jpg' alt='免費香港講座')
              //  Image Caption 
              .caption.d-flex.align-items-center.center-align
                .container
                  .row
                    .col-md-12
                      .caption-txt.white-color
                        //  Title 
                        h5.h5-xl 海外留學生醫療保險 OSHC
                        h2 想慳保險費？我哋幫你打折！
                        //  Text  
                        p.p-md.
                          最高可以慳你2000澳幣！
                          
                        //  Button 
                        a.btn.btn-md.btn-primary.tra-white-hover.btn-arrow(href='OSHC')
                          span
                            | 即刻報價!
                            i.fas.fa-arrow-right
                  //  End row 
                //  End container 
              //  End Image Caption 
            //  END SLIDE #3 
        //  END SLIDER 
        //  SLIDER NAV 
        .hero-slider-nav.icon-xs.white-color
          .slider-btn
            a.slide-prev
              span.flaticon-442-left-arrow
            a.slide-next
              span.flaticon-441-right-arrow
      //  END HERO-1 
      //
         SERVICES-4
        			============================================= 
      section#services-4.wide-70.services-section.division
        .container
          .row
            //  SERVICE BOX #1 
            .col-md-6.col-lg-4
              .sbox-4.icon-sm
                a(href='visa-details-03')
                  //  Icon 
                  .sbox-4-icon.grey-color
                    span.flaticon-431-bank
                  //  Text 
                  .sbox-4-txt
                    h5.h5-md 澳洲188B 250萬投資簽證
                    p 投資移民2021年7月重啓。如果擔心資產是否符合，請聯係我!們持牌顧問。
            //  SERVICE BOX #2 
            .col-md-6.col-lg-4
              .sbox-4.icon-sm
                a(href='visa-details-06')
                  //  Icon 
                  .sbox-4-icon.grey-color
                    span.flaticon-033-user-2
                  //  Text 
                  .sbox-4-txt
                    h5.h5-md 澳洲讀書移民計劃-香港組別
                    p 讀兩年書然後輕鬆申請及獲取澳洲PR永久身份的最新澳洲移民計劃。
            //  SERVICE BOX #3 
            .col-md-6.col-lg-4
              .sbox-4.icon-sm
                a(href='visa-details')
                  //  Icon 
                  .sbox-4-icon.grey-color
                    span.flaticon-397-briefcase
                  //  Text 
                  .sbox-4-txt
                    h5.h5-md 858 環球專才移民計劃
                    p 是一個給予主申請人以及其撫養的家庭成員獲得永久居留權的直接快速通道。
            //  SERVICE BOX #4 
            .col-md-6.col-lg-4
              .sbox-4.icon-sm
                a(href='visa-details-04')
                  //  Icon 
                  .sbox-4-icon.grey-color
                    span.flaticon-102-sign
                  //  Text  
                  .sbox-4-txt
                    h5.h5-md 愛爾蘭投資移民
                    p 愛爾蘭是歐洲的首選投資移民計劃。
            //  SERVICE BOX #5 
            .col-md-6.col-lg-4
              .sbox-4.icon-sm
                a(href='visa-details-02')
                  //  Icon 
                  .sbox-4-icon.grey-color
                    span.flaticon-285-internet-2
                  //  Text 
                  .sbox-4-txt
                    h5.h5-md 澳洲雇主提名擔保移民
                    p 希望尋找符合澳洲雇主提名擔保的工作崗位？54天可以獲取工作許可。
            //  SERVICE BOX #6 
            .col-md-6.col-lg-4
              .sbox-4.icon-sm
                a(href='visa-details-05')
                  //  Icon 
                  .sbox-4-icon.grey-color
                    span.flaticon-265-question
                  //  Text 
                  .sbox-4-txt
                    h5.h5-md 加拿大創業Startup Visa
                    p 加拿大的創業簽證計劃,沒有任何學歷或者生意經營條件。
          //  End row 
        //  End container 
      //  END SERVICES-4 
      //
         ABOUT-2
        			============================================= 
      section#about-2.bg-lightgrey.wide-60.about-section.division
        .container
          .row.d-flex.align-items-center
            //  ABOUT IMAGE 
            .col-md-6
              .about-img.text-center.mb-40
                //  Image 
                img.img-fluid(src='images/prepare.jpg' alt='about-image')
                //  Video Link 
                .video-square
                  .video-link.icon-lg.primary-color
                    a.video-popup2(href='https://www.youtube.com/embed/kc5zvBWuyQ8')
                      span.flaticon-159-play-button
            //  ABOUT TEXT	
            .col-md-6
              .about-2-txt.pc-20.mb-40
                //  Section ID 
                span.section-id.noto-font-700.id-color Worlgo 移民服務的最常問問題
                //  Title 
                h3.h3-lg 移民的話需要考英語試IELTS、PTE、OET嗎?
                //  INFO BOX #1 
                .box-list
                  .box-list-icon
                    i.fas.fa-genderless
                  p.
                    基本上所有海外簽證及移民方案會要求英語水平IELTS、PTE、OET成績。
                    
                //  INFO BOX #2 
                .box-list
                  .box-list-icon
                    i.fas.fa-genderless
                  p.
                   但是每個項目的IELTS都不一樣，甚至可以豁免IELTS要求。
                    
                //  INFO BOX #3 
                .box-list
                  .box-list-icon
                    i.fas.fa-genderless
                  p.
                    需要瞭解多一點的話，請跟我們持牌顧問聯係。
                    
            //  END ABOUT TEXT	
          //  End row 
        //  End container 
      //  END ABOUT-2 
      //
         ABOUT-5
        			============================================= 
      section#about-5.bg-lightgrey1.wide-60.about-section.division
        .container
          //  SECTION TITLE 
          .row
            .col-md-12.section-title
              //  Title 
              h3.h3-lg 聯係我們:
              //  Text 
              p.p-md.
                我們持牌顧問可以代表澳洲，加拿大和英國移民方案。請點擊一下國家來跟我們持牌顧問直接咨詢！
                
          .row
            //  ABOUT TEXT	
            .col-lg-5
              .row
                .col-sm-6
                  .about-5-txt.mb-40
                    //  Title 
                    h5.h5-xl 國家:
                    //  List 
                    ul.abox-list
                      li
                        a(href='#') 澳大利亞
                      li
                        a(href='#') 英國
                      li
                        a(href='#') 加拿大
                      li
                        a(href='#') 新西蘭
                      li
                        a(href='#') 葡萄牙

                .col-sm-6
                  .about-5-txt.mb-40
                    //  Title 
                    h5.h5-xl 服務範圍:
                    //  List 
                    ul.abox-list
                      li
                        a(href='#') 澳洲投資移民簽證
                      li
                        a(href='#') 澳大利亞工作簽
                      li
                        a(href='#') 加拿大工作簽
                      li
                        a(href='#') 英國工作簽
            //  END ABOUT TEXT	
            //  ABOUT IMAGE 
            .col-lg-7
              .about-5-img.text-center.mb-40
                img.img-fluid(src='images/world-map.png' alt='about-image')
          //  End row 
        //  End container 
      //  END ABOUT-5 
      //
         STATISTIC-3
        			============================================= 
      #statistic-3.bg-image.bg-scroll.wide-60.statistic-section.division
        .container.white-color
          //  STATISTIC 3 TITLE 
          .row
            .col-md-12
              .statistic-3-title.primary-border
                h3.h3-lg 最新移民數據
          .row
            .col-lg-10.offset-lg-1
              .row
                //  STATISTIC BLOCK #1 
                .col-sm-6.col-md-3
                  .statistic-block.icon-sm
                    //  Text 
                    h5.yellow-color
                      span.count-element 970
                      | +
                    p 2020/2021年來自香港申請澳洲移民類簽證
                //  STATISTIC BLOCK #2 
                .col-sm-6.col-md-3
                  .statistic-block.icon-sm
                    //  Text 
                    h5.yellow-color
                      span.count-element 8900
                      | +
                    p 2020/2021年澳洲投資商業移民總數
                //  STATISTIC BLOCK #3 
                .col-sm-6.col-md-3
                  .statistic-block.icon-sm
                    //  Text 
                    h5.yellow-color
                      span.count-element 80
                      | +
                    p 現在來自香港申請的可移民國家
                //  STATISTIC BLOCK #4 
                .col-sm-6.col-md-3
                  .statistic-block.icon-sm
                    //  Text 
                    h5.yellow-color
                      span.count-element 20000
                      | +
                    p 2020/2021年 預算來自香港有傾向移民澳洲加拿大
          //  End row 
        //  End container 
      //  END STATISTIC-3 
      //
         TABS-2
        			============================================= 
      section#tabs-2.wide-60.tabs-section.division
        .container
          .row
            //  TABS NAVIGATION 
            .col-md-12
              .tabs-nav.clearfix
                ul.tabs-2.primary-tabs
                  //  TAB-1 LINK 
                  li.tab-link.displayed(data-tab='tab-11')
                    span 嚴格移民政策框架的移民項目
                  //  TAB-2 LINK 
                  li.tab-link(data-tab='tab-12')
                    span 排除掩藏費用
                  //  TAB-3 LINK 
                  li.tab-link(data-tab='tab-13')
                    span 快捷, 簡單 & 安全
            //  END TABS NAVIGATION 
            //  TABS CONTENT 
            .col-md-12
              .tabs-content
                //  TAB-1 CONTENT 
                #tab-11.tab-content.displayed
                  .row.d-flex.align-items-center
                    //  TAB-1 IMAGE 
                    .col-md-6.mb-40
                      .tab-img.text-center
                        img.img-fluid(src='images/image-015.jpg' alt='tab-image')
                    //  TAB-1 TEXT 
                    .col-md-6
                      .txt-block.pc-20.mb-40
                        //  Title 
                        h3.h3-lg 清楚臨時居住, 永久居住 & 公民法律分析
                        //  Text 
                        p.
                          Worlgo移民服務會幫你和家人提供30分鐘免費的評估.
                          
                        //  Small Title 
                        h5.h5-md 技術/商業/投資移民
                        //  Text Box #1 
                        .box-list
                          .box-list-icon
                            i.fas.fa-genderless
                          p.
                            我們每一個30分鐘免費評估會包含一分持牌移民顧問的評估報告。
                            
                        //  Text Box #2 
                        .box-list
                          .box-list-icon
                            i.fas.fa-genderless
                          p.
                             我們持牌移民顧問爲您和家人服務。
                            
                  //  End row 
                //  END TAB-1 CONTENT 
                //  TAB-2 CONTENT 
                #tab-12.tab-content
                  .row.d-flex.align-items-center
                    //  TAB-2 IMAGE 
                    .col-md-6
                      .tab-img.text-center.mb-40
                        img.img-fluid(src='images/image-03.webp' alt='tab-image')
                    //  TAB-2 TEXT 
                    .col-md-6
                      .txt-block.pc-20.mb-40
                        //  Title 
                        h3.h3-lg A咨詢, 簽證 & 資產評估費用
                        //  Text 
                        p.
                         我們將有所費用公開透明報給您。
                          
                        //  Text 
                        p.
                         我們的費用付款方式及程序會很清楚報給您。
                          
                        //  Button 
                        a.btn.btn-tra-grey.primary-hover.btn-arrow(href='#')
                          span
                            | 瞭解更多
                            i.fas.fa-arrow-right
                  //  End row 
                //  END TAB-2 CONTENT 
                //  TAB-3 CONTENT 
                #tab-13.tab-content
                  .row.d-flex.align-items-center
                    //  TAB-3 IMAGE 
                    .col-md-6
                      .tab-img.text-center.mb-40
                        img.img-fluid(src='images/image-02.webp' alt='tab-image')
                    //  TAB-3 TEXT 
                    .col-md-6
                      .txt-block.pc-20.mb-40
                        //  Title 
                        h3.h3-lg 官方移民局審核時間數據
                        //  Text Box #1 
                        .box-list
                          .box-list-icon
                            i.fas.fa-genderless
                          p.
                            希望什麽時候登錄? 購買房產需要身份嗎? 考慮小孩讀書，什麽時候要報名，學費跟升學有何差別?
                            
                        //  Text Box #2 
                        .box-list
                          .box-list-icon
                            i.fas.fa-genderless
                          p.
                            我們30分鐘免費持牌移民顧問移民評估報告可以給您和家人一個完善的移民計劃保障.
                            
                        //  Text Box #3 
                        .box-list
                          .box-list-icon
                            i.fas.fa-genderless
                          p.
                            移民有技術資產語言經商經驗的幾所重要審核的步驟。在申請的每一步驟Worlgo移民服務會立即通知您並解釋您最新申請情況和幫您準備所需的文件。
                            
                  //  End row 
                //  END TAB-3 CONTENT 
            //  END TABS CONTENT 
          //  End row 
        //  End container 
      //  END TABS-2 
      //  HORIZONTAL GREY LINE 
      .section-divider
        .container
          .row
            .grey-border
      //
      //-    TABS-1
      //-   			============================================= 
      //- section#tabs-1.wide-100.tabs-section.division
      //-   .container
      //-     //  SECTION TITLE 
      //-     .row
      //-       .col-md-12.section-title.center
      //-         //  Title 
      //-         h2.h2-xs Explore Country & Visa Type
      //-         //  Text 
      //-         p.p-md.
      //-           Explore popular migration programs by country.
                
      //-     //  END SECTION TITLE 
      //-     .row
      //-       //  TABS NAVIGATION 
      //-       .col-lg-4
      //-         .tabs-nav.clearfix
      //-           ul.tabs-1
      //-             //  TAB-1 LINK 
      //-             li.tab-link.current(data-tab='tab-1')
      //-               span Canada
      //-               img(src='images/flags/canada.png' alt='flag-icon')
      //-             //  TAB-2 LINK 
      //-             li.tab-link(data-tab='tab-2')
      //-               span Australia
      //-               img(src='images/flags/australia.png' alt='flag-icon')
      //-             //  TAB-3 LINK 
      //-             li.tab-link(data-tab='tab-3')
      //-               span United Kingdom
      //-               img(src='images/flags/united-kingdom.png' alt='flag-icon')
      //-             //  TAB-4 LINK 
      //-             li.tab-link(data-tab='tab-4')
      //-               span USA
      //-               img(src='images/flags/united-states-of-america.png' alt='flag-icon')
      //-             //  TAB-5 LINK 
      //-             li.tab-link(data-tab='tab-5')
      //-               span Germany
      //-               img(src='images/flags/germany.png' alt='flag-icon')
      //-             //  TAB-6 LINK 
      //-             li.tab-link(data-tab='tab-6')
      //-               span Netherlands
      //-               img(src='images/flags/netherlands.png' alt='flag-icon')
      //-             //  TAB-7 LINK 
      //-               li.tab-link(data-tab='tab-7')
      //-                 span France
      //-                 img(src='images/flags/france.png' alt='flag-icon')
      //-       //  END TABS NAVIGATION 
      //-       //  TABS CONTENT 
      //-       .col-lg-8
      //-         .tabs-content
      //-           //  TAB-1 CONTENT 
      //-           #tab-1.tab-content.current
      //-             .owl-carousel.owl-theme.owl-loaded.tab-carousel
      //-               //  TAB BOX #1 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/study-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Student Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #2 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/travel-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-sm Travel Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #3 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/family-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Family Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #4 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/migrate-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs PR Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #5 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/job-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Job Seeker Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #6 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/business-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Business Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-             //  End tab-carousel 
      //-           //  END TAB-1 CONTENT 
      //-           //  TAB-2 CONTENT 
      //-           #tab-2.tab-content
      //-             .owl-carousel.owl-theme.owl-hidden.tab-carousel
      //-               //  TAB BOX #1 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/study-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Student Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #2 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/travel-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-sm Travel Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #3 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/family-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Family Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #4 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/migrate-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs PR Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #5 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/job-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Job Seeker Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #6 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/business-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Business Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-             //  End tab-carousel 
      //-           //  END TAB-2 CONTENT 
      //-           //  TAB-3 CONTENT 
      //-           #tab-3.tab-content
      //-             .owl-carousel.owl-theme.owl-hidden.tab-carousel
      //-               //  TAB BOX #1 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/study-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Student Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #2 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/travel-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-sm Travel Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #3 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/family-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Family Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #4 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/migrate-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs PR Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #5 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/job-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Job Seeker Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #6 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/business-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Business Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-             //  End tab-carousel 
      //-           //  END TAB-3 CONTENT 
      //-           //  TAB-4 CONTENT 
      //-           #tab-4.tab-content
      //-             .owl-carousel.owl-theme.owl-hidden.tab-carousel
      //-               //  TAB BOX #1 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/study-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Student Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #2 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/travel-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-sm Travel Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #3 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/family-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Family Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #4 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/migrate-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs PR Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #5 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/job-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Job Seeker Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #6 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/business-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Business Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-             //  End tab-carousel 
      //-           //  END TAB-4 CONTENT 
      //-           //  TAB-5 CONTENT 
      //-           #tab-5.tab-content
      //-             .owl-carousel.owl-theme.owl-hidden.tab-carousel
      //-               //  TAB BOX #1 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/study-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Student Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #2 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/travel-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-sm Travel Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #3 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/family-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Family Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #4 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/migrate-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs PR Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #5 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/job-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Job Seeker Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #6 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/business-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Business Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-             //  End tab-carousel 
      //-           //  END TAB-5 CONTENT 
      //-           //  TAB-6 CONTENT 
      //-           #tab-6.tab-content
      //-             .owl-carousel.owl-theme.owl-hidden.tab-carousel
      //-               //  TAB BOX #1 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/study-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Student Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #2 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/travel-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-sm Travel Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #3 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/family-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Family Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #4 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/migrate-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs PR Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #5 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/job-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Job Seeker Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #6 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/business-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Business Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-             //  End tab-carousel 
      //-           //  END TAB-6 CONTENT 
      //-           //  TAB-7 CONTENT 
      //-           #tab-7.tab-content
      //-             .owl-carousel.owl-theme.owl-hidden.tab-carousel
      //-               //  TAB BOX #1 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/study-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Student Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #2 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/travel-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-sm Travel Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #3 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/family-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Family Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #4 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/migrate-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs PR Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #5 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/job-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Job Seeker Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-               //  TAB BOX #6 
      //-               .tbox-1
      //-                 //  Image 
      //-                 .hover-overlay
      //-                   img.img-fluid(src='images/business-600x800.jpg' alt='tab-box-image')
      //-                   .item-overlay
      //-                   //  Box Link 
      //-                   .tbox-link
      //-                     a.btn.btn-sm.btn-tra-white.black-hover.btn-arrow(href='#')
      //-                       span
      //-                         | Read More 
      //-                         i.fas.fa-arrow-right
      //-                 //  Title 
      //-                 h5.h5-xs Business Visa
      //-                 //  Text 
      //-                 p Porta semper lacus cursus, feugiat primis ultrice ligula in risus and auctor tempus
      //-             //  End tab-carousel 
      //-           //  END TAB-7 CONTENT 
      //-         //  END TABS CONTENT 
      //-     //  End row 
      //-   //  End container 
      //- //  END TABS-1 
      //- //
      //-    ABOUT-6
      //-   			============================================= 
      //- section#about-6.bg-scroll.pt-100.about-section.division
      //-   .container.white-color
      //-     .row.d-flex.align-items-center
      //-       //  ABOUT IMAGE 
      //-       .col-lg-6
      //-         .about-6-img.text-center
      //-           img.img-fluid(src='images/image-08.png' alt='about-image')
      //-       //  ABOUT TEXT 
      //-       .col-lg-6
      //-         .about-6-txt.pc-20
      //-           //  Title 
      //-           h2.h2-xs Looking for Quality Abroad Education?
      //-           //  Text 
      //-           p.p-md.
      //-             Fringilla risus luctus mauris auctor purus euismod pretium purus at pretium ligula rutrum viverra tortor sapien sodales quaerat sodales sapien blandit dolores and aliquam
                  
      //-           //  Small Title 
      //-           h5.h5-lg 350+ Universities in 17 國家：
      //-           //  Flags list 
      //-           ul.flags-list
      //-             li
      //-               a(href='#')
      //-                 img(src='images/flags/canada.png' alt='flag-icon')
      //-                 span Canada
      //-             li
      //-               a(href='#')
      //-                 img(src='images/flags/australia.png' alt='flag-icon')
      //-                 span Australia
      //-             li
      //-               a(href='#')
      //-                 img(src='images/flags/united-states-of-america.png' alt='flag-icon')
      //-                 span USA
      //-             li
      //-               a(href='#')
      //-                 img(src='images/flags/united-kingdom.png' alt='flag-icon')
      //-                 span UK
      //-             li
      //-               a(href='#')
      //-                 img(src='images/flags/european-union.png' alt='flag-icon')
      //-                 span Europe
      //-       //  END ABOUT TEXT 
      //-     //  End row 
      //-   //  End container 
      //- //  END ABOUT-6 
      //- //
      //-    BRANDS-2
      //-   			============================================= 
      //- #brands-2.wide-70.brands-section.division
      //-   .container
      //-     //  SECTION TITLE 
      //-     .row
      //-       .col-md-12.section-title.center
      //-         //  Title 
      //-         h2.h2-xs Our Partner Institutions
      //-         //  Text 
      //-         p.p-md.
      //-           Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                
      //-     //  END SECTION TITLE 
      //-     //  BRANDS HOLDER 
      //-     .row.brands-holder
      //-       //  BRAND LOGO IMAGE 
      //-       .col-sm-6.col-md-3
      //-         .brand-logo
      //-           img.img-fluid(src='images/brand-1.png' alt='brand-logo')
      //-       //  BRAND LOGO IMAGE 
      //-       .col-sm-6.col-md-3
      //-         .brand-logo
      //-           img.img-fluid(src='images/brand-2.png' alt='brand-logo')
      //-       //  BRAND LOGO IMAGE 
      //-       .col-sm-6.col-md-3
      //-         .brand-logo
      //-           img.img-fluid(src='images/brand-3.png' alt='brand-logo')
      //-       //  BRAND LOGO IMAGE 
      //-       .col-sm-6.col-md-3
      //-         .brand-logo
      //-           img.img-fluid(src='images/brand-4.png' alt='brand-logo')
      //-       //  BRAND LOGO IMAGE 
      //-       .col-sm-6.col-md-3
      //-         .brand-logo
      //-           img.img-fluid(src='images/brand-5.png' alt='brand-logo')
      //-       //  BRAND LOGO IMAGE 
      //-       .col-sm-6.col-md-3
      //-         .brand-logo
      //-           img.img-fluid(src='images/brand-6.png' alt='brand-logo')
      //-       //  BRAND LOGO IMAGE 
      //-       .col-sm-6.col-md-3
      //-         .brand-logo
      //-           img.img-fluid(src='images/brand-7.png' alt='brand-logo')
      //-       //  BRAND LOGO IMAGE 
      //-       .col-sm-6.col-md-3
      //-         .brand-logo
      //-           img.img-fluid(src='images/brand-8.png' alt='brand-logo')
      //-     //  END BRANDS HOLDER 
      //-   //  End container 
      //- //  END BRANDS-2 
      //- //
      //-    TESTIMONIALS-1
      //-   			============================================= 
      //- section#reviews-1.bg-tra-city.bg-lightgrey.wide-100.reviews-section.division
      //-   .container
      //-     //  SECTION TITLE 
      //-     .row
      //-       .col-md-12.section-title.center
      //-         //  Title 
      //-         h2.h2-xs What Our Clients Say
      //-         //  Text 
      //-         p.p-md.
      //-           Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                
      //-     //  END SECTION TITLE 
      //-     //  TESTIMONIALS CONTENT 
      //-     .row
      //-       .col-md-12
      //-         .owl-carousel.owl-theme.reviews-holder
      //-           //  TESTIMONIAL #1 
      //-           .review-1
      //-             //  Testimonial Text 
      //-             p.
      //-               Sagittis congue etiam sapien at velna accumsan suscipit egestas at lobortis magna, a porttitor sodales an aenean mauris tempor aenean cubilia blandit porta justo integer velna vitae auctor integer a congue magna sapien gravida donec ultrice ligula risus
                    
      //-             //  Testimonial Author 
      //-             .author-data.clearfix
      //-               //  Author Avatar 
      //-               .testimonial-avatar
      //-                 img(src='images/review-author-1.jpg' alt='testimonial-avatar')
      //-               //  Author Data 
      //-               .review-author
      //-                 h5.h5-xs Robert
      //-                 span (UK Business Visa)
      //-             //  End Testimonial Author 
      //-           //  TESTIMONIAL #2 
      //-           .review-1
      //-             //  Testimonial Text 
      //-             p.
      //-               Sapien sem accumsan vitae at purus diam integer congue magna sodales. Magna vitae and aenean mauris tempor augue in cubilia laoreet magna suscipit magna ipsum vitae purus ipsum primis cubilia laoreet and augue ultrice ligula egestas magna suscipit lectus gestas at magna viverra dolor neque gravida
                    
      //-             //  Testimonial Author 
      //-             .author-data.clearfix
      //-               //  Author Avatar 
      //-               .testimonial-avatar
      //-                 img(src='images/review-author-2.jpg' alt='testimonial-avatar')
      //-               //  Author Data 
      //-               .review-author
      //-                 h5.h5-xs Evelyn W.
      //-                 span (Canada Studients Visa)
      //-             //  End Testimonial Author 
      //-           //  TESTIMONIAL #3 
      //-           .review-1
      //-             //  Testimonial Text 
      //-             p.
      //-               Etiam sapien gravida and donec sagittis congue. An augue cubilia laoreet magna suscipit egestas magna ipsum and vitae purus ipsum primis undo cubilia laoreet augue ultrice ligula and egestas suscipit magna lectus gestas magna as viverra dolor neque est gravida
                    
      //-             //  Testimonial Author 
      //-             .author-data.clearfix
      //-               //  Author Avatar 
      //-               .testimonial-avatar
      //-                 img(src='images/review-author-3.jpg' alt='testimonial-avatar')
      //-               //  Author Data 
      //-               .review-author
      //-                 h5.h5-xs Leslie Serpas
      //-                 span (Singapore PR Visa)
      //-             //  End Testimonial Author 
      //-           //  TESTIMONIAL #4 
      //-           .review-1
      //-             //  Testimonial Text 
      //-             p.
      //-               An augue in cubilia laoreet undo magna suscipit egestas magna ipsum egestas vitae purus ipsum primis cubilia laoreet augue ultrice ligula egestas and magna suscipit lectus gestas magna a viverra dolor neque est gravida
                    
      //-             //  Testimonial Author 
      //-             .author-data.clearfix
      //-               //  Author Avatar 
      //-               .testimonial-avatar
      //-                 img(src='images/review-author-4.jpg' alt='testimonial-avatar')
      //-               //  Author Data 
      //-               .review-author
      //-                 h5.h5-xs Dan Hodges
      //-                 span (USA Studients Visa)
      //-             //  End Testimonial Author 
      //-           //  TESTIMONIAL #5 
      //-           .review-1
      //-             //  Testimonial Text 
      //-             p.
      //-               An orci nullam tempor sapien, gravida donec enim ipsum a porta. An augue in cubilia laoreet magna suscipit egestas magna ipsum vitae purus ipsum primis in cubilia laoreet augue ultrice at ligula egestas magna suscipit lectus gestas magna viverra dolor neque est gravida justo integer and velna auctor
                    
      //-             //  Testimonial Author 
      //-             .author-data.clearfix
      //-               //  Author Avatar 
      //-               .testimonial-avatar
      //-                 img(src='images/review-author-5.jpg' alt='testimonial-avatar')
      //-               //  Author Data 
      //-               .review-author
      //-                 h5.h5-xs Amelie Peterson
      //-                 span (France Working Visa)
      //-             //  End Testimonial Author 
      //-           //  TESTIMONIAL #6 
      //-           .review-1
      //-             //  Testimonial Text 
      //-             p.
      //-               An augue cubilia laoreet magna suscipit egestas magna ipsum vitae purus undo ipsum primis in cubilia laoreet augue ultrice ligula egestas magna at suscipit lectus gestas magna viverra dolor neque est gravida. Mauris donec ociis magnis sapien etiam sapien sem sagittis
                    
      //-             //  Testimonial Author 
      //-             .author-data.clearfix
      //-               //  Author Avatar 
      //-               .testimonial-avatar
      //-                 img(src='images/review-author-6.jpg' alt='testimonial-avatar')
      //-               //  Author Data 
      //-               .review-author
      //-                 h5.h5-xs Scott Boxer
      //-                 span (Germany Travel Visa)
      //-             //  End Testimonial Author 
      //-           //  TESTIMONIAL #7 
      //-           .review-1
      //-             //  Testimonial Text 
      //-             p.
      //-               At sagittis congue augue egestas undo magna ipsum vitae purus ipsum primis in cubilia laoreet augue ociis at nullam tempor sapien gravida porta integer at odio velna auctor. An augue in cubilia laoreet magna suscipit egestas magna ipsum vitae purus ipsum primis cubilia laoreet augue ultrice ligula egestas
                    
      //-             //  Testimonial Author 
      //-             .author-data.clearfix
      //-               //  Author Avatar 
      //-               .testimonial-avatar
      //-                 img(src='images/review-author-7.jpg' alt='testimonial-avatar')
      //-               //  Author Data 
      //-               .review-author
      //-                 h5.h5-xs Evelyn
      //-                 span (Austrlia PR Visa)
      //-             //  End Testimonial Author 
      //-     //  END TESTIMONIALS CONTENT 
      //-   //  End container 
      //- //  END TESTIMONIALS-1 
      //- //
         BLOG-1
        			============================================= 
      section#blog-1.wide-60.blog-section.division
        .container
          //  SECTION TITLE 
          .row
            .col-md-12.section-title.center
              //  Title 
              h2.h2-xs Worlgo Facebook Blogs
              //  Text 
              p.p-md.
                Follow out Facebook page for new immigration updates. 
              //  Link 
              a.darkblue-color(href='https://www.facebook.com/worlgohk/?__tn__=kC-R&eid=ARBmg-lzs-_DsNwrGJoEJiuLmj035ASZzoKTlvCy1xoxEFmtb8ch9HioCrebjtxZUwwik3a1B6HZosiF&hc_ref=ARTOk_llVsrdmiRYxKBUAwxy8mtQPUYL6K4gBo2EMv3cp6imCafpTfpsN7pDG1MIn9s&fref=nf&__xts__[0]=68.ARAsfiChtG6bQCZm9a8WXMw1N2YDhAyWUeQYw1WCvc_klXf9voWaSXz9qPbYumOAxEvgCrdL0ZC0yjQGgnh5cWbXYaY_unxUPIAwhGG6J_ocK9AF4mDXOaXZD65Djay8DUjJsqlHjxMifM-Zv2kI5_V7KScndWFPxykPEVR9pc46McWFoV6blYvQXQUNFuSwBIi-NWmrpOQST5y3UX3XbTdhFKaoEn5DrtTBU9hLiw8EXZXS6mfC7JmnpGqTHT3c3fNnpL5QK1fGo4I9F1cTShw8uHKE95g4SH8ZcnLHVdQZMX_ceF_lqEHvKOWOYxEGrNPp9F3JdrU8-I3GvXIriyJb') Connect with us. 
          //  END SECTION TITLE 
          //  BLOG POSTS HOLDER 
          .row
            //  BLOG POST #1 
            .col-md-6.col-lg-4
              .blog-post
                //  BLOG POST IMAGE 
                .blog-post-img.mb-30
                  img.img-fluid(src='images/blog/post-1-img.jpg' alt='blog-post-image')
                //  BLOG POST TEXT 
                .blog-post-txt.icon-xs
                  //  Post Data 
                  p.post-meta
                    | 6th Aug 2021 in 
                    span 491 澳洲技術移民簽證
                  //  Title 
                  h5.h5-lg UK技術移民政策出爐，Damien提供快捷分析
                  //  Text 
                  p.
                    英國積分技術移民將從2021年1月30日開始。申請人可以從多種因素中纍計70積分就合格，包括至少25,600英鎊的薪水以及在 所需的水平。 此外，需要UK政府經批准的雇主擔保證明。 另外，值得注意，在工程和科學領域獲得博士學位的申請人在該類別中獲得雙倍積分。在新計劃下，潛在的申請人可以通過語言，工作合約以及收批准的雇主擔保證明這三個因素獲得50分。 剩下的20分可通過達到批准的薪水水平，工作處於短缺職業或申請人已獲得PHD博士學位來纍計。
                    
                  //  Link 
                  a.darkblue-color(href='https://www.facebook.com/worlgohk/?__tn__=kC-R&eid=ARBmg-lzs-_DsNwrGJoEJiuLmj035ASZzoKTlvCy1xoxEFmtb8ch9HioCrebjtxZUwwik3a1B6HZosiF&hc_ref=ARTOk_llVsrdmiRYxKBUAwxy8mtQPUYL6K4gBo2EMv3cp6imCafpTfpsN7pDG1MIn9s&fref=nf&__xts__[0]=68.ARAsfiChtG6bQCZm9a8WXMw1N2YDhAyWUeQYw1WCvc_klXf9voWaSXz9qPbYumOAxEvgCrdL0ZC0yjQGgnh5cWbXYaY_unxUPIAwhGG6J_ocK9AF4mDXOaXZD65Djay8DUjJsqlHjxMifM-Zv2kI5_V7KScndWFPxykPEVR9pc46McWFoV6blYvQXQUNFuSwBIi-NWmrpOQST5y3UX3XbTdhFKaoEn5DrtTBU9hLiw8EXZXS6mfC7JmnpGqTHT3c3fNnpL5QK1fGo4I9F1cTShw8uHKE95g4SH8ZcnLHVdQZMX_ceF_lqEHvKOWOYxEGrNPp9F3JdrU8-I3GvXIriyJb') Read More
            //  END  BLOG POST #1 
            //  BLOG POST #2 
            .col-md-6.col-lg-4
              .blog-post
                //  BLOG POST IMAGE 
                .blog-post-img.mb-30
                  img.img-fluid(src='images/blog/post-2-img.jpg' alt='blog-post-image')
                //  BLOG POST TEXT 
                .blog-post-txt.icon-xs
                  //  Post Data 
                  p.post-meta
                    | June 9, 2021 in 
                    span Investment Residency Visas
                  //  Title 
                  h5.h5-lg 澳洲注冊移民顧問Damien來快捷講一講澳洲移民
                  //  Text 
                  p.
                    (一) 2020/2021 的投資移民申請宗數，預見將會大幅增加，遠多於 2019/20 的 970 宗。
                  p.
                    (二) 858 GTI 的專才移民簽證，是一種沒有最短居留期要求的專業人士簽證。
                  p. 
                    (三) 188 Significant Investor Visa 是一種低居留期要求 (四年內住滿 160日) 的 500 萬澳元投資移民簽證，批核較其他臨時居留簽証為快。
                  //  Link 
                  a.darkblue-color(href='https://www.facebook.com/worlgohk/?__tn__=kC-R&eid=ARBmg-lzs-_DsNwrGJoEJiuLmj035ASZzoKTlvCy1xoxEFmtb8ch9HioCrebjtxZUwwik3a1B6HZosiF&hc_ref=ARTOk_llVsrdmiRYxKBUAwxy8mtQPUYL6K4gBo2EMv3cp6imCafpTfpsN7pDG1MIn9s&fref=nf&__xts__[0]=68.ARAsfiChtG6bQCZm9a8WXMw1N2YDhAyWUeQYw1WCvc_klXf9voWaSXz9qPbYumOAxEvgCrdL0ZC0yjQGgnh5cWbXYaY_unxUPIAwhGG6J_ocK9AF4mDXOaXZD65Djay8DUjJsqlHjxMifM-Zv2kI5_V7KScndWFPxykPEVR9pc46McWFoV6blYvQXQUNFuSwBIi-NWmrpOQST5y3UX3XbTdhFKaoEn5DrtTBU9hLiw8EXZXS6mfC7JmnpGqTHT3c3fNnpL5QK1fGo4I9F1cTShw8uHKE95g4SH8ZcnLHVdQZMX_ceF_lqEHvKOWOYxEGrNPp9F3JdrU8-I3GvXIriyJb') Read More
            //  END  BLOG POST #2 
            //  BLOG POST #3 
            .col-md-6.col-lg-4
              .blog-post
                //  BLOG POST IMAGE 
                .blog-post-img.mb-30
                  img.img-fluid(src='images/blog/post-3-img.jpg' alt='blog-post-image')
                //  BLOG POST TEXT 
                .blog-post-txt.icon-xs
                  //  Post Data 
                  p.post-meta
                    | Aug 2021 in 
                    span PR Visas
                  //  Post Title 
                  h5.h5-lg 移民澳洲及澳洲升學不可不知的途徑
                  //  Text 
                  p.
                    最近有關澳洲移民及升學的查詢急增，如何最快取得移民資格✈️？及讓子女順利入讀澳洲學校👩🏻‍🎓？參加是次講座可助你找到答案！☄️


                  a.darkblue-color(href='https://bit.ly/2MdcF19')   報名網址
                  p.
                    講座時間：6月5日 晚上 6:30
                    地點：尖沙咀金巴利道 25號 1202室

                    名額有限，請即報名！
                    
                  //  Link 
                  a.darkblue-color(href='https://bit.ly/2MdcF19') Read More
            //  END  BLOG POST #3 
          //  END BLOG POSTS HOLDER 
        //  End container 
      //  END BLOG-1 
      //
         REQUEST FORM
        			============================================= 
      #request-1.bg-image.wide-60.request-form-section.division
        .container
          .row.d-flex.align-items-center
            //  REQUEST FORM TEXT 
            .col-md-6.col-xl-6
              .request-txt.white-color.pc-20.mb-40
                //  Section ID 
                span.section-id.id-color 30 minutes free consultation online or offline
                //  Title 
                h2.h2-xs 30分鐘免費咨詢
                //  Samll Title 
                h5.h5-md 你們中介費多少?
                //  Text 
                p
                  | 我們持牌各國移民法的移民顧問會和您進行詳細咨詢和報價。請 WhatsApp 
                  a(href="https://wa.me/85252224769??text=I%20am%20interested%20in%20your%20services") +852 5222 4769 
                  | 或者填寫此表格讓我們協助您安預約.
                  
            //  END REQUEST FORM TEXT 
            //  REQUEST FORM 
            .col-md-6.col-xl-5.offset-xl-1
              #request-form.text-center.mb-40
                form.row.request-form.bg-lightgrey(name='requestForm')
                  //  Request Form Text 
                  .col-md-12
                    h5.h5-lg 安排免費預約
                  //  Request Form Input 
                  #input-name.col-md-12
                    input.form-control.name(type='text' name='name' placeholder='名稱*' required)
                  //  Request Form Input 
                  #input-email.col-md-12
                    input.form-control.email(type='text' name='email' placeholder='Email*' required)
                  //  Request Form Input 
                  #input-phone.col-md-12
                    input.form-control.phone(type='tel' name='phone' placeholder='電話號碼*' required)
                  //  Request Form Select 
                  #input-visa.col-md-12.input-visa
                    select#inlineFormCustomSelect1.custom-select.visa(name='visa' required)
                      option(value) 選擇簽證類
                      option 澳洲858 GTI簽證
                      option 澳洲188 投資移民
                      option 歐洲房產投資移民
                      option 加拿大創業移民
                  //  Request Form Select 
                  #input-country.col-md-12.input-country
                    select#inlineFormCustomSelect2.custom-select.country(name='country' required)
                      option(value) 目標國家
                      option 澳大利亞
                      option 新西蘭
                      option 加拿大
                      option 英國
                      option 葡萄牙
                      option 台灣
                  //  Request Form Button 
                  .col-md-12.form-btn
                    button.btn.btn-primary.tra-black-hover.submit(type='submit') 發要求
                  //  Request Form Message 
                  .col-md-12.request-form-msg.text-center
                    .sending-msg
                      span.loading
            //  END REQUEST FORM 
          //  End row 
        //  End container 
      //  END REQUEST FORM 
      //
         FOOTER-3
        			============================================= 
      footer#footer-3.wide-40.footer.division
        .container
          //  FOOTER CONTENT 
          .row
            //  FOOTER CONTACTS 
            .col-md-4.col-lg-3.col-xl-3
              .footer-box.mb-40
                //  Title 
                h5.h5-md 香港島
                //  Address 
                p 銅鑼灣蜆殼街9-23號 
                p 秀明中心 (Seabright Plaza) 8樓8A室
                //  Phone 
                p.mt-20 Phone: +852 5222 4769
                //  Email 
                p.foo-email
                  | Email: 
                  a(href='/cdn-cgi/l/email-protection#8cf5e3f9fee8e3e1ede5e2cce1ede5e0a2efe3e1')
                    span.__cf_email__(data-cfemail='83ebe6efefecc3e7e6eeecade0ecee') info@worlgo.com
                //  Phone 
                p 營業時間: 9AM - 6PM
            //  FOOTER LINKS 
            .col-md-4.col-lg-3.col-xl-3
              .footer-links.mb-40
                //  Title 
                h5.h5-md 國家
                //  Footer Links 
                ul.foo-links.clearfix
                  li
                    a(href='#') 澳大利亞
                  li
                    a(href='#') 新西蘭
                  li
                    a(href='#') 英國
                  li
                    a(href='#') 加拿大
                  li
                    a(href='#') 葡萄牙
                  li
                    a(href='#') 台灣
            //  FOOTER LINKS 
            .col-md-4.col-lg-3.col-xl-3
              .footer-links.mb-40
                //  Title 
                h5.h5-md 簽證
                //  Footer Links 
                ul.foo-links.clearfix
                  li
                    a(href='#') 澳洲及加拿大雇主擔保簽證
                  li
                    a(href='#')  澳洲及新西蘭投資移民
                  li
                    a(href='#') 歐洲房產投資移民
                  li
                    a(href='#') 洲房產投資移民
                  li
                    a(href='#') 加拿大創業移民
            //  FOOTER NEWSLETTER FORM 
            .col-lg-3.col-xl-3
              .footer-form.mb-20
                //  Title 
                h5.h5-md 給您發最新信息！
                //  Newsletter Form Input 
                form.newsletter-form
                  .input-group
                    input.form-control#s-email(type='email' placeholder='您的電子郵箱' required)
                    span.input-group-btn
                      button.btn.btn-primary.tra-black-hover(type='submit') 登記
                  //  Newsletter Form Notification 
                  label.form-notification(for='s-email')
          //  END FOOTER CONTENT 
          //  BOTTOM FOOTER 
          .bottom-footer
            .row.d-flex.align-items-center
              //  FOOTER LOGO 
              .col-md-4.col-lg-3
                //  Footer Logo 
                //  For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 400 x 100 pixels) 
                img(src='images/Worlgo logo - brown & orange.png' width='200' height='50' alt='footer-logo')
              //  FOOTER SOCIALS LINKS 
              .col-md-8.col-lg-9.text-right
                p.footer-copyright
                  | © Copyright 
                  span Worlgo Migration 2021
                  | . All Rights 
                  a(href='https://www.worlgo.com/' title='Worlgo Migration') Reserved
                p.p-sm
                  a(href='privacy') Privacy Policy
                p.p-sm
                  a(href='#') Terms & Conditions
                p.p-sm
                  a(href='#') Cookies
          //  END BOTTOM FOOTER 
        //  End container 
      //  END FOOTER-3 
    //  END PAGE CONTENT 
    //
       EXTERNAL SCRIPTS
      		============================================= 
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/modernizr.custom.js')
    script(src='js/jquery.easing.js')
    script(src='js/jquery.appear.js')
    script(src='js/jquery.stellar.min.js')
    script(src='js/menu.js')
    script(src='js/materialize.js')
    script(src='js/jquery.scrollto.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/jquery.magnific-popup.min.js')
    script(src='js/hero-request-form.js')
    script(src='js/hero-register-form.js')
    script(src='js/request-form.js')
    script(src='js/contact-form.js')
    script(src='js/comment-form.js')
    script(src='js/jquery.ajaxchimp.min.js')
    script(src='js/jquery.validate.min.js')
    //  Custom Script 
    script(src='js/custom.js')
    //  HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. 
    //
       [if lt IE 9]>
      			<script src="js/html5shiv.js" type="text/javascript"></script>
      			<script src="js/respond.min.js" type="text/javascript"></script>
      		<![endif] 
    //
    //-    STYLE SWITCHER
    //-   		============================================= 
    //- #stlChanger
    //-   .blockChanger.bgChanger
    //-     a.chBut.icon-xs(href='#')
    //-       span.flaticon-292-gear
    //-     .chBody
    //-       .stBlock.text-center(style='margin: 30px 20px 20px 16px;')
    //-         p Color Scheme
    //-         .stBgs
    //-           a(href='javascript:chooseStyle(\'aqua-theme\', 60)')
    //-             img(src='images/color-scheme/aqua.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'orange-theme\', 60)')
    //-             img(src='images/color-scheme/orange.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'blue-theme\', 60)')
    //-             img(src='images/color-scheme/blue.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'red-theme\', 60)')
    //-             img(src='images/color-scheme/red.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'olive-theme\', 60)')
    //-             img(src='images/color-scheme/olive.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'darkred-theme\', 60)')
    //-             img(src='images/color-scheme/darkred.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'teal-theme\', 60)')
    //-             img(src='images/color-scheme/teal.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'yellow-theme\', 60)')
    //-             img(src='images/color-scheme/yellow.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'green-theme\', 60)')
    //-             img(src='images/color-scheme/green.png' width='50' height='50' alt)
    //-       .stBlock.text-center(style='margin: 0px 32px 25px 20px;')
    //-         a.btn.btn-primary.black-hover(href='javascript:chooseStyle(\'none\', 60)') Reset color
    //-       .stBlock.text-center(style='margin:30px 20px 30px 16px')
    //-         p Choose Layout
    //-         a.s_1(href='demo-2')
    //-           img(src='images/color-scheme/l-02.jpg' width='175' height='130' alt='layout-image')
    //-         a.s_1(href='demo-3')
    //-           img(src='images/color-scheme/l-03.jpg' width='175' height='110' alt='layout-image')
    //-         a.s_1(href='demo-4')
    //-           img(src='images/color-scheme/l-04.jpg' width='175' height='130' alt='layout-image')
    //-         a.s_1(href='demo-5')
    //-           img(src='images/color-scheme/l-05.jpg' width='175' height='110' alt='layout-image')
    //-         a.s_1(href='demo-6')
    //-           img(src='images/color-scheme/l-06.jpg' width='175' height='150' alt='layout-image')
    //-         a.s_1(href='demo-7')
    //-           img(src='images/color-scheme/l-07.jpg' width='175' height='165' alt='layout-image')
    //-         a.s_1(href='demo-8')
    //-           img(src='images/color-scheme/l-08.jpg' width='175' height='100' alt='layout-image')
    //-         a.s_1(href='demo-9')
    //-           img(src='images/color-scheme/l-09.jpg' width='175' height='135' alt='layout-image')
    //- //  END SWITCHER 
    script(src='js/changer.js')
    script(defer src='js/styleswitch.js')
    script(src='js/lazysizes.min.js')