html(lang='en')
  head
  body
    | ﻿

    // [if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]
    // [if IE 7 ]><html class="ie ie7" lang="en"> <![endif]
    // [if IE 8 ]><html class="ie ie8" lang="en"> <![endif]
    // [if (gte IE 9)|!(IE)]><!
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='author' content='DSAThemes')
    meta(name='description' content='VisaPRO - Immigration and Visa Consulting Website Template')
    meta(name='keywords' content='Responsive, DSAThemes, One Page, Landing, Business, Coaching, Consulting, Creative, Immigration, Visa')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //  SITE TITLE 
    title VisaPRO - Immigration and Visa Consulting Website Template
    //  FAVICON AND TOUCH ICONS  
    link(rel='apple-touch-icon' sizes='152x152' href='images/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='120x120' href='images/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='76x76' href='images/apple-touch-icon-76x76.png')
    //  GOOGLE FONTS 
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900&display=swap' rel='stylesheet')
    //  BOOTSTRAP CSS 
    link(href='http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet')
    //  FONT ICONS 
    link(href='css/all.css')
    link(href='css/flaticon.css' rel='stylesheet')
    //  PLUGINS STYLESHEET 
    link(href='css/menu.css' rel='stylesheet')
    link#effect(href='css/dropdown-effects/fade-down.css' media='all' rel='stylesheet')
    link(href='css/tweenmax.css' rel='stylesheet')
    link(href='css/magnific-popup.css' rel='stylesheet')
    link(href='css/owl.carousel.min.css' rel='stylesheet')
    link(href='css/owl.theme.default.min.css' rel='stylesheet')
    //  TEMPLATE CSS 
    link(href='css/red.css' rel='stylesheet')
    //  STYLE SWITCHER CSS 
    link(href='css/aqua.css' rel='alternate stylesheet' title='aqua-theme')
    link(href='css/blue.css' rel='alternate stylesheet' title='blue-theme')
    link(href='css/darkred.css' rel='alternate stylesheet' title='darkred-theme')
    link(href='css/green.css' rel='alternate stylesheet' title='green-theme')
    link(href='css/olive.css' rel='alternate stylesheet' title='olive-theme')
    link(href='css/orange.css' rel='alternate stylesheet' title='orange-theme')
    link(href='css/salmon.css' rel='alternate stylesheet' title='salmon-theme')
    link(href='css/teal.css' rel='alternate stylesheet' title='teal-theme')
    link(href='css/yellow.css' rel='alternate stylesheet' title='yellow-theme')
    //  RESPONSIVE CSS 
    link(href='css/responsive.css' rel='stylesheet')
    //
       PRELOADER SPINNER
      		============================================= 
    #loader-wrapper
      #loader
        .cssload-box-loading
    //
       PAGE CONTENT
      		============================================= 
    #page.page
      //
         HEADER
        			============================================= 
      header#header-2.header.white-menu
        .header-wrapper
          //  MOBILE HEADER 
          .wsmobileheader.clearfix
            a#wsnavtoggle.wsanimated-arrow
              span
            span.smllogo
              img(src='images/logo-black.png' width='200' height='50' alt='mobile-logo')
            a.callusbtn(href='tel:123456789')
              i.fas.fa-phone
          //  HEADER STRIP 
          .headtoppart.bg-white.clearfix
            .headerwp.clearfix
              //  Infotmation 
              .headertopleft
                .header-info.clearfix
                  span.txt-400
                    i.fas.fa-map-marker-alt
                    | 121 King St, Melbourne, Victoria 3000
              //  Contacts 
              .headertopright.header-contacts
                a.callusbtn.txt-400(href='tel:123456789')
                  i.fas.fa-phone
                  | +61-2 3456 7890,
                a.callusbtn.b-right.txt-400(href='tel:123456789')  +61-2 7890 3456
                a.txt-400(href='/cdn-cgi/l/email-protection#0e77617b7c6a61636f67604e636f6762206d6163')
                  i.far.fa-envelope-open
                  span.__cf_email__(data-cfemail='4f272a2323200f2b20222e2621612c2022') [email protected]
          //  END HEADER STRIP 
          //  NAVIGATION MENU 
          .wsmainfull.menu.clearfix
            .wsmainwp.clearfix
              //  LOGO IMAGE 
              //  For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 90 pixels) 
              .desktoplogo
                a.logo-black(href='#hero-8')
                  img(src='images/logo-black.png' width='180' height='45' alt='header-logo')
              .desktoplogo
                a.logo-white(href='#hero-8')
                  img(src='images/logo-white.png' width='180' height='45' alt='header-logo')
              //  MAIN MENU 
              nav.wsmenu.clearfix.blue-header
                ul.wsmenu-list
                  //  DROPDOWN MENU 
                  li(aria-haspopup='true')
                    a(href='#')
                      | 主頁 
                      span.wsarrow
                    ul.sub-menu
                      li(aria-haspopup='true')
                        a(href='/') Homepage-1
                      li(aria-haspopup='true')
                        a(href='demo-2') Homepage-2
                      li(aria-haspopup='true')
                        a(href='demo-3') Homepage-3
                      li(aria-haspopup='true')
                        a(href='demo-4') Homepage-4
                      li(aria-haspopup='true')
                        a(href='demo-5') Homepage-5
                      li(aria-haspopup='true')
                        a(href='demo-6') Homepage-6
                      li(aria-haspopup='true')
                        a(href='demo-7') Homepage-7
                      li(aria-haspopup='true')
                        a(href='demo-9') Homepage-9
                  //  END DROPDOWN MENU 
                  //  PAGES 
                  li(aria-haspopup='true')
                    a(href='#')
                      | Pages 
                      span.wsarrow
                    .wsmegamenu.clearfix
                      .container
                        .row
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title Standard Pages:
                            li
                              a(href='about') About Us Page
                            li
                              a(href='courses-list') Courses List Page
                            li
                              a(href='course-details') Course Details Page
                            li
                              a(href='partners') Partners & Colleges
                            li
                              a(href='faqs') FAQs Page
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title Special Pages:
                            li
                              a(href='country-details') Countries List Page
                            li
                              a(href='country-details') Country Details Page
                            li
                              a(href='visa-list-1') Visa List Page #1
                            li
                              a(href='visa-list-2') Visa List Page #2
                            li
                              a(href='visa-details') Visa Details Page
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title Auxiliary Pages:
                            li
                              a(href='blog-listing') Blog Listing Page
                            li
                              a(href='single-post') Single Blog Post
                            li
                              a(href='contacts-1') Contact Style #1
                            li
                              a(href='contacts-2') Contact Style #2
                            li
                              a(href='contacts-3') Contact Style #3
                        //  End row 
                      //  End container 
                    //  End wsmegamenu 
                  //  END PAGES 
                  //  MEGAMENU 
                  li(aria-haspopup='true')
                    a(href='#')
                      | Mega Menu 
                      span.wsarrow
                    .wsmegamenu.clearfix
                      .container
                        .row
                          //  MEGAMENU QUICK LINKS 
                          .col-md-12.col-lg-3
                            //  Title 
                            h3.title What We Offer:
                            ul.link-list
                              li
                                a(href='#') 澳洲投資移民簽證 Assessment
                              li
                                a(href='#') Working Visa Assessment
                              li
                                a(href='#') Business Visa Assessment
                              li
                                a(href='#') PR Visa Assessment
                              li
                                a(href='#') Visa Eligibility Assessment
                              li
                                a(href='#') Family Visa Assessment
                              li
                                a(href='#') Immigration Consultation
                          //  END MEGAMENU QUICK LINKS 
                          //  MEGAMENU FEATURED NEWS 
                          .col-md-12.col-lg-5
                            //  Title 
                            h3.title Featured News:
                            //  Image 
                            .fluid-width-video-wrapper.mb-15
                              img(src='images/blog/featured-news.jpg' alt='featured-news')
                            //  Text 
                            h5.h5-md
                              a(href='single-post') We make the visa process faster
                            p.wsmwnutxt.
                              Porta semper lacus cursus, feugiat primis ultrice in ligula risus auctor tempus feugiat dolor impedit magna...
                              
                          //  END MEGAMENU FEATURED NEWS 
                          //  MEGAMENU LATEST NEWS 
                          .col-md-12.col-lg-4
                            //  Title 
                            h3.title Latest News:
                            //  Latest News 
                            ul.latest-news
                              //  Post #1 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-1.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='single-post') Etiam sapien risus ante auctor tempus accumsan an empor ...
                                  p 43 Comments
                              //  Post #2 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-2.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='single-post') Blandit tempor a sapien ipsum, porta risus auctor justo ...
                                  p 38 Comments
                              //  Post #3 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-3.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='single-post') Cursus risus an auctor risus laoreet turpis auctor varius ...
                                  p 29 Comments
                          //  END MEGAMENU LATEST NEWS 
                        //  End row 
                      //  End container 
                    //  End wsmegamenu 
                  //  END MEGAMENU 
                  //  SIMPLE NAVIGATION LINK 
                  li.nl-simple(aria-haspopup='true')
                    a(href='#') Simple Link
                  //  LAST NAVIGATION LINK 
                  li.nl-simple(aria-haspopup='true')
                    a.header-btn.btn-primary.tra-black-hover.last-link(href='#') Get Consultation
              //  END MAIN MENU 
          //  END NAVIGATION MENU 
        //  End header-wrapper 
      //  END HEADER 
      //
         HERO-8
        			============================================= 
      section#hero-8.hero-section.division
        //  SLIDER 
        .slider
          ul.slides
            //  SLIDE #1 
            li#slide-1
              //  Background Image 
              img(src='images/slider/slide-7.jpg' alt='slide-background')
              //  Image Caption 
              .caption.left-align.d-flex.align-items-center
                .container
                  .row
                    .col-md-8.col-lg-6
                      .caption-txt
                        //  Title 
                        h2.primary-color Study Abroad
                        //  Text 
                        h4.h4-md.darkblue-color
                          | 
We are your pathfinder at each step of 
                          span Abroad Education Process
                  //  End row 
                //  End container 
              //  End Image Caption 
            //  END SLIDE #1 
            //  SLIDE #2 
            li#slide-3
              //  Background Image 
              img(src='images/slider/slide-8.jpg' alt='slide-background')
              //  Image Caption 
              .caption.left-align.d-flex.align-items-center
                .container
                  .row
                    .col-md-8.col-lg-6
                      .caption-txt
                        //  Title 
                        h2.primary-color Tourist Visa
                        //  Text 
                        h4.h4-md.darkblue-color
                          | 
Travel is only thing you buy that 
                          span Makes You Richer
                  //  End row 
                //  End container 
              //  End Image Caption 
            //  END SLIDE #2 
            //  SLIDE #3 
            li#slide-2
              //  Background Image 
              img(src='images/slider/slide-9.jpg' alt='slide-background')
              //  Image Caption 
              .caption.left-align.d-flex.align-items-center
                .container
                  .row
                    .col-md-8.col-lg-6
                      .caption-txt
                        //  Title 
                        h2.primary-color Permanent Residency Visa
                        //  Text 
                        h4.h4-md.darkblue-color
                          | 
Make your dream come true to settle permanently in 
                          span Your Dream Country
                  //  End row 
                //  End container 
              //  End Image Caption 
            //  END SLIDE #3 
            //  SLIDE #4 
            li#slide-4
              //  Background Image 
              img(src='images/slider/slide-10.jpg' alt='slide-background')
              //  Image Caption 
              .caption.left-align.d-flex.align-items-center
                .container
                  .row
                    .col-md-8.col-lg-6
                      .caption-txt
                        //  Title 
                        h2.primary-color Other Visas
                        //  Text 
                        h4.h4-md.darkblue-color
                          | 
Just change your location and you will 
                          span Change Yourself Forever
                  //  End row 
                //  End container 
              //  End Image Caption 
            //  END SLIDE #4 
        //  END SLIDER 
        //  SLIDER NAV 
        .hero-slider-nav.icon-xs.white-color
          .slider-btn
            a.slide-prev
              span.flaticon-442-left-arrow
            a.slide-next
              span.flaticon-441-right-arrow
      //  END HERO-8 
      //
         CALL TO ACTION-3
        			============================================= 
      section#cta-3.bg-darkblue.cta-section.division
        .container.white-color
          .row.d-flex.align-items-center
            //  CALL TO ACTION TEXT 
            .col-lg-12
              .cta-txt.text-center
                h4.h4-xs.txt-400
                  | Need immigration & visa consultation? 
                  a(href='#') Send a request
                  |  for free consultation
          //  End row 
        //  End container 
      //  END CALL TO ACTION-3 
      //
         ABOUT-2
        			============================================= 
      section#about-2.wide-60.about-section.division
        .container
          .row.d-flex.align-items-center
            //  ABOUT IMAGE 
            .col-md-6
              .about-img.text-center.mb-40
                //  Image 
                img.img-fluid(src='images/image-03.png' alt='about-image')
                //  Video Link 
                .video-square
                  .video-link.icon-lg.primary-color
                    a.video-popup2(href='https://www.youtube.com/watch?v=7e90gBu4pas')
                      span.flaticon-159-play-button
            //  ABOUT TEXT	
            .col-md-6
              .about-2-txt.pc-20.mb-40
                //  Section ID 
                span.section-id.noto-font-700.id-color About Agency
                //  Title 
                h3.h3-lg.darkblue-color Get guarantee success with our advisors
                //  Text #1 
                .box-list
                  .box-list-icon
                    i.fas.fa-genderless
                  p.
                    An magnis nulla dolor sapien augue erat iaculis purus tempor magna ipsum vitae purus primis pretium ligula rutrum luctus blandit porta justo integer. Feugiat a primis ultrice ligula
                    
                //  Text #2 
                .box-list
                  .box-list-icon
                    i.fas.fa-genderless
                  p.
                    Nemo ipsam egestas volute turpis dolores and aliquam quaerat sodales sapien undo pretium purus ligula tempus ipsum undo auctor a mauris lectus ipsum blandit
                    
                //  Text #3 
                .box-list
                  .box-list-icon
                    i.fas.fa-genderless
                  p.
                    Quaerat sodales sapien undo euismod purus and blandit laoreet augue an augue egestas. Augue iaculis purus and augue tempor congue magna egestas magna ligula
                    
            //  END ABOUT TEXT	
          //  End row 
        //  End container 
      //  END ABOUT-2 
      //  HORIZONTAL GREY LINE 
      .section-divider
        .container
          .row
            .grey-border
      //
         ABOUT-5
        			============================================= 
      section#about-5.wide-60.about-section.division
        .container
          //  SECTION TITLE 
          .row
            .col-md-12.section-title
              //  Title 
              h3.h3-lg.darkblue-color Find a consultant by:
              //  Text 
              p.p-md.
                Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                
          .row
            //  ABOUT TEXT	
            .col-lg-5
              .row
                .col-sm-6
                  .about-5-txt.mb-40
                    //  Title 
                    h5.h5-xl.darkblue-color Country:
                    //  List 
                    ul.abox-list
                      li
                        a(href='#') 台灣
                      li
                        a(href='#') 澳大利亞
                      li
                        a(href='#') UK
                      li
                        a(href='#') USA
                      li
                        a(href='#') Germany
                      li
                        a(href='#') Netherlands
                      li.more-info-link.darkblue-color
                        a(href='#') View All
                .col-sm-6
                  .about-5-txt.mb-40
                    //  Title 
                    h5.h5-xl.darkblue-color Pratice Area:
                    //  List 
                    ul.abox-list
                      li
                        a(href='#') 澳洲投資移民簽證
                      li
                        a(href='#') Working Visa
                      li
                        a(href='#') Business visa
                      li
                        a(href='#') PR Visa
                      li
                        a(href='#') Tourist & Visitor Visa
                      li
                        a(href='#') Immigration Consult
                      li.more-info-link.darkblue-color
                        a(href='#') View All
            //  END ABOUT TEXT	
            //  ABOUT IMAGE 
            .col-lg-7
              .about-5-img.text-center.mb-40
                img.img-fluid(src='images/world-map.png' alt='about-image')
          //  End row 
        //  End container 
      //  END ABOUT-5 
      //
         TABS-2
        			============================================= 
      section#tabs-2.bg-lightgrey.wide-60.tabs-section.division
        .container
          .row
            //  TABS NAVIGATION 
            .col-md-12
              .tabs-nav.clearfix
                ul.tabs-2.primary-tabs
                  //  TAB-1 LINK 
                  li.tab-link.displayed(data-tab='tab-11')
                    span Goverment Approved
                  //  TAB-2 LINK 
                  li.tab-link(data-tab='tab-12')
                    span No Hidden Costs
                  //  TAB-3 LINK 
                  li.tab-link(data-tab='tab-13')
                    span Fast, Easy & Secure
            //  END TABS NAVIGATION 
            //  TABS CONTENT 
            .col-md-12
              .tabs-content
                //  TAB-1 CONTENT 
                #tab-11.tab-content.displayed
                  .row.d-flex.align-items-center
                    //  TAB-1 IMAGE 
                    .col-md-6.mb-40
                      .tab-img.text-center
                        img.img-fluid(src='images/image-01.png' alt='tab-image')
                    //  TAB-1 TEXT 
                    .col-md-6
                      .txt-block.pc-20.mb-40
                        //  Title 
                        h3.h3-lg.darkblue-color We make the visa process faster
                        //  Text 
                        p.
                          Semper lacus cursus porta, feugiat primis ligula risus auctor and rhoncus in ultrice ligula purus ipsum primis in cubilia augue vitae laoreet augue in cubilia augue egestas an ipsum turpis
                          
                        //  Small Title 
                        h5.h5-md.darkblue-color Cubilia augue vitae laoreet
                        //  Text Box #1 
                        .box-list
                          .box-list-icon
                            i.fas.fa-genderless
                          p.
                            Fringilla risus nec, luctus mauris orci auctor purus euismod at pretium purus pretium ligula rutrum viverra tortor sapien sodales congue magna undo pretium purus pretium an magnis nulla
                            
                        //  Text Box #2 
                        .box-list
                          .box-list-icon
                            i.fas.fa-genderless
                          p.
                            Quaerat sodales sapien undo euismod risus auctor egestas augue mauri undo viverra tortor sapien sodales sapien and vitae donec dolor sapien augue erat iaculis euismod
                            
                  //  End row 
                //  END TAB-1 CONTENT 
                //  TAB-2 CONTENT 
                #tab-12.tab-content
                  .row.d-flex.align-items-center
                    //  TAB-2 IMAGE 
                    .col-md-6
                      .tab-img.text-center.mb-40
                        img.img-fluid(src='images/image-03.png' alt='tab-image')
                    //  TAB-2 TEXT 
                    .col-md-6
                      .txt-block.pc-20.mb-40
                        //  Title 
                        h3.h3-lg.darkblue-color Thousands of people choose our services
                        //  Text 
                        p.
                          Semper lacus cursus porta, feugiat primis ligula risus auctor and rhoncus in ultrice ligula purus ipsum primis in cubilia augue vitae laoreet augue in cubilia augue egestas an ipsum turpis magna nihil impedit ligula risus. Mauris donec ociis et magnis sapien etiam
                          
                        //  Text 
                        p.
                          An enim nullam tempor sapien gravida donec enim blandit ipsum at porta justo integer velna vitae auctor integer congue magna pretium purus pretium. An magnis nulla dolor sapien augue erat iaculis
                          
                        //  Button 
                        a.btn.btn-tra-grey.primary-hover.btn-arrow(href='#')
                          span
                            | Discover More 
                            i.fas.fa-arrow-right
                  //  End row 
                //  END TAB-2 CONTENT 
                //  TAB-3 CONTENT 
                #tab-13.tab-content
                  .row.d-flex.align-items-center
                    //  TAB-3 IMAGE 
                    .col-md-6
                      .tab-img.text-center.mb-40
                        img.img-fluid(src='images/image-02.png' alt='tab-image')
                    //  TAB-3 TEXT 
                    .col-md-6
                      .txt-block.pc-20.mb-40
                        //  Title 
                        h3.h3-lg.darkblue-color Get guarantee success with our advisors
                        //  Text Box #1 
                        .box-list
                          .box-list-icon
                            i.fas.fa-genderless
                          p.
                            Semper lacus cursus porta, feugiat primis ligula risus auctor and rhoncus in ultrice ligula purus ipsum primis in cubilia augue vitae laoreet augue in cubilia augue egestas an ipsum turpis
                            
                        //  Text Box #2 
                        .box-list
                          .box-list-icon
                            i.fas.fa-genderless
                          p.
                            Fringilla risus nec, luctus mauris orci auctor purus euismod at pretium purus pretium ligula rutrum viverra tortor sapien sodales congue magna undo pretium purus pretium an magnis nulla
                            
                        //  Text Box #3 
                        .box-list
                          .box-list-icon
                            i.fas.fa-genderless
                          p.
                            Quaerat sodales sapien undo euismod risus auctor egestas augue mauri undo viverra tortor sapien sodales sapien and vitae donec dolor sapien augue erat iaculis euismod
                            
                  //  End row 
                //  END TAB-3 CONTENT 
            //  END TABS CONTENT 
          //  End row 
        //  End container 
      //  END TABS-2 
      //
         REQUEST FORM
        			============================================= 
      #request-1.bg-image.wide-60.request-form-section.division
        .container
          .row.d-flex.align-items-center
            //  REQUEST FORM TEXT 
            .col-md-6.col-xl-6
              .request-txt.white-color.pc-20.mb-40
                //  Section ID 
                span.section-id.id-color Free 24/7 Support
                //  Title 
                h2.h2-xs Get Free & Quality Online Consultation
                //  Samll Title 
                h5.h5-md Euismod risus auctor egestas augue mauri viverra euismod tortor eugiat a mauris placerat
                //  Text 
                p.
                  Fringilla risus nec, luctus mauris orci auctor purus euismod and pretium purus at pretium ligula rutrum viverra tortor sapien sodales and primis ligula risus auctor egestas augue mauri viverra tortor in iaculis placerat eugiat mauris ipsum viverra tortor gravida
                  
            //  END REQUEST FORM TEXT 
            //  REQUEST FORM 
            .col-md-6.col-xl-5.offset-xl-1
              #request-form.text-center.mb-40
                form.row.request-form.bg-lightgrey(name='requestForm')
                  //  Request Form Text 
                  .col-md-12
                    h5.h5-lg Request Free Consultation
                  //  Request Form Input 
                  #input-name.col-md-12
                    input.form-control.name(type='text' name='name' placeholder='Enter Your Name*' required)
                  //  Request Form Input 
                  #input-email.col-md-12
                    input.form-control.email(type='text' name='email' placeholder='Enter Your Email*' required)
                  //  Request Form Input 
                  #input-phone.col-md-12
                    input.form-control.phone(type='tel' name='phone' placeholder='Enter Your Phone Number*' required)
                  //  Request Form Select 
                  #input-visa.col-md-12.input-visa
                    select#inlineFormCustomSelect1.custom-select.visa(name='visa' required)
                      option(value) Select Visa
                      option Student Visa
                      option Travel visa
                      option Working Visa
                      option Business Visa
                      option Visitor Visa
                      option PR Visa
                  //  Request Form Select 
                  #input-country.col-md-12.input-country
                    select#inlineFormCustomSelect2.custom-select.country(name='country' required)
                      option(value) Visa For
                      option 澳大利亞
                      option 加拿大
                      option UK
                      option USA
                      option 台灣
                      option Netherlands
                  //  Request Form Button 
                  .col-md-12.form-btn
                    button.btn.btn-primary.tra-black-hover.submit(type='submit') 請聯係我!
                  //  Request Form Message 
                  .col-md-12.request-form-msg.text-center
                    .sending-msg
                      span.loading
            //  END REQUEST FORM 
          //  End row 
        //  End container 
      //  END REQUEST FORM 
      //
         COUNTRIES-2
        			============================================= 
      section#countries-2.wide-70.countries-section.division
        .container
          //  SECTION TITLE 
          .row
            .col-md-12.section-title.center
              //  Title 
              h2.h2-xs.darkblue-color Choose Your Country To Go
              //  Text 
              p.p-md.
                Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                
          //  END SECTION TITLE 
          //  COUNTRIES 
          .row
            //  COUNTRY BOX 
            .col-md-6.col-lg-3
              .cbox-2
                //  Flag 
                .country-flag
                  img(src='images/flags/canada.png' alt='flag-icon')
                //  Title 
                h5.h5-lg.darkblue-color Canada
                //  Text 
                p.
                  An magnis nulla dolor sapien augue erat iaculis purus tempor magna pretium ipsum at purus primis undo ligula rutrum luctus blandit porta
                  
                //  Link 
                a.primary-color(href='#') Read More
            //  COUNTRY BOX 
            .col-md-6.col-lg-3
              .cbox-2
                //  Flag 
                .country-flag
                  img(src='images/flags/australia.png' alt='flag-icon')
                //  Title 
                h5.h5-lg.darkblue-color Australia
                //  Text 
                p.
                  An magnis nulla dolor sapien augue erat iaculis purus tempor magna pretium ipsum at purus primis undo ligula rutrum luctus blandit porta
                  
                //  Link 
                a.primary-color(href='#') Read More
            //  COUNTRY BOX 
            .col-md-6.col-lg-3
              .cbox-2
                //  Flag 
                .country-flag
                  img(src='images/flags/singapore.png' alt='flag-icon')
                //  Title 
                h5.h5-lg.darkblue-color Singapore
                //  Text 
                p.
                  An magnis nulla dolor sapien augue erat iaculis purus tempor magna pretium ipsum at purus primis undo ligula rutrum luctus blandit porta
                  
                //  Link 
                a.primary-color(href='#') Read More
            //  COUNTRY BOX 
            .col-md-6.col-lg-3
              .cbox-2
                //  Flag 
                .country-flag
                  img(src='images/flags/united-states-of-america.png' alt='flag-icon')
                //  Title 
                h5.h5-lg.darkblue-color USA
                //  Text 
                p.
                  An magnis nulla dolor sapien augue erat iaculis purus tempor magna pretium ipsum at purus primis undo ligula rutrum luctus blandit porta
                  
                //  Link 
                a.primary-color(href='#') Read More
            //  COUNTRY BOX 
            .col-md-6.col-lg-3
              .cbox-2
                //  Flag 
                .country-flag
                  img(src='images/flags/united-kingdom.png' alt='flag-icon')
                //  Title 
                h5.h5-lg.darkblue-color United Kingdom
                //  Text 
                p.
                  An magnis nulla dolor sapien augue erat iaculis purus tempor magna pretium ipsum at purus primis undo ligula rutrum luctus blandit porta
                  
                //  Link 
                a.primary-color(href='#') Read More
            //  COUNTRY BOX 
            .col-md-6.col-lg-3
              .cbox-2
                //  Flag 
                .country-flag
                  img(src='images/flags/germany.png' alt='flag-icon')
                //  Title 
                h5.h5-lg.darkblue-color Germany
                //  Text 
                p.
                  An magnis nulla dolor sapien augue erat iaculis purus tempor magna pretium ipsum at purus primis undo ligula rutrum luctus blandit porta
                  
                //  Link 
                a.primary-color(href='#') Read More
            //  COUNTRY BOX 
            .col-md-6.col-lg-3
              .cbox-2
                //  Flag 
                .country-flag
                  img(src='images/flags/netherlands.png' alt='flag-icon')
                //  Title 
                h5.h5-lg.darkblue-color Netherlands
                //  Text 
                p.
                  An magnis nulla dolor sapien augue erat iaculis purus tempor magna pretium ipsum at purus primis undo ligula rutrum luctus blandit porta
                  
                //  Link 
                a.primary-color(href='#') Read More
            //  COUNTRY BOX 
            .col-md-6.col-lg-3
              .cbox-2
                //  Flag 
                .country-flag
                  img(src='images/flags/china.png' alt='flag-icon')
                //  Title 
                h5.h5-lg.darkblue-color China
                //  Text 
                p.
                  An magnis nulla dolor sapien augue erat iaculis purus tempor magna pretium ipsum at purus primis undo ligula rutrum luctus blandit porta
                  
                //  Link 
                a.primary-color(href='#') Read More
          //  END COUNTRIES 
        //  End container 
      //  END COUNTRIES-2 
      //
         ABOUT-4
        			============================================= 
      section#about-4.bg-lightgrey.bg-tra-city.pt-100.about-section.division
        .container
          .row.d-flex.align-items-center
            //  ABOUT TEXT 
            .col-lg-7.col-xl-6
              .about-4-txt.mb-40
                //  Section ID 
                span.section-id.id-color Professional Advisors
                //  Title 
                h3.h3-lg.darkblue-color We provide the best consulting services in the industry since 2009
                //  Text #1 
                .box-list
                  .box-list-icon
                    i.fas.fa-genderless
                  p.
                    Fringilla risus nec, luctus mauris orci auctor purus euismod pretium purus at pretium ligula rutrum viverra tortor sapien sodales pretium purus pretium. An magnis nulla dolor sapien augue erat iaculis
                    
                //  Text #2 
                .box-list
                  .box-list-icon
                    i.fas.fa-genderless
                  p.
                    Quaerat sodales sapien undo euismod risus auctor egestas augue mauri undo viverra tortor sapien sodales sapien and vitae donec gravida donec enim blandit ipsum at porta justo integer
                    
                //  Button 
                a.btn.btn-md.btn-primary.black-hover(href='tel:123456789').
                  
                  Call: +12 9 8765 4321
                  
            //  END ABOUT TEXT 
            //  SERVICES IMAGE 
            .col-lg-5.col-xl-5.offset-xl-1
              .about-4-img.text-center
                img.img-fluid(src='images/image-04.png' alt='about-image')
          //  End row 
        //  End container 
      //  END ABOUT-4 
      //
         STATISTIC-1
        			============================================= 
      #statistic-1.bg-blue-map.wide-60.statistic-section.division
        .container.white-color
          .row
            //  STATISTIC BLOCK #1 
            .col-sm-6.col-md-3
              .statistic-block.icon-sm
                //  Icon 
                span.flaticon-316-mortarboard
                //  Text 
                h5
                  span.count-element 820
                  | +
                p Students
            //  STATISTIC BLOCK #2 
            .col-sm-6.col-md-3
              .statistic-block.icon-sm
                //  Icon 
                span.flaticon-431-bank
                //  Text 
                h5
                  span.count-element 127
                p Universities
            //  STATISTIC BLOCK #3 
            .col-sm-6.col-md-3
              .statistic-block.icon-sm
                //  Icon 
                span.flaticon-285-internet-2
                //  Text 
                h5
                  span.count-element 81
                p Countries
            //  STATISTIC BLOCK #4 
            .col-sm-6.col-md-3
              .statistic-block.icon-sm
                //  Icon 
                span.flaticon-032-user-3
                //  Text 
                h5
                  span.count-element 969
                p Immigrations
          //  End row 
        //  End container 
      //  END STATISTIC-1 
      //
         TESTIMONIALS-1
        			============================================= 
      section#reviews-1.wide-100.reviews-section.division
        .container
          //  SECTION TITLE 
          .row
            .col-md-12.section-title.center
              //  Title 
              h2.h2-xs.darkblue-color What Our Clients Say
              //  Text 
              p.p-md.
                Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                
          //  END SECTION TITLE 
          //  TESTIMONIALS CONTENT 
          .row
            .col-md-12
              .owl-carousel.owl-theme.reviews-holder
                //  TESTIMONIAL #1 
                .review-1
                  //  Testimonial Text 
                  p.
                    Sagittis congue etiam sapien at velna accumsan suscipit egestas at lobortis magna, a porttitor sodales an aenean mauris tempor aenean cubilia blandit porta justo integer velna vitae auctor integer a congue magna sapien gravida donec ultrice ligula risus
                    
                  //  Testimonial Author 
                  .author-data.clearfix
                    //  Author Avatar 
                    .testimonial-avatar
                      img(src='images/review-author-1.jpg' alt='testimonial-avatar')
                    //  Author Data 
                    .review-author
                      h5.h5-xs.darkblue-color Robert
                      span (UK Business Visa)
                  //  End Testimonial Author 
                //  TESTIMONIAL #2 
                .review-1
                  //  Testimonial Text 
                  p.
                    Sapien sem accumsan vitae at purus diam integer congue magna sodales. Magna vitae and aenean mauris tempor augue in cubilia laoreet magna suscipit magna ipsum vitae purus ipsum primis cubilia laoreet and augue ultrice ligula egestas magna suscipit lectus gestas at magna viverra dolor neque gravida
                    
                  //  Testimonial Author 
                  .author-data.clearfix
                    //  Author Avatar 
                    .testimonial-avatar
                      img(src='images/review-author-2.jpg' alt='testimonial-avatar')
                    //  Author Data 
                    .review-author
                      h5.h5-xs.darkblue-color Evelyn W.
                      span (Canada Studients Visa)
                  //  End Testimonial Author 
                //  TESTIMONIAL #3 
                .review-1
                  //  Testimonial Text 
                  p.
                    Etiam sapien gravida and donec sagittis congue. An augue cubilia laoreet magna suscipit egestas magna ipsum and vitae purus ipsum primis undo cubilia laoreet augue ultrice ligula and egestas suscipit magna lectus gestas magna as viverra dolor neque est gravida
                    
                  //  Testimonial Author 
                  .author-data.clearfix
                    //  Author Avatar 
                    .testimonial-avatar
                      img(src='images/review-author-3.jpg' alt='testimonial-avatar')
                    //  Author Data 
                    .review-author
                      h5.h5-xs.darkblue-color Leslie Serpas
                      span (Singapore PR Visa)
                  //  End Testimonial Author 
                //  TESTIMONIAL #4 
                .review-1
                  //  Testimonial Text 
                  p.
                    An augue in cubilia laoreet undo magna suscipit egestas magna ipsum egestas vitae purus ipsum primis cubilia laoreet augue ultrice ligula egestas and magna suscipit lectus gestas magna a viverra dolor neque est gravida
                    
                  //  Testimonial Author 
                  .author-data.clearfix
                    //  Author Avatar 
                    .testimonial-avatar
                      img(src='images/review-author-4.jpg' alt='testimonial-avatar')
                    //  Author Data 
                    .review-author
                      h5.h5-xs.darkblue-color Dan Hodges
                      span (USA Studients Visa)
                  //  End Testimonial Author 
                //  TESTIMONIAL #5 
                .review-1
                  //  Testimonial Text 
                  p.
                    An orci nullam tempor sapien, gravida donec enim ipsum a porta. An augue in cubilia laoreet magna suscipit egestas magna ipsum vitae purus ipsum primis in cubilia laoreet augue ultrice at ligula egestas magna suscipit lectus gestas magna viverra dolor neque est gravida justo integer and velna auctor
                    
                  //  Testimonial Author 
                  .author-data.clearfix
                    //  Author Avatar 
                    .testimonial-avatar
                      img(src='images/review-author-5.jpg' alt='testimonial-avatar')
                    //  Author Data 
                    .review-author
                      h5.h5-xs.darkblue-color Amelie Peterson
                      span (France Working Visa)
                  //  End Testimonial Author 
                //  TESTIMONIAL #6 
                .review-1
                  //  Testimonial Text 
                  p.
                    An augue cubilia laoreet magna suscipit egestas magna ipsum vitae purus undo ipsum primis in cubilia laoreet augue ultrice ligula egestas magna at suscipit lectus gestas magna viverra dolor neque est gravida. Mauris donec ociis magnis sapien etiam sapien sem sagittis
                    
                  //  Testimonial Author 
                  .author-data.clearfix
                    //  Author Avatar 
                    .testimonial-avatar
                      img(src='images/review-author-6.jpg' alt='testimonial-avatar')
                    //  Author Data 
                    .review-author
                      h5.h5-xs.darkblue-color Scott Boxer
                      span (Germany Travel Visa)
                  //  End Testimonial Author 
                //  TESTIMONIAL #7 
                .review-1
                  //  Testimonial Text 
                  p.
                    At sagittis congue augue egestas undo magna ipsum vitae purus ipsum primis in cubilia laoreet augue ociis at nullam tempor sapien gravida porta integer at odio velna auctor. An augue in cubilia laoreet magna suscipit egestas magna ipsum vitae purus ipsum primis cubilia laoreet augue ultrice ligula egestas
                    
                  //  Testimonial Author 
                  .author-data.clearfix
                    //  Author Avatar 
                    .testimonial-avatar
                      img(src='images/review-author-7.jpg' alt='testimonial-avatar')
                    //  Author Data 
                    .review-author
                      h5.h5-xs.darkblue-color Evelyn
                      span (Austrlia PR Visa)
                  //  End Testimonial Author 
          //  END TESTIMONIALS CONTENT 
        //  End container 
      //  END TESTIMONIALS-1 
      //
         BRANDS-2
        			============================================= 
      #brands-2.bg-tra-map.bg-lightgrey.wide-70.brands-section.division
        .container
          //  TEXT 
          .row
            .col-md-12.text-center.mb-10
              h5.h5-md.grey-color We partner with companies of all sizes, all around the world
          //  BRANDS HOLDER 
          .row.brands-holder
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-1.png' alt='brand-logo')
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-2.png' alt='brand-logo')
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-3.png' alt='brand-logo')
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-4.png' alt='brand-logo')
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-5.png' alt='brand-logo')
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-6.png' alt='brand-logo')
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-7.png' alt='brand-logo')
            //  BRAND LOGO IMAGE 
            .col-sm-6.col-md-3
              .brand-logo
                img.img-fluid(src='images/brand-8.png' alt='brand-logo')
          //  END BRANDS HOLDER 
        //  End container 
      //  END BRANDS-2 
      //
         BLOG-1
        			============================================= 
      section#blog-1.wide-60.blog-section.division
        .container
          //  SECTION TITLE 
          .row
            .col-md-12.section-title.center
              //  Title 
              h2.h2-xs.darkblue-color Our Stories & Latest News
              //  Text 
              p.p-md.
                Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                
          //  END SECTION TITLE 
          //  BLOG POSTS HOLDER 
          .row
            //  BLOG POST #1 
            .col-md-6.col-lg-4
              .blog-post
                //  BLOG POST IMAGE 
                .blog-post-img.mb-30
                  img.img-fluid(src='images/blog/post-1-img.jpg' alt='blog-post-image')
                //  BLOG POST TEXT 
                .blog-post-txt.icon-xs
                  //  Post Data 
                  p.post-meta
                    | August 10, 2019 in 
                    span Immigration Visa
                  //  Title 
                  h5.h5-lg.darkblue-color What Visa Do I Need to Work Legally in Singapore?
                  //  Text 
                  p.
                    Aliqum mullam blandit tempor sapien gravida donec ipsum, at porta justo. Velna vitae auctor congue magna tempor sodales sapien ...
                    
                  //  Link 
                  a.darkblue-color(href='single-post') Read More
            //  END  BLOG POST #1 
            //  BLOG POST #2 
            .col-md-6.col-lg-4
              .blog-post
                //  BLOG POST IMAGE 
                .blog-post-img.mb-30
                  img.img-fluid(src='images/blog/post-2-img.jpg' alt='blog-post-image')
                //  BLOG POST TEXT 
                .blog-post-txt.icon-xs
                  //  Post Data 
                  p.post-meta
                    | August 1, 2019 in 
                    span Working Visa
                  //  Title 
                  h5.h5-lg.darkblue-color Top Reasons for Australian Working Visa Rejection
                  //  Text 
                  p.
                    Aliqum mullam blandit tempor sapien gravida donec ipsum, at porta justo. Velna vitae auctor congue magna tempor sodales sapien ...
                    
                  //  Link 
                  a.darkblue-color(href='single-post') Read More
            //  END  BLOG POST #2 
            //  BLOG POST #3 
            .col-md-6.col-lg-4
              .blog-post
                //  BLOG POST IMAGE 
                .blog-post-img.mb-30
                  img.img-fluid(src='images/blog/post-3-img.jpg' alt='blog-post-image')
                //  BLOG POST TEXT 
                .blog-post-txt.icon-xs
                  //  Post Data 
                  p.post-meta
                    | July, 2019 in 
                    span PR Visa
                  //  Post Title 
                  h5.h5-lg.darkblue-color The United Kingdom Immigration & Permanent Residency Consultants
                  //  Text 
                  p.
                    Aliqum mullam blandit tempor sapien gravida donec ipsum, at porta justo. Velna vitae auctor congue magna tempor sodales sapien ...
                    
                  //  Link 
                  a.darkblue-color(href='single-post') Read More
            //  END  BLOG POST #3 
          //  END BLOG POSTS HOLDER 
        //  End container 
      //  END BLOG-1 
      //
         CALL TO ACTION-1
        			============================================= 
      section#cta-1.bg-scroll.bg-image.cta-section.division
        .container.white-color
          .row.d-flex.align-items-center
            //  CALL TO ACTION TEXT 
            .col-lg-8.col-xl-8
              .cta-txt
                //  Title  
                h3.h3-md.txt-400 Free Immigration & Visa Consultation
                //  Text 
                p.p-md.
                  Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis libero tempus, and blandit posuere ligula varius magna congue cursus porta ultrice
                  
            //  CALL TO ACTION BUTTON 
            .col-lg-4.col-xl-3.offset-xl-1
              .cta-btn.text-center
                //  Phone Number 
                p.p-md
                  | Call : 
                  span +12 9 8765 4321
                //  Button  
                a.btn.btn-md.btn-primary.tra-white-hover.btn-arrow(href='/cdn-cgi/l/email-protection#225b4d5750474f434b4e624f434b4e0c414d4f')
                  span
                    | Get Consultation 
                    i.fas.fa-arrow-right
          //  End row 
        //  End container 
      //  END CALL TO ACTION-1 
      //
         FOOTER-2
        			============================================= 
      footer#footer-2.wide-40.footer.division
        .container
          //  FOOTER CONTENT 
          .row
            //  FOOTER INFO 
            .col-lg-5.col-xl-4
              .footer-info.mb-40
                //  Footer Logo 
                //  For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 400 x 100 pixels) 
                img(src='images/logo-black.png' width='200' height='50' alt='footer-logo')
                //  Text 
                p.mt-25.
                  Aliquam orci a nullam tempor at sapien donec gravida enim ipsum porta justo velna auctor a congue magna laoreet an augue sapien feugiat primis ultrice ligula risus auctor tempus feugiat dolor impedit auctor tempus accumsan
                  
            //  FOOTER CONTACTS 
            .col-lg-3.col-xl-3
              .footer-box.mb-40
                //  Title 
                h5.h5-md.darkblue-color Head Office
                //  Address 
                p 121 King Street, Melbourne,
                p Victoria 3000 Australia
                //  Phone 
                p.mt-20 Phone: +12 9 8765 4321
                //  Email 
                p.foo-email
                  | Email: 
                  a(href='/cdn-cgi/l/email-protection#6f16001a1d0b00020e06012f020e0603410c0002')
                    span.__cf_email__(data-cfemail='0b636e6767644b6f6e666425686466') [email protected]
                //  Phone 
                p Office Time: 9AM - 6PM
            //  FOOTER LINKS 
            .col-lg-2.col-xl-2
              .footer-links.mb-40
                //  Title 
                h5.h5-md.darkblue-color Countries
                //  Footer Links 
                ul.foo-links.clearfix
                  li
                    a(href='#') 台灣
                  li
                    a(href='#') 澳大利亞
                  li
                    a(href='#') UK
                  li
                    a(href='#') USA
                  li
                    a(href='#') Germany
                  li
                    a(href='#') Netherlands
            //  FOOTER LINKS 
            .col-lg-2.col-xl-3
              .footer-links.mb-40
                //  Title 
                h5.h5-md.darkblue-color Visas
                //  Footer Links 
                ul.foo-links.clearfix
                  li
                    a(href='#') Students Visa
                  li
                    a(href='#') Travel Visa
                  li
                    a(href='#') PR Visa
                  li
                    a(href='#') Business Visa
                  li
                    a(href='#') Work Visa
                  li
                    a(href='#') Family Visa
          //  END FOOTER CONTENT 
          //  BOTTOM FOOTER 
          .bottom-footer
            .row.d-flex.align-items-center
              //  FOOTER COPYRIGHT 
              .col-lg-6
                p.footer-copyright
                  | © Copyright 
                  span VisaPRO 2019
                  | . All Rights 
                  a(href='http://www.bootstrapmb.com/' title='bootstrapmb') Reserved
              //  FOOTER SOCIALS LINKS 
              .col-lg-6.text-right
                ul.foo-socials.text-center.clearfix
                  li
                    a.ico-facebook(href='#')
                      i.fab.fa-facebook-f
                  li
                    a.ico-twitter(href='#')
                      i.fab.fa-twitter
                  li
                    a.ico-google-plus(href='#')
                      i.fab.fa-google-plus-g
                  li
                    a.ico-tumblr(href='#')
                      i.fab.fa-tumblr
                  //
                    
                    									<li><a href="#" class="ico-behance"><i class="fab fa-behance"></i></a></li>	
                    									<li><a href="#" class="ico-dribbble"><i class="fab fa-dribbble"></i></a></li>									
                    									<li><a href="#" class="ico-instagram"><i class="fab fa-instagram"></i></a></li>	
                    									<li><a href="#" class="ico-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    									<li><a href="#" class="ico-pinterest"><i class="fab fa-pinterest-p"></i></a></li>								
                    									<li><a href="#" class="ico-youtube"><i class="fab fa-youtube"></i></a></li>										
                    									<li><a href="#" class="ico-vk"><i class="fab fa-vk"></i></a></li>
                    									<li><a href="#" class="ico-yelp"><i class="fab fa-yelp"></i></a></li>
                    									<li><a href="#" class="ico-yahoo"><i class="fab fa-yahoo"></i></a></li>
                    								    
          //  END BOTTOM FOOTER 
        //  End container 
      //  END FOOTER-2 
    //  END PAGE CONTENT 
    //
       EXTERNAL SCRIPTS
      		============================================= 
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/modernizr.custom.js')
    script(src='js/jquery.easing.js')
    script(src='js/jquery.appear.js')
    script(src='js/jquery.stellar.min.js')
    script(src='js/menu.js')
    script(src='js/materialize.js')
    script(src='js/jquery.scrollto.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/jquery.magnific-popup.min.js')
    script(src='js/hero-request-form.js')
    script(src='js/hero-register-form.js')
    script(src='js/request-form.js')
    script(src='js/contact-form.js')
    script(src='js/comment-form.js')
    script(src='js/jquery.ajaxchimp.min.js')
    script(src='js/jquery.validate.min.js')
    //  Custom Script 
    script(src='js/custom.js')
    //  HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. 
    //
       [if lt IE 9]>
      			<script src="js/html5shiv.js" type="text/javascript"></script>
      			<script src="js/respond.min.js" type="text/javascript"></script>
      		<![endif] 
    //
       STYLE SWITCHER
      		============================================= 
    #stlChanger
      .blockChanger.bgChanger
        a.chBut.icon-xs(href='#')
          span.flaticon-292-gear
        .chBody
          .stBlock.text-center(style='margin: 30px 20px 20px 16px;')
            p Color Scheme
            .stBgs
              a(href='javascript:chooseStyle(\'aqua-theme\', 60)')
                img(src='images/color-scheme/aqua.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'salmon-theme\', 60)')
                img(src='images/color-scheme/salmon.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'blue-theme\', 60)')
                img(src='images/color-scheme/blue.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'orange-theme\', 60)')
                img(src='images/color-scheme/orange.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'olive-theme\', 60)')
                img(src='images/color-scheme/olive.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'darkred-theme\', 60)')
                img(src='images/color-scheme/darkred.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'teal-theme\', 60)')
                img(src='images/color-scheme/teal.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'yellow-theme\', 60)')
                img(src='images/color-scheme/yellow.png' width='50' height='50' alt)
              a(href='javascript:chooseStyle(\'green-theme\', 60)')
                img(src='images/color-scheme/green.png' width='50' height='50' alt)
          .stBlock.text-center(style='margin: 0px 32px 25px 20px;')
            a.btn.btn-primary.black-hover(href='javascript:chooseStyle(\'none\', 60)') Reset color
          .stBlock.text-center(style='margin:30px 20px 30px 16px')
            p Choose Layout
            a.s_1(href='/')
              img(src='images/color-scheme/l-01.jpg' width='175' height='140' alt='layout-image')
            a.s_1(href='demo-2')
              img(src='images/color-scheme/l-02.jpg' width='175' height='130' alt='layout-image')
            a.s_1(href='demo-3')
              img(src='images/color-scheme/l-03.jpg' width='175' height='110' alt='layout-image')
            a.s_1(href='demo-4')
              img(src='images/color-scheme/l-04.jpg' width='175' height='130' alt='layout-image')
            a.s_1(href='demo-5')
              img(src='images/color-scheme/l-05.jpg' width='175' height='110' alt='layout-image')
            a.s_1(href='demo-6')
              img(src='images/color-scheme/l-06.jpg' width='175' height='150' alt='layout-image')
            a.s_1(href='demo-7')
              img(src='images/color-scheme/l-07.jpg' width='175' height='165' alt='layout-image')
            a.s_1(href='demo-9')
              img(src='images/color-scheme/l-09.jpg' width='175' height='135' alt='layout-image')
    //  END SWITCHER 
    script(src='js/changer.js')
    script(defer src='js/styleswitch.js')
