extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Worlgo Migration (HK)
    div.Message
      div.Title
        h3 移民項目專家
        h1 Australian Migration
      span.Details 6PM登記 7th Feb 2020 6：30PM-7：30PM講座 
      span.Details T.H.E.DESIGN 609, 6/F BLK A, SHATIN INDUSTRIAL CENTRE
      span.Details 5 - 7 YUEN SHUN CIRCUIT, SHATIN
    div.NavButtons
      a(href="http://bit.ly/WorlgoSEAFeb2020")
          div.NavButton 2020講座RSVP