extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Worlgo Migration (HK)
    div.Message
      div.Title
        h3 移民項目專家
        h1 Australian Migration
      span.Details 7th Feb 2020 6PM登記  6：30PM-7：30PM講座 
      span.Details T.H.E.DESIGN 609, 6/F BLK A, SHATIN INDUSTRIAL CENTRE
      span.Details 5 - 7 YUEN SHUN CIRCUIT, SHATIN
      img.Icon(src='./WhatsApp_Logo_1.png' alt='login') 
      div.Contact 
      a(href="https://wa.me/85252224769??text=I'm%20interested%20in%20your%20seminar")
          span.Contact 52224769
    div.NavButtons
      a(href="http://bit.ly/WorlgoSEAFeb2020")
          div.NavButton 2020講座RSVP