extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Worlgo Migration (HK)
    div.Message
      div.Title
        h3 移民項目專家
        h1 Australia Migration 7th Feb 2020
      span.Details 6PM登記 6：30PM-7：30PM講座 T.H.E.DESIGN 609, 6/F BLK A, SHATIN INDUSTRIAL CENTRE, 5 - 7 YUEN SHUN CIRCUIT, SHATIN
    div.NavButtons
      a(href="http://bit.ly/WorlgoSEAFeb2020")
          div.NavButton 2020講座RSVP