extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Worlgo Technology Limited
    div.Message
      div.Title
        h3 卓越移民服務
        h1 Australian Migration
      span.Details 12th Feb 2020 5:00 PM - 7:00PM 綫上免費講座 
      div.Contact
      a(href="https://www.facebook.com/worlgohk")
          span.Contact 綫上播放
      span.Details 地址: FLT C/Level 14, 373 Kings Rd, Northpoint HK
      img.Icon(src='./WhatsApp_Logo_1.png' alt='login') 
      div.Contact 
      a(href="https://wa.me/85252224769??text=I'm%20interested%20in%20your%20seminar")
          span.Contact 52224769
    div.NavButtons
      a(href="http://bit.ly/WorlgoSEAFeb2020")
          div.NavButton 2020講座RSVP

