extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Worlgo Migration 移民服務
    div.Message
      div.Title
        h1 澳洲132商業移民
      span.h3 面對面系列：Summit Homes 高管談談他們250萬澳幣地產移民項目何賺錢
      span.Details 24th April 2020 14:00 - 16:00 綫上免費講座 
      div.Contact
      a(href="https://www.facebook.com/worlgohk")
          span.Contact 綫上短視頻
      span.Details https://www.facebook.com/worlgohk
      span.Details 公司地址: FLT C/Level 14, 373 Kings Rd, Northpoint HK
      img.Icon(src='./WhatsApp_Logo_1.png' alt='login') 
      div.Contact 
      a(href="https://wa.me/85252224769??text=I'm%20interested%20in%20your%20seminar")
          span.Contact 52224769
    div.NavButtons
      a(href="http://bit.ly/WorlgoSEAFeb2020")
          div.NavButton 2020講座RSVP

