html(lang='en')
  head
    //- script(src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin")
    //- script. 
    //-       tinymce.init({
    //-       selector: '#wsmwnutxt'
    //-     });
    body
      <!-- Google Tag Manager -->
    script. 
      (function(w,d,s,l,i) {
        w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'
        });
        var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PVXT75J');
        
        <!-- End Google Tag Manager -->
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVXT75J"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

    script.
        (function () {
        var options = {
        whatsapp: "+85262310693", // WhatsApp number
        telegram: "+85262310693", // Telegram bot username
        email: "info@worlgo.com", // Email
        call: "+85231068789", // Call phone number
        company_logo_url: "//storage.getbutton.io/widget/4d/4d5f/4d5fa1b3e791721c32a055223749fd64/logo.jpg", // URL of company logo (png, jpg, gif)
        greeting_message: "你好，請致電我們。", // Text of greeting message
        call_to_action: "致電我們", // Call to action
        button_color: "#FF6550", // Color of button
        position: "right", // Position may be 'right' or 'left'
        order: "whatsapp,telegram,call,email", // Order of buttons
        pre_filled_message: "General", // WhatsApp pre-filled message
        ga: true, // Google Analytics enabled
        branding: false, // Show branding string
        mobile: true, // Mobile version enabled
        desktop: true, // Desktop version enabled
        greeting: true, // Greeting message enabled
        shift_vertical: 100, // Vertical position, px
        shift_horizontal: 0, // Horizontal position, px
        domain: "worlgo.com", // site domain
        key: "CqDBJN49QHyl3Ekye-O78g", // pro-widget key
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
      <!-- /GetButton.io widget -->
      //  Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-158216926-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-158216926-1');
    | ﻿

    // [if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]
    // [if IE 7 ]><html class="ie ie7" lang="en"> <![endif]
    // [if IE 8 ]><html class="ie ie8" lang="en"> <![endif]
    // [if (gte IE 9)|!(IE)]><!
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='author' content='DSAThemes')
    meta(name='description' content='Worlgo - Immigration and Visas')
    meta(name='keywords' content='Responsive, DSAThemes, One Page, Landing, Business, Coaching, Consulting, Creative, Immigration, Visa')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //  SITE TITLE 
    title Worlgo - Immigration and Visas
    //  FAVICON AND TOUCH ICONS  
    link(rel='apple-touch-icon' sizes='152x152' href='images/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='120x120' href='images/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='76x76' href='images/apple-touch-icon-76x76.png')
    //  GOOGLE FONTS 
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900&display=swap' rel='stylesheet')
    //  BOOTSTRAP CSS 
    link(href='css/bootstrap.min.css' rel='stylesheet')
    //  FONT ICONS 
    link(href='css/all.css')
    link(href='css/flaticon.css' rel='stylesheet')
    //  PLUGINS STYLESHEET 
    link(href='css/menu.css' rel='stylesheet')
    link#effect(href='css/dropdown-effects/fade-down.css' media='all' rel='stylesheet')
    link(href='css/tweenmax.css' rel='stylesheet')
    link(href='css/magnific-popup.css' rel='stylesheet')
    link(href='css/owl.carousel.min.css' rel='stylesheet')
    link(href='css/owl.theme.default.min.css' rel='stylesheet')
    //  TEMPLATE CSS 
    link(href='css/salmon.css' rel='stylesheet')
    //  STYLE SWITCHER CSS 
    link(href='css/aqua.css' rel='alternate stylesheet' title='aqua-theme')
    link(href='css/blue.css' rel='alternate stylesheet' title='blue-theme')
    link(href='css/darkred.css' rel='alternate stylesheet' title='darkred-theme')
    link(href='css/green.css' rel='alternate stylesheet' title='green-theme')
    link(href='css/olive.css' rel='alternate stylesheet' title='olive-theme')
    link(href='css/orange.css' rel='alternate stylesheet' title='orange-theme')
    link(href='css/red.css' rel='alternate stylesheet' title='red-theme')
    link(href='css/teal.css' rel='alternate stylesheet' title='teal-theme')
    link(href='css/yellow.css' rel='alternate stylesheet' title='yellow-theme')
    //  RESPONSIVE CSS 
    link(href='css/responsive.css' rel='stylesheet')
    //
       PRELOADER SPINNER
      		============================================= 
    #loader-wrapper
      #loader
        .cssload-box-loading
    //
       PAGE CONTENT
      		============================================= 
    #page.page
      //
         HEADER
        			============================================= 
      header#header-2.header.white-menu
        .header-wrapper
          //  MOBILE HEADER 
          .wsmobileheader.clearfix
            a#wsnavtoggle.wsanimated-arrow
              span
            span.smllogo
              img(src='images/Worlgo logo - brown & orange.png' width='200' height='50' alt='mobile-logo')
            a.callusbtn(href='tel:123456789')
              i.fas.fa-phone
          //  HEADER STRIP 
          .headtoppart.bg-white.clearfix
            .headerwp.clearfix
              //  Infotmation 
              .headertopleft
                .header-info.clearfix
                  span.txt-400
                    i.fas.fa-map-marker-alt
                    | 香港港灣道1號會展廣場辦公大樓22樓2207室 
              //  Contacts 
              .headertopright.header-contacts
                a.callusbtn.txt-400(href='tel:+852 3106 8789')
                  i.fas.fa-phone
                  | 
                a.callusbtn.b-right.txt-400(href='tel:+85231068789')  +852 31068789
                a.txt-400(href='/cdn-cgi/l/email-protection#82fbedf7f0e6edefe3ebecc2efe3ebeeace1edef')
                  i.far.fa-envelope-open
                  span.__cf_email__(data-cfemail='a7cfc2cbcbc8e7c3c8cac6cec989c4c8ca') info@worlgo.com
          //  END HEADER STRIP 
          //  NAVIGATION MENU 
          .wsmainfull.menu.clearfix
            .wsmainwp.clearfix
              //  LOGO IMAGE 
              //  For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 90 pixels) 
              .desktoplogo
                a.logo-black(href='/')
                  img(src='images/Worlgo logo - brown & orange.png' width='180' height='45' alt='header-logo')
              .desktoplogo
                a.logo-white(href='/')
                  img(src='images/logo-white.png' width='180' height='45' alt='header-logo')
              //  MAIN MENU 
              nav.wsmenu.clearfix.blue-header
                ul.wsmenu-list
                  //  DROPDOWN MENU 
                  li(aria-haspopup='true')
                    a(href='/')
                      | 主頁 
                  //  PAGES 
                  li(aria-haspopup='true')
                    a(href='/contacts-1')
                      | 關於我們
                      span.wsarrow
                    .wsmegamenu.clearfix
                      .container
                        .row
                          //  MEGAMENU LINKS 
                          ul.col-lg-4.col-md-12.col-xs-12.link-list
                            li.title 
                            li
                              a(href='https://www.facebook.com/pg/worlgohk/about/') 我們團隊
                            li
                              a(href='https://www.google.com/maps/place/Worlgo+%E7%A7%BB%E6%B0%91%E6%9C%8D%E5%8B%99/@22.2908944,114.1957387,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x28247e4d05d17973!8m2!3d22.2908944!4d114.1979274') 我們地址
                          //  MEGAMENU LINKS 
                          
                        //  End row 
                      //  End container 
                    //  End wsmegamenu 
                  //  END PAGES 
                  //  MEGAMENU 
                  li(aria-haspopup='true')
                    a(href='/OSHC')
                      |  服務
                      span.wsarrow
                    .wsmegamenu.clearfix
                      .container
                        .row
                          //  MEGAMENU QUICK LINKS 
                          .col-md-12.col-lg-3
                            //  Title 
                            h3.title 最新服務
                            ul.link-list
                              li
                                a(href='visa-details') 澳洲 858 GTI環球專才民計劃
                              li
                                a(href='visa-details-03') 188 生意/投資/SIV
                              li
                                a(href='/OSHC') 海外留學生醫療保險
                              li
                                a(href='visa-details-01') 英國技術移民
                              li
                                a(href='faqs') 常問問題
                          //  END MEGAMENU QUICK LINKS 
                          //  MEGAMENU 推薦項目
                          .col-md-12.col-lg-5
                            //  Title 
                            h3.title 推薦項目:
                            //  Image 
                            .fluid-width-video-wrapper.mb-15
                              img(src='images/blog/summit.jpg' alt='featured-projects')
                            //  Text 
                            h5.h5-md
                              a(href='visa-details') 858 環球專才移民計劃
                            p.wsmwnutxt.
                              858 GTI Visa
                              
                          //  END MEGAMENU 推薦項目
                          //  MEGAMENU LATEST PROJECTS
                          .col-md-12.col-lg-4
                            //  Title 
                            h3.title 最新移民途徑:
                            //  Latest Projects
                            ul.latest-news
                              //  Post #1 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-1.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='visa-details-06') 澳洲讀書移民計劃-香港組別
                                  p 43 Comments
                              //  Post #2 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-2.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='visa-details-04') 愛爾蘭投資移民
                                  p 38 Comments
                              //  Post #3 
                              li.clearfix.d-flex.align-items-center
                                //  Image 
                                img.img-fluid(src='images/blog/latest-post-3.jpg' alt='blog-post-preview')
                                //  Text 
                                .post-summary
                                  a(href='visa-details-02') 澳洲雇主（457、482至PR簽證)-香港組別
                                  p 29 Comments
                          //  END MEGAMENU LATEST NEWS 
                        //  End row 
                      //  End container 
                    //  End wsmegamenu 
                  //  END MEGAMENU 
                  //  SIMPLE NAVIGATION LINK 
                  li.nl-simple(aria-haspopup='true')
                    a(href='contacts-1') 聯絡我們
                  //  LAST NAVIGATION LINK 
                  li.nl-simple(aria-haspopup='true')
                    a.header-btn.btn-primary.tra-black-hover.last-link(href='https://www.facebook.com/pg/worlgohk/events') 免費講座
              //  END MAIN MENU 
          //  END NAVIGATION MENU 
        //  End header-wrapper 
      //  END HEADER 
      //
         INNER PAGE WRAPPER
        			============================================= 
      .inner-page-wrapper
        //
           VISA DETAILS PAGE HERO
          				============================================= 
        section#visa-details-page.page-hero-section.division
          .container
            .row
              //  PAGE HERO TEXT 
              .col-md-7
                .hero-txt.white-color
                  h2.h2-xs 英國技術移民
              //  END PAGE HERO TEXT 
            //  End row 
          //  End container 
        //  END VISA DETAILS PAGE HERO 
        //
           BREADCRUMB
          				============================================= 
        #breadcrumb.bg-darkblue.division
          .container
            .row
              .col
                nav(aria-label='breadcrumb')
                  ol.breadcrumb.white-color
                    li.breadcrumb-item
                      a(href='/') 主頁面
                    li.breadcrumb-item
                      a(href='visa-list-2') 簽證類別
                    li.breadcrumb-item.active(aria-current='page') UK Skilled Tier 2 Worker Visa
            //  End row 
          //  End container 
        //  END BREADCRUMB 
        //
           ABOUT-9
          				============================================= 
        section#about-9.wide-60.about-section.division
          .container
            .row
              //  ABOUT TEXT 
              .col-lg-8
                .about-9-txt.mb-40.pr-15
                  //  Title 
                  h3.h3-md UK Skilled Visa
                   
                  //  Text 
                  p.
                   You must:
                    
                  //  List 
                  ul.txt-list
                    li Have a job offer from an "approved employer" at an "appropriate skill level"
                    li.
                      Have 70 points
                      
                    li be invited to apply for the visa

                  //  Text
                  h3.h3-md
                  p.
                    Worlgo provides the following employer sponsorship options for this visa:
                  //list
                  ul.txt-list
                    li.
                      Restaurants & Supermarkets
                      
                    li Nurses and Doctors
                  //  Image 
                  .about-9-img.mt-40.mb-40
                    img.img-fluid(src='images/image-10.jpg' alt='about-image')
                  //  Text 
                  p.
                    This is a 5 year visa. It lets you stay in the UK and apply for permanent residency.
                    
                  //  Small Title 
                  h5.h5-md.mt-25 Documents for UK visa application
                  //  List 
                  ul.txt-list
                    li Passport Colour copies of the biographical pages of the current passports of all applicants
                    li The jobs and educational background of applicant and applicate’s spouse
                    li 4 passport-sized coloured photographs of each applicant (35x45mm)
                    
              //  END ABOUT TEXT 
              //  SIDEBAR 
              aside#sidebar.col-lg-4
                //  SIDEBAR FORM 
                #request-form.mb-40
                  form.row.request-form.bg-darkblue(name='requestForm')
                    //  Request Form Text 
                    .col-md-12.white-color
                      h5.h5-lg Free Consultation
                    //  Request Form Input 
                    #input-name.col-md-12
                      input.form-control.name(type='text' name='name' placeholder='Enter Your Name*' required)
                    //  Request Form Input 
                    #input-email.col-md-12
                      input.form-control.email(type='text' name='email' placeholder='Enter Your Email*' required)
                    //  Request Form Input 
                    #input-phone.col-md-12
                      input.form-control.phone(type='tel' name='phone' placeholder='Enter Your Phone Number*' required)
                    //  Request Form Select 
                    #input-visa.col-md-12.input-visa
                      select#inlineFormCustomSelect1.custom-select.visa(name='visa' required)
                        option(value) Select Visa
                        option 858 環球專才移民計劃
                        option 188 商業/投資/SIV 500萬
                        option 新西蘭投資移民
                        option 英國技術移民
                    //  Request Form Select 
                    #input-country.col-md-12.input-country
                      select#inlineFormCustomSelect2.custom-select.country(name='country' required)
                        option(value) Visa For
                        option 澳洲
                        option 加拿大
                        option UK
                        option 台灣
                        option 葡萄牙
                    //  Request Form Button 
                    .col-md-12.form-btn
                      button.btn.btn-primary.tra-black-hover.submit(type='submit') 請聯絡我!
                    //  Request Form Message 
                    .col-md-12.request-form-msg.text-center
                      .sending-msg
                        span.loading
                //  END SIDEBAR FORM 
                //  SIDEBAR CATEGORIES 
                .blog-categories.sidebar-div.mb-50
                  //  Title 
                  h5.h5-lg 簽證類別:
                  //  List 
                  ul.blog-category-list.clearfix
                    li
                      a.txt-400(href='visa-details-04')
                        i.fas.fa-genderless
                        | 愛爾蘭投資移民
                    li
                      a.txt-400(href='OSHC')
                        i.fas.fa-genderless
                        |  海外留學生醫療保險
                    li
                      a.txt-400(href='visa-details-02')
                        i.fas.fa-genderless
                        |  澳洲雇主（457、482至PR簽證)-香港組別
                //  SIDEBAR COUNTRIES 
                .sidebar-countries.sidebar-div.mb-50
                  //  Title 
                  h5.h5-lg 國家：
                  //  List 
                  ul.sidebar-country-list.clearfix
                    li
                      a(href='canada')
                        img.img-fluid(src='images/sidebar-canada.jpg' alt='sidebar-image')
                        | 加拿大
                    li
                      a(href='UK')
                        img.img-fluid(src='images/sidebar-uk.jpg' alt='sidebar-image')
                        | 英國
                    li
                      a(href='country-detail')
                        img.img-fluid(src='images/sidebar-usa.jpg' alt='sidebar-image')
                        | United States of America
              //  END SIDEBAR 
            //  End row 
          //  End container 
        //  END ABOUT-9 
        //
          FOOTER-3
                ============================================= 
        footer#footer-3.wide-40.footer.division
          .container
            //  FOOTER CONTENT 
            .row
              //  FOOTER CONTACTS 
              .col-md-4.col-lg-3.col-xl-3
                .footer-box.mb-40
                  //  Title 
                  h5.h5-md 公司地址
                  //  Address 
                  p 港灣道1號 
                  p 會展廣場辦公大樓22樓2207室
                  //  Phone 
                  p.mt-20 Phone: +852 3106 8789
                  //  Email 
                  p.foo-email
                    | Email: 
                    a(href='/cdn-cgi/l/email-protection#8cf5e3f9fee8e3e1ede5e2cce1ede5e0a2efe3e1')
                      span.__cf_email__(data-cfemail='83ebe6efefecc3e7e6eeecade0ecee') info@worlgo.com
                  //  Phone 
                  p Office Time: 9AM - 6PM
              //  FOOTER LINKS 
              .col-md-4.col-lg-3.col-xl-3
                .footer-links.mb-40
                  //  Title 
                  h5.h5-md Countries
                  //  Footer Links 
                  ul.foo-links.clearfix
                    li
                      a(href='australia') 澳洲
                    li
                      a(href='canada') 加拿大
                    li
                      a(href='UK') UK
                    li
                      a(href='#') 台灣
                    li
                      a(href='portugal') 葡萄牙
                    li
                      a(href='newzealand') 新西蘭
              //  FOOTER LINKS 
              .col-md-4.col-lg-3.col-xl-3
                .footer-links.mb-40
                  //  Title 
                  h5.h5-md Visas
                  //  Footer Links 
                  ul.foo-links.clearfix
                    li
                      a(href='visa-details-03') 澳洲投資移民簽證
                    li
                      a(href='visa-details-02') 澳洲工作簽
                    li
                      a(href='visa-details-05') 加拿大工作簽
                    li
                      a(href='visa-details-01') 英國工作簽
                    li
                      a(href='#') Visa Statistics
              //  FOOTER NEWSLETTER FORM 
              .col-lg-3.col-xl-3
                .footer-form.mb-20
                  //  Title 
                  h5.h5-md Stay Always In Touch
                  //  Newsletter Form Input 
                  form.newsletter-form
                    .input-group
                      input.form-control#s-email(type='email' placeholder='Your email address' required)
                      span.input-group-btn
                        button.btn.btn-primary.tra-black-hover(type='submit') Subscribe
                    //  Newsletter Form Notification 
                    label.form-notification(for='s-email')
            //  END FOOTER CONTENT 
            //  BOTTOM FOOTER 
            .bottom-footer
              .row.d-flex.align-items-center
                //  FOOTER LOGO 
                .col-md-4.col-lg-3
                  //  Footer Logo 
                  //  For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 400 x 100 pixels) 
                  img(src='images/Worlgo logo - brown & orange.png' width='200' height='50' alt='footer-logo')
                //  FOOTER SOCIALS LINKS 
                .col-md-8.col-lg-9.text-right
                  p.footer-copyright
                    | © Copyright 
                    span Worlgo Migration 2021
                    | . All Rights 
                    a(href='https://www.worlgo.com/' title='Worlgo Migration') Reserved
                  p.p-sm
                    a(href='privacy') Privacy Policy
                  p.p-sm
                    a(href='#') Terms & Conditions
                  p.p-sm
                    a(href='#') Cookies
            //  END BOTTOM FOOTER 
          //  End container 
        //  END FOOTER-3 
      //  END INNER PAGE WRAPPER 
    //  END PAGE CONTENT 
    //
       EXTERNAL SCRIPTS
      		============================================= 
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/modernizr.custom.js')
    script(src='js/jquery.easing.js')
    script(src='js/jquery.appear.js')
    script(src='js/jquery.stellar.min.js')
    script(src='js/menu.js')
    script(src='js/materialize.js')
    script(src='js/jquery.scrollto.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/jquery.magnific-popup.min.js')
    script(src='js/hero-request-form.js')
    script(src='js/hero-register-form.js')
    script(src='js/request-form.js')
    script(src='js/contact-form.js')
    script(src='js/comment-form.js')
    script(src='js/jquery.ajaxchimp.min.js')
    script(src='js/jquery.validate.min.js')
    //  Custom Script 
    script(src='js/custom.js')
    //  HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. 
    //
       [if lt IE 9]>
      			<script src="js/html5shiv.js" type="text/javascript"></script>
      			<script src="js/respond.min.js" type="text/javascript"></script>
      		<![endif] 
    //
    //-    STYLE SWITCHER
    //-   		============================================= 
    //- #stlChanger
    //-   .blockChanger.bgChanger
    //-     a.chBut.icon-xs(href='#')
    //-       span.flaticon-292-gear
    //-     .chBody
    //-       .stBlock.text-center(style='margin: 30px 20px 20px 16px;')
    //-         p Color Scheme
    //-         .stBgs
    //-           a(href='javascript:chooseStyle(\'aqua-theme\', 60)')
    //-             img(src='images/color-scheme/aqua.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'salmon-theme\', 60)')
    //-             img(src='images/color-scheme/salmon.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'blue-theme\', 60)')
    //-             img(src='images/color-scheme/blue.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'red-theme\', 60)')
    //-             img(src='images/color-scheme/red.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'olive-theme\', 60)')
    //-             img(src='images/color-scheme/olive.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'darkred-theme\', 60)')
    //-             img(src='images/color-scheme/darkred.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'teal-theme\', 60)')
    //-             img(src='images/color-scheme/teal.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'yellow-theme\', 60)')
    //-             img(src='images/color-scheme/yellow.png' width='50' height='50' alt)
    //-           a(href='javascript:chooseStyle(\'green-theme\', 60)')
    //-             img(src='images/color-scheme/green.png' width='50' height='50' alt)
    //-       .stBlock.text-center(style='margin: 0px 32px 25px 20px;')
    //-         a.btn.btn-primary.black-hover(href='javascript:chooseStyle(\'none\', 60)') Reset color
    //-       .stBlock.text-center(style='margin:30px 20px 30px 16px')
    //-         p Choose Layout
    //-         a.s_1(href='/')
    //-           img(src='images/color-scheme/l-01.jpg' width='175' height='140' alt='layout-image')
    //-         a.s_1(href='demo-2')
    //-           img(src='images/color-scheme/l-02.jpg' width='175' height='130' alt='layout-image')
    //-         a.s_1(href='demo-3')
    //-           img(src='images/color-scheme/l-03.jpg' width='175' height='110' alt='layout-image')
    //-         a.s_1(href='demo-4')
    //-           img(src='images/color-scheme/l-04.jpg' width='175' height='130' alt='layout-image')
    //-         a.s_1(href='demo-5')
    //-           img(src='images/color-scheme/l-05.jpg' width='175' height='110' alt='layout-image')
    //-         a.s_1(href='demo-6')
    //-           img(src='images/color-scheme/l-06.jpg' width='175' height='150' alt='layout-image')
    //-         a.s_1(href='demo-7')
    //-           img(src='images/color-scheme/l-07.jpg' width='175' height='165' alt='layout-image')
    //-         a.s_1(href='demo-8')
    //-           img(src='images/color-scheme/l-08.jpg' width='175' height='100' alt='layout-image')
    //-         a.s_1(href='demo-9')
    //-           img(src='images/color-scheme/l-09.jpg' width='175' height='135' alt='layout-image')
    //- //  END SWITCHER 
    script(src='js/changer.js')
    script(defer src='js/styleswitch.js')
    script(src='js/lazysizes.min.js')